// ==========================================================================
// LV FOUNDATION - DECLARATIONS - Card
// ==========================================================================

//
// Separate card styles from card declaration because, depending on specified
// build configuration, other components may attempt to inherit from it.
// 
%card {
	@include card-base();
	@include card-styles();
}

@if ($include-lv-html-card-classes) {

	.card {
		@extend %card;
	}

	@include ghost('.card') {
		@include card-styles(
			$bg-color: $card-background-color-ghost,
			$border-color: $card-border-color-ghost,
			$box-shadow-top: $card-box-shadow-top-ghost,
			$box-shadow-left: $card-box-shadow-left-ghost,
			$box-shadow-blur: $card-box-shadow-blur-ghost,
			$box-shadow-inset: $card-box-shadow-inset-ghost,
			$box-shadow-color: $card-box-shadow-color-ghost);
	}
}