// ==========================================================================
// LV FOUNDATION - DEFAULTS - card
// ==========================================================================

// 
// Below, we establish default values for theme-variables custom to 
// LV-Foundation's implementation of card.
// 
$card-background-color: $true-white		!default;
$card-border: 			1px solid 		!default;
$card-border-radius: 	$global-radius 	!default;
$card-box-shadow: 		0 				!default;
$card-padding: 			1rem 0.5rem 	!default;
$card-padding-medium: 	0.75rem 		!default;
$card-border-color: 	$light-grey		!default

//Box shadow settings (created to ease ghosting)
$card-box-shadow-top: 	1px 		!default;
$card-box-shadow-left: 	3px 		!default;
$card-box-shadow-blur: 	3px 		!default;
$card-box-shadow-inset:	0			!default;
$card-box-shadow-color: $light-grey	!default;

//
//Ghosting Card
//
$card-background-color-ghost: 	transparent 					!default;
$card-border-color-ghost: 		rgba($ghost-text-color, 0.75) 	!default;
$card-box-shadow-top-ghost: 	1px 							!default;
$card-box-shadow-left-ghost: 	3px 							!default;
$card-box-shadow-blur-ghost: 	0 								!default;
$card-box-shadow-inset-ghost: 	0 								!default;
$card-box-shadow-color-ghost: 	rgba($ghost-text-color, 0.5) 	!default;