
// 
// Setting border-radius high to show pill effect
// 
$button-border-radius:	1000px;
$button-padding-horiz:	2rem;
$button-padding-vert:	0.75rem;

$primary-button-bg-color: $primary-color;
$secondary-button-bg-color: $secondary-color;
$tertiary-button-bg-color: $tertiary-color;
$success-button-bg-color: $success-color;
$alert-button-bg-color: $alert-color;
$info-button-bg-color: $info-color;
$warning-button-bg-color: $warning-color;
// $dull-button-bg-color: $dull-color;

$primary-button-border-color: $primary-button-bg-color;
$secondary-button-border-color: $secondary-button-bg-color;
$tertiary-button-border-color: $tertiary-button-bg-color;
$success-button-border-color: $success-button-bg-color;
$alert-button-border-color: $alert-button-bg-color;
$info-button-border-color: $info-button-bg-color;
$warning-button-border-color: $warning-button-bg-color;
// $dull-button-border-color: $dull-button-bg-color;

$primary-button-bg-color: $primary-color;
$primary-button-bg-hover: $primary-mute-color;
$primary-button-bg-active: scale-color($primary-button-bg-hover, $lightness: -10%);
$primary-button-border-color: $primary-button-bg-color;
$primary-button-border-color-hover: $primary-button-bg-hover;
$primary-button-border-color-active: $primary-button-bg-active;
$primary-button-visited-color: $true-white;
$primary-button-border-bottom-color-filter-active: $primary-button-bg-color;

$secondary-button-bg-color: $true-black;
$secondary-button-bg-hover: scale-color($secondary-button-bg-color, $lightness: 10%);
$secondary-button-bg-active: scale-color($secondary-button-bg-hover, $lightness: 20%);
$secondary-button-border-color: $secondary-button-bg-color;
$secondary-button-border-color-hover: $secondary-button-bg-hover;
$secondary-button-border-color-active: $secondary-button-bg-active;
$secondary-button-visited-color: $true-white;
$secondary-button-border-bottom-color-filter-active: $secondary-button-bg-color;

$tertiary-button-bg-color: $tertiary-color;
$tertiary-button-bg-hover: $tertiary-color-mute;
$tertiary-button-bg-active: scale-color($tertiary-button-bg-hover, $lightness: -10%);
$tertiary-button-border-color: $tertiary-button-bg-color;
$tertiary-button-border-color-hover: $tertiary-button-bg-hover;
$tertiary-button-border-color-active: $tertiary-button-bg-active;
$tertiary-button-visited-color: $true-white;
$tertiary-button-border-bottom-color-filter-active: $tertiary-button-bg-color;

$success-button-bg-color: $success-color;
$success-button-bg-hover: $success-color-mute;
$success-button-bg-active: scale-color($success-button-bg-hover, $lightness: -10%);
$success-button-border-color: $success-button-bg-color;
$success-button-border-color-hover: $success-button-bg-hover;
$success-button-border-color-active: $success-button-bg-active;
$success-button-visited-color: $true-white;
$success-button-border-bottom-color-filter-active: $success-button-bg-color;

$alert-button-bg-color: $alert-color;
$alert-button-bg-hover: $alert-color-mute;
$alert-button-bg-active: scale-color($alert-button-bg-hover, $lightness: -10%);
$alert-button-border-color: $alert-button-bg-color;
$alert-button-border-color-hover: $alert-button-bg-hover;
$alert-button-border-color-active: $alert-button-bg-active;
$alert-button-visited-color: $true-white;
$alert-button-border-bottom-color-filter-active: $alert-button-bg-color;

$warning-button-bg-color: $warning-color;
$warning-button-bg-hover: $warning-color-mute;
$warning-button-bg-active: scale-color($warning-button-bg-hover, $lightness: -10%);
$warning-button-border-color: $warning-button-bg-color;
$warning-button-border-color-hover: $warning-button-bg-hover;
$warning-button-border-color-active: $warning-button-bg-active;
$warning-button-visited-color: $true-white;
$warning-button-border-bottom-color-filter-active: $warning-button-bg-color;

$info-button-bg-color: $info-color;
$info-button-bg-hover: $info-color-mute;
$info-button-bg-active: scale-color($info-button-bg-hover, $lightness: -10%);
$info-button-border-color: $info-button-bg-color;
$info-button-border-color-hover: $info-button-bg-hover;
$info-button-border-color-active: $info-button-bg-active;
$info-button-visited-color: $true-white;
$info-button-border-bottom-color-filter-active: $info-button-bg-color;

$dull-button-bg-color: $medium-grey;
$dull-button-bg-hover: scale-color($dull-button-bg-color, $lightness: -7.5%);
$dull-button-bg-active: scale-color($dull-button-bg-color, $lightness: -15%);
$dull-button-border-color: $dull-button-bg-color;
$dull-button-border-color-hover: $dull-button-bg-hover;
$dull-button-border-color-active: $dull-button-bg-active;
$dull-button-visited-color: $true-white;
$dull-button-border-bottom-color-filter-active: $dull-button-bg-color;