body {
  background-color: #F1F1F1;
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1 0 auto;
}

header, footer {
  flex:none;

  svg {
    overflow:hidden;
  }
}

h2 {

  a:visited {
    text-decoration: none;
    color: $primary-color;
  }
}

.back-to-office {
  background: $action-color;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;

  .row {
    margin-bottom: 0;
  }

  button {
    background: transparent;
    border: none;
    box-shadow: none;
    color: $true-white;
    padding: .25em;
    margin: 0;

    svg {
      width: 12px;
      height: 12px;
      margin-right: .25em;
      transform: translateY(1px);

      path {
        fill: $true-white;
      }
    }

    &:hover,
    &:focus {
      background: transparent;
      text-decoration: underline !important;
    }
  }
}

.is-hidden {
  display: none;
}

.grid-container {
  max-width: 1120px;
  padding: 0 16px;
  //margin-left: auto;
  //margin-right: auto;
}
.inside-page-margin {
  margin: 0 1rem;
}

h1 {
  margin-bottom: .75em;
}

.card {
  padding: 1.5em;
  margin-bottom:1em;

  .table{
    tbody{
        tr{
            border-left:none;
            border-right:none;
        }
    }

  }


}

main {
  display: block;
  min-height: 70%;
  margin: 2em 0;
  flex:1 0 auto;
}

.summary-loader {
  display: block;
  margin: 4em auto;
}


/*** Global Card Styles ***/

.policy-link {
  display: inline-block;
}

.policy-count {
  margin: 0;
  cursor: pointer;
}

.count-pill {
  border-radius: 15px;
  background-color: $primary-color;
  color: $true-white;
  display: inline-block;
  height: 25px;
  padding-top: .25rem;
  text-align: center;
  width: 30px;
}

.owner-label,
.page-footnote,
.insured-label {
  margin: 0;
}

.owner-label,
.page-footnote {
  color: $off-black;
}

.owner-label {
  display: block;
}

.owner-label.mobile {
  margin-bottom: 1rem;
  margin-left: 1.5rem;
}

.sub-row {
  /*UITK Override*/
  background: $off-white !important;

  td:first-child {
    padding-left: 1.8rem;
  }
}

.summary-page .footnotes i {
  font-size: 80%;
  font-style: italic;
  display: block;
}

/**Table Overrides */
.table {
  td, th{
    vertical-align: top;
  }

}



/* ******************* Global Animations ******************* */

.card-transition-appear {
  opacity: 0.01;
}

.card-transition-appear.card-transition-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.tab-transition {
  &-enter {
    opacity: 0;
  }

  &-enter,
  &-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
  }

  &-leave {
    opacity: 1;
  }

  &-leave,
  &-leave-active {
    opacity: 0;
    transition: opacity 200ms ease-in;
  }

  &-height {
    transition: height 200ms ease-in-out;
  }
}
