// UI tooklit import
$include-html-classes: true;
$include-lv-font-face-declarations: true;

$include-lv-html-alert-classes: true;
$include-lv-html-block-grid-classes: true;
$include-lv-html-button-classes: true;
$include-lv-html-card-classes: true;
$include-lv-html-form-classes: true;
$include-lv-html-grid-classes: true;
$include-lv-html-icons-classes: true;
$include-lv-html-keyval-charts-classes: true;
$include-lv-html-label-classes: true;
$include-lv-html-loading-indicators-classes: true;
$include-lv-html-modals-classes: true;
$include-lv-html-navigation-classes: true;
$include-lv-html-select-button-classes: true;
$include-lv-html-tables-classes: true;
$include-lv-html-tabs-classes: true;
$include-lv-html-type-classes: true;
$include-lv-html-visibility-classes: true;
$include-lv-html-top-level-classes: true;
$include-lv-html-utility-classes: true;

// Point asset paths to node_modules for `sass-loader`
$asset-build-path: "~ui-toolkit/src";

// IMPORT THEME
@import "node_modules/ui-toolkit/src/scss/theme/nm";

// IMPORT LV-FOUNDATION COMPONENTS
@import "node_modules/ui-toolkit/src/scss/core";
