// ==========================================================================
// LV FOUNDATION - Utility Classes - Colors
// ==========================================================================

// 
// Here, we declare utility classes for colors.

//
// Text Colors
// ====================================================

@if $include-lv-html-utility-classes {

	.text-primary			{ color: $primary-color; }
	.text-secondary			{ color: $secondary-color; }
	.text-success			{ color: $success-color; }
	.text-alert				{ color: $alert-color; }
	.text-info				{ color: $info-color; }
	.text-warning			{ color: $warning-color; }

	// Text Mutes
	.text-primary-mute		{ color: $primary-mute-color; }
	.text-secondary-mute	{ color: $secondary-mute-color; }
	.text-success-mute		{ color: $success-mute-color; }
	.text-alert-mute		{ color: $alert-mute-color; }
	.text-info-mute			{ color: $info-mute-color; }
	.text-warning-mute		{ color: $warning-mute-color; }

	// Text Neutrals
	.text-medium-grey		{ color: $medium-grey; }
	.text-dark-grey			{ color: $dark-grey; }
	.text-off-black			{ color: $off-black; }
	.text-black				{ color: $true-black; }
	.text-white				{ color: $true-white; }

	//
	// Background Colors
	// ====================================================

	.bg-primary			{ background-color: $primary-color; }
	.bg-secondary		{ background-color: $secondary-color; }
	.bg-success			{ background-color: $success-color; }
	.bg-alert			{ background-color: $alert-color; }
	.bg-info 			{ background-color: $info-color; }
	.bg-warning			{ background-color: $warning-color; }

	// Background Pastels
	.bg-primary-pastel		{ background-color: $primary-pastel-color; }
	.bg-secondary-pastel	{ background-color: $secondary-pastel-color; }
	.bg-success-pastel		{ background-color: $success-pastel-color; }
	.bg-alert-pastel		{ background-color: $alert-pastel-color; }
	.bg-info-pastel			{ background-color: $info-pastel-color; }
	.bg-warning-pastel		{ background-color: $warning-pastel-color; }

	// Background Neutrals
	.bg-white			{ background-color: $true-white; }
	.bg-off-white		{ background-color: $off-white; }
	.bg-light-grey		{ background-color: $light-grey; }
	.bg-medium-grey		{ background-color: $medium-grey; }
	.bg-dark-grey		{ background-color: $dark-grey; }
	.bg-off-black		{ background-color: $off-black; }
	.bg-black			{ background-color: $true-black; }

}