// ==========================================================================
// LV FOUNDATION - Utility Classes - Display
// ==========================================================================

// 
// Here, we declare a set of classes used to display elements.
// 

@if ($include-lv-html-utility-classes) {
	.inline 		{ display: inline; }
	.block 			{ display: block; }
	.inline-block	{ display: inline-block; }
}