// ==========================================================================
// LV FOUNDATION - Utility Classes - Resets
// ==========================================================================

// 
// Here, we declare a set of classes used to reset base components.
// 

@if ($include-lv-html-utility-classes) {

	.reset-list {
		margin-left: 0;
		list-style-type: none;
		font-size: inherit;
	}

	.reset-button {
		@include reset-button();
	}

	.reset-child-margins {
		@include reset-child-margins();
	}
}