// ==========================================================================
// LV FOUNDATION - Utility Classes - Spacing
// ==========================================================================

// 
// Here, we declare a set of classes used to provide spacing as necesssary
// throughout our applications.
// 

//
// MAP DECLARATIONS
// ==========================================================================

// 
// Populate maps with necessary values to be iterated upon below when
// properties are declared.
// 

$spacing-values: (
	none: 	$spacing-none-val,
	tiny:	$spacing-tiny-val,
	small:	$spacing-small-val,
	medium:	$spacing-medium-val,
	large:	$spacing-large-val,
	xlarge:	$spacing-xlarge-val
);

$spacing-positions: (
	top: ("top"),
	bottom: ("bottom"),
	left: ("left"),
	right: ("right"),
	vert: ("top", "bottom"),
	horiz: ("left", "right")
);

$spacing-props: "margin", "padding";

//
// PROP DECLARATION
// ==========================================================================

// 
// Iterate over properties declared above to generate desired rules of the
// format:
// 
// .margin-top-small {
// 		margin-top: #{$spacing-small-val};
// }
// 
// Properties are declared for each:
// 	- value: zero, tiny, small, etc.
// 	- position: top, bottom, left, right, etc.
// 	- property: margin, padding
// 	

@if $include-lv-html-utility-classes {	
	@each $spacing-prop in $spacing-props {

		@each $spacing-name, $spacing-val in $spacing-values {

			.#{$spacing-prop}-#{$spacing-name} {
				#{$spacing-prop}: $spacing-val;
			}

			@each $position-name, $suffix-list in $spacing-positions {
				.#{$spacing-prop}-#{$position-name}-#{$spacing-name} {
					@each $suffix in $suffix-list {
						#{$spacing-prop}-#{$suffix}: $spacing-val;
					}
				}	
			}
		}
	}
}