// ==========================================================================
// LV FOUNDATION - Utility Classes - Tabular Lining
// ==========================================================================

// 
// Here, we declare utility classes relevant to the use of Tabular Lining.
// 

@if ($include-lv-html-utility-classes and $tabular-lining-font) {
	.text-tabular-lining {
		font-family: $tabular-lining-font;
	}
}