// ==========================================================================
// LV FOUNDATION - Utility Classes - Vertical Alignment
// ==========================================================================

// 
// Here, we declare a set of classes used to vertically align elements.
// 

@if $include-lv-html-utility-classes {
	.valign-top			{ vertical-align: top; }
	.valign-middle		{ vertical-align: middle; }
	.valign-bottom		{ vertical-align: bottom; }
}