@mixin tab-padding($padding-Y, $padding-X, $border-width, $border-position) {

	$padding-top: $padding-Y;
	$padding-bottom: $padding-Y;
	$padding-left: $padding-X;
	$padding-right: $padding-X;
	
	@if $border-position == "left" {
		$padding-left: $padding-X - $border-width;
	} @else if $border-position == "right" {
		$padding-right: $padding-X - $border-width;
	} @else if $border-position == "top" {
		$padding-top: $padding-Y - $border-width;
	} @else if $border-position == "bottom" {
		$padding-bottom: $padding-Y - $border-width;
	}
	
	padding: $padding-top $padding-right $padding-bottom $padding-left;
}