// ==========================================================================
// LV FOUNDATION - labels - label-size
// =========================================================================

//
// Here, we define label-base, used to set the base properties for all label
// elements.
//

@mixin label-base {
	display: inline-block;
	font-family: $label-font-family;
	font-weight: $label-font-weight;
	line-height: 1;
	margin-bottom: auto;
	position: relative;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;

	@if $label-border-radius > 0 {
		border-radius: $label-border-radius;
	}
}