// ==========================================================================
// LV FOUNDATION - labels - label-size
// =========================================================================

//
// Here, we define label-size, used to set the size-related properties for all
// label elements.
//

// We use this mixin to add label size styles.
// $padding - Used to determine label padding. Default: $label-padding || rem-calc(4 8 4) !default
// $text-size - Used to determine label text-size. Default: $text-size found in settings
@mixin label-size(
	$padding: $label-resp-padding,
	$margin: $label-resp-margin,
	$text-size: $label-resp-font-sizing,
	$responsive: false
) {

	@if ($padding) {
		padding: $padding;
	}
	@if ($margin) {
		margin: $margin;
	}
	@if ($text-size) {
		font-size: $text-size;
	}

	vertical-align: if($responsive, text-top, middle);
}