// @mixins
//
// We use this mixin to add label styles.
// $bg - Default: $primary-color (found in settings file)
// $radius - Default: false, Options: true, sets radius to $global-radius (found in settings file)
//
@mixin label-style(
	$bg: $primary-color,
	$auto-text-color: true,
	$text-color: null) {

	$bg-lightness: null;

	//
	// We control which background color comes through
	//
	@if ($bg) {

		//
		// This find the lightness percentage of the background color.
		//
		$bg-lightness: lightness($bg);
		background-color: $bg;
	}

	@if ($text-color) {
		color: $text-color;
	}
	@else if ($auto-text-color and $bg-lightness) {
		//
		// We control the text color for you based on the background color.
		//
		@if ($bg-lightness < 70%) { 
			color: $label-font-color-alt; 
		} 
		@else { 
			color: $label-font-color;
		}
	}
}
