@mixin card-base(
	$border:			$card-border,
	$border-radius:		$card-border-radius,
	$padding:			$card-padding,
	$padding-medium:	$card-padding-medium) {

	border: $border;
	border-radius: $border-radius;
	padding: $padding;

	@if ($padding-medium and $padding-medium != $padding) {
		@media #{$medium-up} {
			padding: $card-padding-medium;
		}
	}
}

@mixin card-styles(
	$bg-color: 			$card-background-color,
	$border-color: 		$card-border-color,
	$box-shadow-top: 	$card-box-shadow-top,
	$box-shadow-left: 	$card-box-shadow-left,
	$box-shadow-blur: 	$card-box-shadow-blur,
	$box-shadow-inset:	$card-box-shadow-inset,
	$box-shadow-color:	$card-box-shadow-color) {

	border-color: $border-color;
	background-color: $bg-color;
	box-shadow: $box-shadow-top $box-shadow-left $box-shadow-blur $box-shadow-inset $box-shadow-color;
}