// ==========================================================================
// LV FOUNDATION - tables
// =========================================================================

//
// Here, we define custom CSS-declaration overrides for Foundation's built-in
// tables component.
//

//
// CSS DECLARATIONS
// ==========================================================================

@if ($include-lv-html-tables-classes or $include-lv-html-keyval-charts-classes) {

	%table-row-cell 		{ @include table-row-cell(); }
	%table-cell 			{ @include table-cell(); }
	%table-head-styles		{ @include table-head-styles(); }

	%table-base 		{ 
		@include table-base();
		@include table-styles(); 
	}
}

@if ($include-lv-html-tables-classes) {
	
	.table {
		@extend %table-base;
		
		thead {
			@extend %table-head-styles;
			th, td {
				@include table-head-cell-base();
				@include table-head-cell-styles();
			}
		}

		tbody tr {
			@include table-row-base(); 
			@include table-row-styles();
			
			&.success {
				@include table-row-contextual-styles(
					$bg-color: $table-row-success-bg-color, 
					$font-color: $table-row-success-color,
					$border-bottom-color: $table-row-success-color
				);
			}
			&.warning {
				@include table-row-contextual-styles(
					$bg-color: $table-row-warning-bg-color, 
					$font-color: $table-row-warning-color,
					$border-bottom-color: $table-row-warning-color
				);
			}
			&.info {		
				@include table-row-contextual-styles(
					$bg-color: $table-row-info-bg-color, 
					$font-color: $table-row-info-color,
					$border-bottom-color: $table-row-info-color
				);
			}
			&.alert {		
				@include table-row-contextual-styles(
					$bg-color: $table-row-alert-bg-color, 
					$font-color: $table-row-alert-color,
					$border-bottom-color: $table-row-alert-color
				);
			}
			
			td { 
				@extend %table-row-cell; 
			}
		}

		thead tr th,
		tfoot tr th,
		tfoot tr td,
		tbody tr th,
		tbody tr td,
		tr td {
			@extend %table-cell;
		}
	}
	
	table.scrollable, .table.scrollable {
		@include table-scrollable()
	}
	
	@include table-sticky()

	@include ghost('.table') {

		thead {
			@include table-head-styles(
				$table-head-background: $table-head-bg-ghost
			);
			
			th, 
			td {  
				@include table-head-cell-styles(
					$font-color: $table-head-font-color-ghost,
					$sorted-font-color: $table-sorted-header-color-ghost,
					$sortable-font-color: $table-sortable-head-font-color,
					$border-bottom-color: $table-row-border-bottom-color-ghost,
					$border-side-color: $table-head-border-side-color-ghost
				); 
				//
				// Must set border-bottom explicitly here to overcome chrome bug
				// creating partial double border. See http://stackoverflow.com/questions/35418554/borders-opacity-rgbax-x-x-y-in-a-table-not-working-properly
				//
				border-bottom: $table-head-bottom-border-ghost; 
			}
		}

		tbody tr {
			@include table-row-styles(
				$border-side-color: $table-row-border-side-color-ghost,
				$border-bottom-color: $table-row-border-bottom-color-ghost,
				$font-color: $table-row-font-color-ghost,
				$hover-bg-color: $table-row-hover-bg-color-ghost,
				$hover-border-color: $table-row-hover-border-bottom-color-ghost,
				$actionable-bg-color: $table-row-actionable-bg-color-ghost,
				$actionable-font-color: $table-row-actionable-font-color-ghost,
				$actionable-border-bottom-color: $table-row-actionable-border-bottom-color-ghost,
				$even-row-bg: $table-even-row-bg-ghost,
				$header-font-color: $table-group-header-font-color-ghost
			);
			
			&.success {
				@include table-row-contextual-styles(
					$bg-color: $table-row-success-bg-color-ghost, 
					$font-color: $table-row-success-color-ghost,
					$border-bottom-color: $table-row-success-color-ghost
				);
			}
			&.warning {
				@include table-row-contextual-styles(
					$bg-color: $table-row-warning-bg-color-ghost, 
					$font-color: $table-row-warning-color-ghost,
					$border-bottom-color: $table-row-warning-color-ghost
				);
			}
			&.info {		
				@include table-row-contextual-styles(
					$bg-color: $table-row-info-bg-color-ghost, 
					$font-color: $table-row-info-color-ghost,
					$border-bottom-color: $table-row-info-color-ghost
				);
			}
			&.alert {		
				@include table-row-contextual-styles(
					$bg-color: $table-row-alert-bg-color-ghost, 
					$font-color: $table-row-alert-color-ghost,
					$border-bottom-color: $table-row-alert-color-ghost
				);
			}
		}
	}
}

@if ($include-lv-html-keyval-charts-classes) {

	ul.keyval-chart {
		@extend %table-base;
		@include keyval-base();

		> li {
			@include table-row-base($child: null);
			@include table-row-styles($child: null);
			
			&.success {
				@include table-row-contextual-styles(
					$bg-color: $table-row-success-bg-color, 
					$font-color: $table-row-success-color,
					$border-bottom-color: $table-row-success-color,
					$child: null
				);
			}
			&.warning {
				@include table-row-contextual-styles(
					$bg-color: $table-row-warning-bg-color, 
					$font-color: $table-row-warning-color,
					$border-bottom-color: $table-row-warning-color,
					$child: null
				);
			}
			&.info {		
				@include table-row-contextual-styles(
					$bg-color: $table-row-info-bg-color, 
					$font-color: $table-row-info-color,
					$border-bottom-color: $table-row-info-color,
					$child: null
				);
			}
			&.alert {		
				@include table-row-contextual-styles(
					$bg-color: $table-row-alert-bg-color, 
					$font-color: $table-row-alert-color,
					$border-bottom-color: $table-row-alert-color,
					$child: null
				);
			}
			
			.key, 
			.val {
				@extend %table-row-cell;
			}
		}

		> .chart-head {
			@extend %table-head-styles;
			@include keyval-head-styles();
			
			.key, 
			.val {
				@include table-head-cell-base();
				@include table-head-cell-styles(
					$border-bottom-color: null,
					$border-side-color: null
				);
			}
		}

		> .chart-head,
		> li {
			@include clearfix();
			.key, 
			.val {
				@extend %table-cell;
				@include keyval-cell();
			}

			.val {
				@include keyval-cell-val();
			}
		}

		@include keyval-column-widths();
	}

	@include ghost('ul.keyval-chart') {

		> li {
			@include table-row-styles(
				$border-side-color: $table-row-border-side-color-ghost,
				$border-bottom-color: $table-row-border-bottom-color-ghost,
				$font-color: $table-row-font-color-ghost,
				$hover-bg-color: $table-row-hover-bg-color-ghost,
				$hover-border-color: $table-row-hover-border-bottom-color-ghost,
				$actionable-bg-color: $table-row-actionable-bg-color-ghost,
				$actionable-font-color: $table-row-actionable-font-color-ghost,
				$actionable-border-bottom-color: $table-row-actionable-border-bottom-color-ghost,
				$even-row-bg: $table-even-row-bg-ghost,
				$header-font-color: $table-group-header-font-color-ghost,
				$child: null
			);
			&.success {
				@include table-row-contextual-styles(
					$bg-color: $table-row-success-bg-color-ghost, 
					$font-color: $table-row-success-color-ghost,
					$border-bottom-color: $table-row-success-color-ghost,
					$child: null
				);
			}
			&.warning {
				@include table-row-contextual-styles(
					$bg-color: $table-row-warning-bg-color-ghost, 
					$font-color: $table-row-warning-color-ghost,
					$border-bottom-color: $table-row-warning-color-ghost,
					$child: null
				);
			}
			&.info {		
				@include table-row-contextual-styles(
					$bg-color: $table-row-info-bg-color-ghost, 
					$font-color: $table-row-info-color-ghost,
					$border-bottom-color: $table-row-info-color-ghost,
					$child: null
				);
			}
			&.alert {		
				@include table-row-contextual-styles(
					$bg-color: $table-row-alert-bg-color-ghost, 
					$font-color: $table-row-alert-color-ghost,
					$border-bottom-color: $table-row-alert-color-ghost,
					$child: null
				);
			}
		}

		> .chart-head {
			@include keyval-head-styles(
				$table-bg-color: $table-head-bg-ghost
			);

			border-left: none;
			border-right: none;

			.key, 
			.val {
				@include table-head-cell-styles(
					$font-color: $table-head-font-color-ghost,
					$sorted-font-color: $table-sorted-header-color-ghost,
					$sortable-font-color: $table-sortable-head-font-color,
					$border-bottom-color: null,
					$border-side-color: null
				); 
			}
		}
	}	
}