// ==========================================================================
// LV FOUNDATION - tables
// =========================================================================

//
// Here, we define custom CSS-declaration overrides for Foundation's built-in
// tables.
//

//
// FOUNDATION DEFAULTS
// ==========================================================================

// These control the background color for the table and even rows
$table-bg: 			transparent !default;
$table-even-row-bg: transparent !default;

// These control the table cell border style
$table-border-style: 	solid 			!default;
$table-border-size: 	1px 			!default;
$table-border-color: 	$medium-grey 	!default;

// These control the table head styles
$table-head-bg: 			transparent 		!default;
$table-head-font-size: 		rem-calc(14) 		!default;
$table-head-font-color: 	$true-black 		!default;
$table-head-font-weight: 	$font-weight-bold 	!default;
$table-head-padding: 		rem-calc(8 10 10) 	!default;

// These control the table foot styles
$table-foot-bg: 			$table-head-bg 			!default;
$table-foot-font-size: 		$table-head-font-size 	!default;
$table-foot-font-color: 	$table-head-font-color 	!default;
$table-foot-font-weight: 	$table-head-font-weight !default;
$table-foot-padding: 		$table-head-padding 	!default;

// These control the caption
$table-caption-bg: 			transparent 			!default;
$table-caption-font-color: 	$table-head-font-color 	!default;
$table-caption-font-size: 	rem-calc(16) 			!default;
$table-caption-font-weight: bold 					!default;

// These control the row padding and font styles
$table-row-padding: 		rem-calc(9 10) 	!default;
$table-row-font-size: 		rem-calc(14) 	!default;
$table-row-font-color: 		$true-black 	!default;
$table-line-height: 		rem-calc(18) 	!default;
$table-row-text-decoration:	underline 		!default;

// These control the colors for ghosting tables
$table-head-border-side-color-ghost: 				rgba($ghost-text-color, 0.3) 	!default;
$table-head-bottom-border-ghost: 					1px solid 						!default;
$table-head-font-color-ghost: 						rgba($ghost-text-color, 0.6) 	!default;
$table-row-border-side-color-ghost: 				rgba($ghost-text-color, 0.3) 	!default;
$table-row-border-bottom-color-ghost: 				transparent 					!default;
$table-row-hover-border-bottom-color-ghost: 		rgba($ghost-text-color, 0.2) 	!default;
$table-row-hover-bg-color-ghost: 					rgba($ghost-text-color, 0.2) 	!default;
$table-row-actionable-bg-color-ghost: 				rgba($ghost-text-color, 0.2) 	!default;
$table-row-actionable-font-color-ghost: 			$ghost-text-color 				!default;
$table-row-actionable-border-bottom-color-ghost: 	$ghost-text-color 				!default;
$table-row-font-color-ghost: 						$ghost-text-color 				!default;
$table-even-row-bg-ghost: 							transparent 					!default;
$table-head-bg-ghost: 								transparent 					!default;
$table-sorted-header-color-ghost: 					$ghost-text-color 				!default;
$table-sortable-head-font-color: 					rgba($ghost-text-color, 0.5) 	!default;
$table-group-header-font-color-ghost: 				$ghost-text-color 				!default;


// These are for controlling the layout, display and margin of tables
$table-layout: 			auto 			!default;
$table-display: 		table-cell 		!default;
$table-margin-bottom: 	rem-calc(20) 	!default;

//
// THEMING DEFAULTS
// ==========================================================================

$table-border-spacing:	0	!default;

$table-row-border-bottom-color: false 	!default;
$table-row-border-bottom-width: 1px 	!default;

$table-row-border-side-color: $table-row-border-bottom-color !default;
$table-row-border-side-width: $table-row-border-bottom-width !default;

$table-head-border-bottom-color: $table-row-border-bottom-color !default;
$table-head-border-bottom-width: $table-row-border-bottom-width !default;

$table-head-border-side-width: 0 								!default;
$table-head-border-side-color: $table-head-border-bottom-color 	!default;

$table-head-whitespace: nowrap !default;

$table-row-actionable-font-color: 			$primary-color 									!default;
$table-row-actionable-border-bottom-color: 	$primary-color 									!default;
$table-row-actionable-bg-color: 			scale-color($primary-color, $lightness: 95%) 	!default;

$table-font-family: false !default;

$table-border-top: 		false !default;
$table-border-rigth: 	false !default;
$table-border-bottom: 	false !default;
$table-border-right: 	false !default;

$table-row-font-color: 	false !default;

// Table row default hover background hover
$table-row-hover-bg-color: 				false !default;
$table-row-hover-border-bottom-color: 	false !default;

// Sortable Table
$table-sortable-header-hover-color: 	false 	!default;
$table-sortable-header-sorted-color: 	#000 	!default;

// Scrollable Table
$table-scrollable-border-bottom-color:	$medium-grey				!default;
$table-scrollable-border-bottom-size:	2px						!default;
$table-scrollable-border-bottom-style:	$table-border-style		!default;

// Sticky Table Header
$table-sticky-thead-shadow:		0 0.25em 0.3em -0.125em rgba(0, 0, 0, 0.125)	!default;
$table-sticky-thead-bg-color:	white											!default;
$table-sticky-thead-transition:	all .125s ease-in-out							!default;
$table-sticky-thead-zindex:		99												!default;

// Group Header rows
$table-group-header-border-bottom-color: $dark-grey !default;

// Context Table Rows
$table-row-success-bg-color: 	$success-pastel-color 	!default;
$table-row-success-color: 		$success-mute-color 	!default;
$table-row-warning-bg-color: 	$warning-pastel-color 	!default;
$table-row-warning-color: 		$warning-mute-color 	!default;
$table-row-info-bg-color: 		$info-pastel-color 		!default;
$table-row-info-color: 			$info-mute-color 		!default;
$table-row-alert-bg-color: 		$alert-pastel-color 	!default;
$table-row-alert-color: 		$alert-mute-color 		!default;

//Contextual Ghosting Rows
$table-row-success-bg-color-ghost:	transparent 								!default;
$table-row-success-color-ghost:		$success-color 								!default;
$table-row-warning-bg-color-ghost:	transparent 								!default;
$table-row-warning-color-ghost:		$warning-color 								!default;
$table-row-info-bg-color-ghost:		transparent 								!default;
$table-row-info-color-ghost:		scale-color($info-color, $lightness: 50%)	!default;
$table-row-alert-bg-color-ghost:	transparent 								!default;
$table-row-alert-color-ghost:		$alert-color 								!default;
$input-affix-border-color-ghost:	rgba($ghost-text-color, 0.6)				!default;
$input-affix-bg-color-ghost:		rgba($ghost-text-color, 0.2)				!default;
$input-affix-font-color-ghost:		$ghost-text-color							!default;