// ==========================================================================
// UI-TOOLKIT - MIXIN - button-base
// ==========================================================================

//
// This mixin is used to establish base properties for button elements.
// 

// @param {Boolean}			$style		Whether or not to render style
// 										properties (eg. fonts, colors, etc.).
// @param {Display-type} 	$display	Used to control display property

@mixin button-base(
	$style: true,
	$display: $button-display
) {

	@if ($style) {

		// TODO
		// Remove vendor prefixes.
		-webkit-appearance: none;
		-moz-appearance: none;

		//
		// BASE PROPS
		// ==========================================================================
		
		border-style: $button-border-style;
		cursor: $cursor-pointer-value;
		font-family: $button-font-family;
		font-weight: $button-font-weight;
		line-height: normal;
		margin: 0 0 $button-margin-bottom;
		position: relative;
		text-align: $button-font-align;

		//
		// CONDITIONAL PROPS
		// ====================================================================

		// 
		// Below we declare properties whose default value is `false`, in which
		// case the properties should not render at all.
		// 
		
		@if ($button-letter-spacing) {
			letter-spacing: $button-letter-spacing;
		}

		@if ($button-border-radius) {
			border-radius: $button-border-radius;
		}

		@if ($button-text-decoration) {
			text-decoration: $button-text-decoration;
		} @else {
			// TODO:
			// Can we remove the !important declaration below? It's likely
			// present to prevent the application of undesired text-decoration
			// props on :hover/:active states, etc.
			text-decoration: none !important;
		}
	}
	@if $display { display: $display; }

	&.disabled,
	&[disabled] {
		box-shadow: none;
		opacity: $button-disabled-opacity;
		cursor: $button-disabled-cursor;
	}
}