// @MIXIN
//
// We use this mixin to add button color styles
//
// $bg - Background color. We can set $bg:false for a transparent background. Default: $primary-color.
// $radius - If true, set to button radius which is $button-radius || explicitly set radius amount in px (ex. $radius:10px). Default: false
// $disabled - We can set $disabled:true to create a disabled transparent button. Default: false
// $bg-hover - Button Hover Background Color. Default: $button-bg-hover
// $border-color - Button Border Color. Default: $button-border-color
@mixin button-style(
	$bg: $button-bg-color,
	$disabled: false,
	$bg-hover: null,
	$bg-active: null,
	$bg-filter-active: null,
	$border-color: $primary-button-border-color,
	$border-color-hover: null,
	$border-color-active: null,
	$border-color-filter-active: null,
	$border-bottom-color: null,
	$border-bottom-color-hover: null,
	$border-bottom-color-active: null,
	$border-bottom-color-filter-active: null,
	$text-decoration: null,
	$font-color: $primary-button-font-color,
	$font-color-hover: $primary-button-font-color-hover,
	$font-color-filter-active: null,
	$button-visited-color: null) {

	// 
	// We control which background styles are used
	// 
	@if ($bg-hover == null) {
		$bg-hover: if($bg == $button-bg-color, $button-bg-hover, scale-color($bg, $lightness: $button-function-factor));
	}

	@if ($border-color == null) {
		$border-color: if($bg == $button-bg-color, $button-border-color, scale-color($bg, $lightness: $button-function-factor));
	}
	
	// 
	// This find the lightness percentage of the background color.
	// 
	$bg-lightness: lightness($bg);
	$bg-hover-lightness: lightness($bg-hover);
	background-color: $bg;
	border-color: $border-color;
	@if ($border-bottom-color and ($border-bottom-color != $border-color)) {
		border-bottom-color: $border-bottom-color;
	}

	// 
	// We control the text color for you based on the background color.
	// 
	@if ($font-color) {
		color: $font-color
	} @else {
		color: if($bg-lightness > 70%, $button-font-color-alt, $button-font-color);
	}

	&:hover {
		background-color: $bg-hover;
		@if ($border-color-hover and ($border-color-hover != $border-color)) {
			border-color: $border-color-hover;
		}
		@if ($border-bottom-color-hover and ($border-bottom-color-hover != $border-color-hover)) {
			border-bottom-color: $border-bottom-color-hover;
		}

		@if ($font-color-hover) {
			color: $font-color-hover;
		} @else {
			color: if($bg-hover-lightness > 70%, $button-font-color-alt, $button-font-color);
		}
	}

	&:active {
		@if ($bg-active) {
			background-color: $bg-active;
		}
		@if ($border-color-active and $border-color-active != $border-color-hover) {
			border-color: $border-color-active;
		}
		@if ($border-bottom-color-active and ($border-bottom-color-active != $border-color-active)) {
			border-bottom-color: $border-bottom-color-active;
		}
	}

	&.active {
		@if ($bg-filter-active) {
			background-color: $bg-filter-active;
		}

		@if ($border-color-filter-active) {
			border-color: $border-color-filter-active;
		}

		@if ($border-bottom-color-filter-active) {
			border-bottom-color: $border-bottom-color-filter-active;
		}

		@if ($font-color-filter-active) {
			&,
			&:hover {
				color: $font-color-filter-active;
			}
		}
	}
	
	@if ($button-visited-color) {
		&:visited {
			color: $button-visited-color;
		}
	}

	&.disabled, &[disabled] {

		&:hover,
		&:active,
		&:focus {
			background-color: $bg;
			border-color: $border-color;

			@if ($font-color) {
				color: $font-color;
			}
			
			@if ($border-bottom-color and ($border-bottom-color != $border-color)) {
				border-bottom-color: $border-bottom-color;
			}
		}
	}
}