// ==========================================================================
// UI-TOOLKIT - MIXIN - button-size
// ==========================================================================

//
// This mixin establishes size-dependent properties for buttons. Most notably,
// this mixin is used to establish `button.small`, `button.large`, and other
// size-variations of the default button component.
// 

// @param {Measure} $padding					Desired padding value
// @param {Boolean} $full-width					If true, width will extend to
// 												100% and no horizontal padding
// 												will be set
// @param {Measure} $button-border-width		Desired border width value
// @param {Measure} $button-border-bottom-width	Desired border-bottom width
// 												value (if different from rest)

@mixin button-size(
	$padding-vert: $button-padding-vert,
	$padding-horiz: $button-padding-horiz,
	$size-multiplier: 1,
	$font-size: $button-font-size,
	$full-width: false,
	$border-width: $button-border-width,
	$border-bottom-width: $button-border-bottom-width ) {

	// 
	// Offsets bottom-border with less padding for symmetry
	// 
	$padding-bottom-offset: 0;
	@if ($border-width != $border-bottom-width) {
		$padding-bottom-offset: if($border-bottom-width, $border-bottom-width, 0);
	}

	//
	// We control which padding styles come through,
	// these can be turned off by setting $padding:false
	// 
	@if ($padding-vert and $padding-horiz) {

		// 
		// Computes values based on multiplier to resize
		// 
		$padding-vert:	 	$padding-vert * $size-multiplier;
		$padding-horiz:		$padding-horiz * $size-multiplier;
		$padding-top:	 	$padding-vert;
		$padding-bottom:	$padding-vert - $padding-bottom-offset + rem-calc(1);

		// 
		// Declares padding prop
		// 
		padding: $padding-top $padding-horiz $padding-bottom;
	}
	

	@if ($font-size) {

		// 
		// Computes values based on multiplier to resize
		// 
		$font-size:	$font-size * $size-multiplier;

		// 
		// Declares font-size prop
		// 
		font-size: $font-size;
	}

	// 
	// We can set $full-width:true to remove side padding extend width.
	// 
	@if ($full-width) {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}

	@if ($border-width > 0) {
		border-width: $border-width;

		@if ($border-bottom-width != $border-width) {
			border-bottom-width: $border-bottom-width;
		}
	}
}