// Generate presentational markup for block grid.
//
// $size - Name of class to use, i.e. "large" will generate .large-block-grid-1, .large-block-grid-2, etc.
@mixin block-grid-html-classes($size, $include-spacing) {

	@for $i from 1 through $block-grid-elements {
		
		.#{$size}-block-grid-#{($i)} {
			@include block-grid($i, $block-grid-default-spacing, $include-spacing, false);
		}
	}
}