// Create a custom block grid
//
// $per-row - # of items to display per row. Default: false.
// $spacing - # of ems to use as padding on each block item. Default: rem-calc(20).
// $include-spacing - Adds padding to our list item. Default: true.
// $base-style - Apply a base style to block grid. Default: true.
@mixin block-grid(
	$per-row: false,
	$spacing: $block-grid-default-spacing,
	$include-spacing: true,
	$base-style: true) {

	@if ($base-style) {
		display: block;
		padding: 0;
		
		@if ($align-block-grid-to-grid) {
			margin: 0;
		} @else {
			margin: 0 (-$spacing/2);
		}

		@include clearfix;

		> li {
			display: block;
			float: $default-float;
			height: auto;
			@if $include-spacing {
				padding: 0 ($spacing/2) $spacing;
			}
		}
	}

	@if ($per-row) {
		> li {
			list-style: none;
			@if $include-spacing {
				padding: 0 ($spacing/2) $spacing;
			}
			width: 100%/$per-row;

			&:nth-of-type(1n) { clear: none; }
			&:nth-of-type(#{$per-row}n+1) { clear: both; }
			@if ($align-block-grid-to-grid) {
				@include block-grid-aligned($per-row, $spacing);
			}
		}
	}
}