@mixin block-grid-aligned($per-row, $spacing) {

	@for $i from 1 through $block-grid-elements {
		
		@if ($per-row >= $i) {
			
			$grid-column: '+' + $i;
			@if ($per-row == $i) {
				$grid-column: '';
			}

			&:nth-of-type(#{$per-row}n#{unquote($grid-column)}) {
				padding-left: ($spacing - (($spacing / $per-row) * ($per-row - ($i - 1))));
				padding-right: ($spacing - (($spacing / $per-row) * $i));
			}
		}
	}
}