@if ($include-lv-html-type-classes) {
	// Abbreviations
		abbr,
		acronym {
			@include abbr-acronym-base();
			@include abbr-acronym-styles();
		}
		abbr {
			text-transform: none;
			&[title] {
				@include abbr-styles();
				border-bottom: $abbr-underline;
			}
		}

		$abbr-acronym-ghost-selectors: 'abbr', 'acronym';
		@include ghost($abbr-acronym-ghost-selectors) {
			@include abbr-acronym-styles(
				$font-color: $abbr-acronym-font-color-ghost
			);
		}
}