@if ($include-lv-html-type-classes) {

	a {
		@include anchor-base();
		@include anchor-styles();
	}

	@include ghost('a') {
		@include anchor-styles(
			$font-color: $anchor-font-color-ghost,
			$font-color-hover: $anchor-font-color-hover-ghost,
			$font-color-visited: $anchor-visited-color-ghost,
			$font-color-active: $anchor-active-color-ghost
		);
	}
}