@if ($include-lv-html-type-classes) {

	code {
		@include code-base();
		@include code-styles();
	}

	@include ghost('code') {
		@include code-styles(
			$background-color: $code-background-color-ghost,
			$border-color: $code-border-color-ghost,
			$font-color: $code-font-color-ghost
		);
	}
}