@if ($include-lv-html-type-classes) {
	//
	// HEADINGS
	// ==========================================================================

	//
	// BASE STYLES
	// 

	h1, h2, h3, h4, h5, h6 {
		@include header-base(
			$set-baseline: true
		);
		@include header-styles();
		@include header-spacing();
	}

	//
	// PER-TAG OVERRIDES
	// 
	h1 {
		@include header-base(
			$font-family: $h1-font-family,
			$font-style: $h1-font-style,
			$font-weight: $h1-font-weight,
			$text-transform: $h1-text-transform,
			$font-size: $h1-font-size,
			$line-height: $h1-line-height,
			$font-size-medium-up: $h1-font-size-medium-up,
			$line-height-medium-up: $h1-line-height-medium-up
		);
		@include header-styles(
			$font-color: $h1-font-color
		);
	}

	h2 {
		@include header-base(
			$font-family: $h2-font-family,
			$font-style: $h2-font-style,
			$font-weight: $h2-font-weight,
			$text-transform: $h2-text-transform,
			$font-size: $h2-font-size,
			$line-height: $h2-line-height,
			$font-size-medium-up: $h2-font-size-medium-up,
			$line-height-medium-up: $h2-line-height-medium-up
		);
		@include header-styles(
			$font-color: $h2-font-color
		);
	}

	h3 {
		@include header-base(
			$font-family: $h3-font-family,
			$font-style: $h3-font-style,
			$font-weight: $h3-font-weight,
			$text-transform: $h3-text-transform,
			$font-size: $h3-font-size,
			$line-height: $h3-line-height,
			$font-size-medium-up: $h3-font-size-medium-up,
			$line-height-medium-up: $h3-line-height-medium-up
		);  
		@include header-styles(
			$font-color: $h3-font-color
		);
	}

	h4 {
		@include header-base(
			$font-family: $h4-font-family,
			$font-style: $h4-font-style,
			$font-weight: $h4-font-weight,
			$text-transform: $h4-text-transform,
			$font-size: $h4-font-size,
			$line-height: $h4-line-height,
			$font-size-medium-up: $h4-font-size-medium-up,
			$line-height-medium-up: $h4-line-height-medium-up
		);
		@include header-styles(
			$font-color: $h4-font-color
		);
	}

	h5 {
		@include header-base(
			$font-family: $h5-font-family,
			$font-style: $h5-font-style,
			$font-weight: $h5-font-weight,
			$text-transform: $h5-text-transform,
			$font-size: $h5-font-size,
			$line-height: $h5-line-height,
			$font-size-medium-up: $h5-font-size-medium-up,
			$line-height-medium-up: $h5-line-height-medium-up
		);
		@include header-styles(
			$font-color: $h5-font-color
		);
	}
		
	h6 {
		@include header-base(
			$font-family: $h6-font-family,
			$font-style: $h6-font-style,
			$font-weight: $h6-font-weight,
			$text-transform: $h6-text-transform,
			$font-size: $h6-font-size,
			$line-height: $h6-line-height,
			$font-size-medium-up: $h6-font-size-medium-up,
			$line-height-medium-up: $h6-line-height-medium-up
		);
		@include header-styles(
			$font-color: $h6-font-color
		);
	}

	$header-ghosting-selectors: 'h1','h2','h3','h4','h5','h6';
	@include ghost($header-ghosting-selectors) {
		@include header-styles(
			$font-color: $heading-font-color-ghost
		)
	}

	//
	// SUBHEADERS
	// 
	.subheader { 
		@include subheader-base();
		@include subheader-styles(); 
	}
}