@if ($include-lv-html-type-classes) {

	hr {
		@include horizontal-rules-base();
		@include horizontal-rules-styles();
	}

	@include ghost('hr') {
		@include horizontal-rules-styles(
			$border-color: $hr-border-color-ghost
		);
	}
}