@if ($include-lv-html-type-classes) {
	// Lists
	ul,
	ol,
	dl {
		font-family: $list-font-family;
		font-size: $list-font-size;
		line-height: $list-line-height;
		list-style-position: $list-style-position;
		margin-bottom: $list-margin-bottom;
	}

	ul {
		margin-#{$default-float}: $list-side-margin;

		&.no-bullet {
			margin-#{$default-float}: $list-side-margin-no-bullet;

			li {
				ul,
				ol {
					margin-#{$default-float}: $list-nested-margin;
					margin-bottom: 0;
					list-style: none;
				}
			}
		}
	}

	// Unordered Lists
	ul {
		li {
			ul,
			ol {
				margin-#{$default-float}: $list-nested-margin;
				margin-bottom: 0;
			}
		}

		&.square,
		&.circle,
		&.disc {
			li ul { 
				list-style: inherit; 
			}
		}
		&.square { 
			list-style-type: square; 
			margin-#{$default-float}: $list-side-margin;
		}
		&.circle { 
			list-style-type: circle; 
			margin-#{$default-float}: $list-side-margin;
		}
		&.disc { 
			list-style-type: disc; 
			margin-#{$default-float}: $list-side-margin;
		}
		&.no-bullet { 
			list-style: none; 
		}
	}

	// Ordered Lists
	ol {
		margin-#{$default-float}: $list-ordered-side-margin;
		li {
			ul,
			ol {
				margin-#{$default-float}: $list-nested-margin;
				margin-bottom: 0;
			}
		}
	}

	// Definition Lists
	dl {
		dt {
			margin-bottom: $definition-list-header-margin-bottom;
			font-weight: $definition-list-header-weight;
		}
		dd { margin-bottom: $definition-list-margin-bottom; }
	}
}