@if ($include-lv-html-type-classes) {
	// Microformats
	.vcard {
		@include vcard-base();
		@include vcard-styles();
	}
	.vevent {
		@include vevent-base();
	}

	@include ghost('.vcard') {
		@include vcard-styles(
			$border-color: $microformat-border-color-ghost
		);
	}
}