@if ($include-lv-html-type-classes) {
	// Default paragraph styles
	p {
		font-family: $paragraph-font-family;
		font-size: $paragraph-font-size;
		font-weight: $paragraph-font-weight;
		line-height: $paragraph-line-height;
		margin-bottom: $paragraph-margin-bottom;
		text-rendering: $paragraph-text-rendering;

		&.lead { @include lead; }

		& aside {
			font-size: $paragraph-aside-font-size;
			font-style: $paragraph-aside-font-style;
			line-height: $paragraph-aside-line-height;
		}
	}
}