@if ($include-lv-html-type-classes) {
	// Helpful Typography Defaults
	em,
	i {
		font-style: italic;
		line-height: inherit;
	}

	strong,
	b {
		font-weight: $font-weight-bold;
		line-height: inherit;
	}

	small {
		font-size: $small-font-size;
		line-height: inherit;
	}
}