@if ($include-lv-html-type-classes) {
	// Blockquotes
	blockquote {
		@include quote-base();
		@include quote-styles();
	}

	@include ghost('blockquote') {
		@include quote-styles(
			$font-color: $blockquote-font-color-ghost,
			$border-color: $blockquote-border-color-ghost,
			$cite-font-color: $blockquote-cite-font-color-ghost,
			$cite-link-color: $anchor-font-color-ghost
		);
	}
}