// ==========================================================================
// FONTS - nm
// =========================================================================

//
// Below are config settings related to fonts, including font weights and
// config to be used for the @mixin declare-font util.
//

//
// FONT WEIGHTS
// ==========================================================================

$weight-light: 300;
$weight-thin: 100;
$weight-bold: bold;

//
// FONT IMPORTS
// ==========================================================================

$guardian-sans-headline-regular: (
	name: 'Guardian Sans Headline',
	eot: font-path-prefix('fonts/nm/type/GuardianSans-Regular-Web.eot'),
	woff: font-path-prefix('fonts/nm/type/GuardianSans-Regular-Web.woff'),
	ttf: font-path-prefix('fonts/nm/type/GuardianSans-Regular-Web.ttf'),
	svg: font-path-prefix('fonts/nm/type/GuardianSans-Regular-Web.svg#Guardian-Regular')
);

$guardian-sans-headline-thin: (
	name: 'Guardian Sans Headline',
	weight: $weight-thin,
	eot: font-path-prefix('fonts/nm/type/GuardianSans-Thin-Web.eot'),
	woff: font-path-prefix('fonts/nm/type/GuardianSans-Thin-Web.woff'),
	ttf: font-path-prefix('fonts/nm/type/GuardianSans-Thin-Web.ttf'),
	svg: font-path-prefix('fonts/nm/type/GuardianSans-Thin-Web.svg#Guardian-Thin')
);

$guardian-sans-headline-light: (
	name: 'Guardian Sans Headline',
	weight: $weight-light,
	eot: font-path-prefix('fonts/nm/type/GuardianSans-Light-Web.eot'),
	woff: font-path-prefix('fonts/nm/type/GuardianSans-Light-Web.woff'),
	ttf: font-path-prefix('fonts/nm/type/GuardianSans-Light-Web.ttf'),
	svg: font-path-prefix('fonts/nm/type/GuardianSans-Light-Web.svg#Guardian-Light')
);

$guardian-sans-text: (
	name: 'Guardian Sans Text',
	eot: font-path-prefix('fonts/nm/type/GuardianTextSans-Regular-Web.eot'),
	woff: font-path-prefix('fonts/nm/type/GuardianTextSans-Regular-Web.woff'),
	ttf: font-path-prefix('fonts/nm/type/GuardianTextSans-Regular-Web.ttf'),
	svg: font-path-prefix('fonts/nm/type/GuardianTextSans-Regular-Web.svg#Guardian-Regular')
);

$guardian-sans-text-bold: (
	name: 'Guardian Sans Text',
	weight: $weight-bold,
	eot: font-path-prefix('fonts/nm/type/GuardianTextSans-Bold-Web.eot'),
	woff: font-path-prefix('fonts/nm/type/GuardianTextSans-Bold-Web.woff'),
	ttf: font-path-prefix('fonts/nm/type/GuardianTextSans-Bold-Web.ttf'),
	svg: font-path-prefix('fonts/nm/type/GuardianTextSans-Bold-Web.svg#Guardian-Bold')
);

$guardian-sans-text-ital: (
	name: 'Guardian Sans Text',
	style: italic,
	eot: font-path-prefix('fonts/nm/type/GuardianTextSans-RegularIt-Web.eot'),
	woff: font-path-prefix('fonts/nm/type/GuardianTextSans-RegularIt-Web.woff'),
	ttf: font-path-prefix('fonts/nm/type/GuardianTextSans-RegularIt-Web.ttf'),
	svg: font-path-prefix('fonts/nm/type/GuardianTextSans-RegularIt-Web.svg#Guardian-Bold')
);

$guardian-sans-text-tf: (
	name: 'Guardian Sans Text TF',
	eot: font-path-prefix('fonts/nm/type/GuardianTextSansTF-Regular-Web.eot'),
	woff: font-path-prefix('fonts/nm/type/GuardianTextSansTF-Regular-Web.woff'),
	ttf: font-path-prefix('fonts/nm/type/GuardianTextSansTF-Regular-Web.ttf'),
	svg: font-path-prefix('fonts/nm/type/GuardianTextSansTF-Regular-Web.svg#Guardian-Bold')
);

$guardian-sans-text-tf-bold: (
	name: 'Guardian Sans Text TF',
	weight: $weight-bold,
	eot: font-path-prefix('fonts/nm/type/GuardianTextSansTF-Bold-Web.eot'),
	woff: font-path-prefix('fonts/nm/type/GuardianTextSansTF-Bold-Web.woff'),
	ttf: font-path-prefix('fonts/nm/type/GuardianTextSansTF-Bold-Web.ttf'),
	svg: font-path-prefix('fonts/nm/type/GuardianTextSansTF-Bold-Web.svg#Guardian-Bold')
);

$guardian-sans-text-tf-ital: (
	name: 'Guardian Sans Text TF',
	style: italic,
	eot: font-path-prefix('fonts/nm/type/GuardianTextSansTF-RegularItalic-Web.eot'),
	woff: font-path-prefix('fonts/nm/type/GuardianTextSansTF-RegularItalic-Web.woff'),
	ttf: font-path-prefix('fonts/nm/type/GuardianTextSansTF-RegularItalic-Web.ttf'),
	svg: font-path-prefix('fonts/nm/type/GuardianTextSansTF-RegularItalic-Web.svg#Guardian-Bold')
);

//
// FONT LIST
// Each font object declared above is passed into $font-list below. 
// LV-Foundation's core will then render each config above as a @font-face
// declaration. 
//
$font-list:
	$guardian-sans-headline-regular,
	$guardian-sans-headline-thin,
	$guardian-sans-headline-light,
	$guardian-sans-text,
	$guardian-sans-text-bold,
	$guardian-sans-text-ital,
	$guardian-sans-text-tf,
	$guardian-sans-text-tf-bold;