

$icon-font-family-name: "icons";

$icon-font-config: (
	name: "icons",
	eot: font-path-prefix("fonts/nm/icons/nm-icons.eot?5054a1247d8e7f64c8ce32bafc67626e"),
	woff: font-path-prefix("fonts/nm/icons/nm-icons.woff?5054a1247d8e7f64c8ce32bafc67626e" ),
	ttf: font-path-prefix("fonts/nm/icons/nm-icons.ttf?5054a1247d8e7f64c8ce32bafc67626e" ),
	svg: font-path-prefix("fonts/nm/icons/nm-icons.svg?5054a1247d8e7f64c8ce32bafc67626e#icons" )
);

$icon-glyph-names: "add","alert","arrow-down","arrow-left","arrow-right","arrow-up","bill-due","bookmark-solid","bookmark","bullet","caret-down","caret-left","caret-right","caret-up","check","close","collapse","date","document-stack","document","download","edit","email","exit","expand","fail","help","home","info","investments","lock","new-window","newspaper","notification","options","paperless","pdf","plus","refresh","remove","save","scroll-left","search","settings","sort","split","star","success","suitcase","sync","unlock","upload","vertical-ellipses";
$icon-codepoints: "f101","f102","f103","f104","f105","f106","f107","f108","f109","f10a","f10b","f10c","f10d","f10e","f10f","f110","f111","f112","f113","f114","f115","f116","f117","f118","f119","f11a","f11b","f11c","f11d","f11e","f11f","f120","f121","f122","f123","f124","f125","f126","f127","f128","f129","f12a","f12b","f12c","f12d","f12e","f12f","f130","f131","f132","f133","f134","f135";

