@function em-calc($values, $base-value: $rem-base) {
	$remValues: rem-calc($values, $base-value: $rem-base);

	$max: length($remValues);

	@if $max == 1 { @return strip-unit(nth($remValues, 1)) * 1em; }

	$emValues: ();
	@for $i from 1 through $max {
		$emValues: append($emValues, strip-unit(nth($remValues, $i)) * 1em);
	}
	@return $emValues;
}


// Deprecated: OLD EM CALC
@function emCalc($values) {
	@return em-calc($values);
}
