// 
// Sass implementation of Javascript's Array.prototype.join method. Used to
// concatenate a list of strings.
// 
// @param $list	{List}			A list, preferably of strings
// @param $delimiter {String}	A delimiting character to insert between
// 								concatenations
// @return {String}				The concatenated result.
// 
@function join(
	$list,
	$delimiter: false) {

	$result: "";

	@for $i from 1 through length($list) {
		$entry: nth($list, $i);

		@if ($delimiter and ($i > 1)) {
			$result: $result + $delimiter;
		}

		$result: $result + $entry;
	}

	@return $result;
}