// ==========================================================================
// LV UI TOOLKIT - Custom Functions - path-prefix
// ==========================================================================

$asset-build-path: "//uitk.learnvest.com/v/#{$package-version-num}/" !default;
$font-path-prefix: $asset-build-path !default;

// 
// Joins path prefix / suffix and resolves possible slash collisions.
// 
// For example:
// 		path-prefix('hello/', '/world')
// Returns:
// 		'hello/world'
// 
// @param  {String} $prefix	The prefix we wish to apply to the path
// @param  {String} $path	The path we wish to prefix.
// @return {String}			The prefixed path.
// 
@function path-prefix($prefix, $path) {

	@if (str-index($path, '/') == 1) {
		$path: str-slice($path, 2);
	}

	@if (str-slice($prefix, str-length($prefix)) == '/') {
		$prefix: str-slice($prefix, 1, str-length($prefix) - 1)
	}

	@return $prefix + '/' + $path;
}

// 
// Handoff method used to prefix font assets based on font-specific build-path
// 
// @param 	{String} $path	The font-path we wish to prefix
// @return 	{String}		The prefixed font-path
// 
@function font-path-prefix($path) {
	@return path-prefix($font-path-prefix, $path);
}