@function text-inputs( $types: all, $selector: input ) {

	$return: ();

	$all-text-input-types:
		text
		password
		date
		datetime
		datetime-local
		month
		week
		email
		number
		search
		tel
		time
		url
		color
		textarea;

	@if $types == all { $types: $all-text-input-types; }

	@each $type in $types {
		@if $type == textarea {
			@if $selector == input {
				$return: append($return, unquote('#{$type}'), comma)
			} @else {
				$return: append($return, unquote('#{$type}#{$selector}'), comma)
			}
		} @else {
			$return: append($return, unquote('#{$selector}[type="#{$type}"]'), comma)
		}
	}

	@return $return;
}