//
// Literals
// ==========================================================================

// 
// Primaries
// 
$_splash:		#30BBE4;
$_plumdrop:		#6D6D9D;
$_tranquil:		#3A53A3;
$_lagoon:		#44B9B7;
$_mint: 		#4CD5AF; // * (name)
$_hydrant:		#FF1E1E; // * (name)
$_mandarin:		#F08A24; // * 

// 
// Pastels
// 
$_splash-pastel:	#CEEFF9; // *
$_plumdrop-pastel:	#F6F6F9; // *
$_tranquil-pastel:	#D3DAEF; // *
$_lagoon-pastel:	#EBF8F7; // *
$_mint-pastel:		#DDF7F0; // *
$_hydrant-pastel:	#FFD1D1; // *
$_mandarin-pastel:	#FBE3CB; // *

// 
// Mutes
// 
$_splash-mute:		#1CA9E5;
$_plumdrop-mute:	#5A5295;
$_tranquil-mute:	#02215F;
$_lagoon-mute:		#1BADBE;
$_mint-mute: 		#2DC198; // *
$_hydrant-mute:		#EA0000; // *
$_mandarin-mute:	#D3710E; // *

//
// NOTE: * indicates need for design approval / replacement
//

// 
// Neutrals
// 
$_white:	#FFFFFF;
$_mist:		#FBFAFE;
$_shade:	#F1F2F5;
$_smoke:	#E1E2E8;
$_grey:		#A6B0B6;
$_inkpot:	#1F2231;
$_black:	#000000;

//
// Contextuals
// ==========================================================================

// 
// Contexts
// 
$primary-color: 	$_splash;
$secondary-color:	$_plumdrop;
$tertiary-color:	$_lagoon;
$action-color:		$_splash;
$success-color: 	$_mint;
$alert-color:		$_hydrant;
$info-color:		$_tranquil;
$warning-color:		$_mandarin;

$primary-pastel-color:		$_splash-pastel;
$secondary-color-pastel:	$_plumdrop-pastel;
$tertiary-color-pastel:		$_lagoon-pastel;
$action-color-pastel:		$_splash-pastel;
$success-color-pastel:		$_mint-pastel;
$alert-color-pastel:		$_hydrant-pastel;
$info-color-pastel:			$_tranquil-pastel;
$warning-color-pastel:		$_mandarin-pastel;

$primary-mute-color:		$_splash-mute;
$secondary-color-mute:		$_plumdrop-mute;
$tertiary-color-mute:		$_lagoon-mute;
$action-color-mute:			$_splash-mute;
$success-color-mute:		$_mint-mute;
$alert-color-mute:			$_hydrant-mute;
$info-color-mute:			$_tranquil-mute;
$warning-color-mute:		$_mandarin-mute;

// 
// Neutrals
// 
// TODO: change $dark-grey val
// 
$true-white: $_white;
$off-white: $_mist;
$light-grey: $_shade;
$medium-grey: $_smoke;
$dark-grey: $_grey;
$off-black: $_inkpot;
$true-black: $_black;

$body-font-color: $_inkpot;