$font-weight-bold: bold;

$brando-sans-text: (
	name: 'Brando Sans',
	eot: font-path-prefix('fonts/lv-next/type/brandosans-text-v100.eot'),
	woff: font-path-prefix('fonts/lv-next/type/brandosans-text-v100.woff')
);

$brando-sans-text-italic: (
	name: 'Brando Sans',
	style: italic,
	eot: font-path-prefix('fonts/lv-next/type/brandosans-textitalic-v100.eot'),
	woff: font-path-prefix('fonts/lv-next/type/brandosans-textitalic-v100.woff')
);

$brando-sans-semibold: (
	name: 'Brando Sans',
	weight: $font-weight-bold,
	eot: font-path-prefix('fonts/lv-next/type/brandosans-semibold-v100.eot'),
	woff: font-path-prefix('fonts/lv-next/type/brandosans-semibold-v100.woff')	
);

$brando-sans-semibold-italic: (
	name: 'Brando Sans',
	weight: $font-weight-bold,
	style: italic,
	eot: font-path-prefix('fonts/lv-next/type/brandosans-semibold-v100.eot'),
	woff: font-path-prefix('fonts/lv-next/type/brandosans-semibold-v100.woff')	
);

$brando-semibold: (
	name: 'Brando',
	eot: font-path-prefix('fonts/lv-next/type/brando-semibold-v10.eot'),
	woff: font-path-prefix('fonts/lv-next/type/brando-semibold-v10.woff')
);

$font-list:
	$brando-sans-text,
	$brando-sans-text-italic,
	$brando-sans-semibold,
	$brando-sans-semibold-italic,
	$brando-semibold;

$body-font-family: 'Brando Sans';
$header-font-family: 'Brando';
