// H1
$h1-font-size: rem-calc(28);
$h1-line-height: rem-calc(28);
$h1-font-size-medium-up: rem-calc(50);
$h1-line-height-medium-up: rem-calc(50);

// H2
$h2-font-size: rem-calc(26);
$h2-line-height: rem-calc(26);
$h2-font-size-medium-up: rem-calc(36);
$h2-line-height-medium-up: rem-calc(36);

// H3
$h3-font-size: rem-calc(20);
$h3-line-height: rem-calc(23);
$h3-font-size-medium-up: rem-calc(24);
$h3-line-height-medium-up: rem-calc(24);

// H4
$h4-font-size: rem-calc(18);
$h4-line-height: rem-calc(22);
$h4-font-size-medium-up: rem-calc(18);
$h4-line-height-medium-up: rem-calc(18);

// H5
$h5-font-size: rem-calc(16);
$h5-line-height: rem-calc(22);

// H6
$h6-font-size: rem-calc(14);
$h6-line-height: rem-calc(18);