@mixin form-label-base(
	$cursor: 			$form-label-pointer,
	$font-size: 		$form-label-font-size,
	$font-weight: 		$form-label-font-weight,
	$line-height: 		$form-label-line-height,
	$margin-bottom: 	$form-label-bottom-margin,
	$letter-spacing: 	$form-label-letter-spacing
	) {

	display: block;

	cursor: $form-label-pointer;
	font-size: $form-label-font-size;
	font-weight: $form-label-font-weight;
	line-height: $form-label-line-height;
	margin-bottom: $form-label-bottom-margin;

	@if ($form-label-letter-spacing) {
		letter-spacing: $form-label-letter-spacing;
	}
}

@mixin form-label-styles(
	$color: 			$form-label-font-color,
	$lightness: 		false,
	$text-transform: 	false) {

	@if ($lightness) {
		$color: scale-color($color, $lightness: $lightness)
	}
	color: $color;

	@if ($text-transform) {
		text-transform: $text-transform;
	}
}

@mixin form-label-align(
	$alignment: false,
	$spacing: $form-spacing,
	$border-width: $input-border-width) {

	// 
	// TODO: Can we remove this !important declaration?
	// 
	@if ($alignment == right) {
		float: none !important;
		text-align: right;
	}
	@else if ($alignment == inline) {
		margin: 0 0 $spacing 0;
		padding: $spacing / 2 + rem-calc($border-width) 0;
	}
}