// ==========================================================================
// THEME - BUTTONS - lv
// =========================================================================

//
// Here we declare any necessary theme variables for buttons in the
// lv theme.
//

//
// BASE PROPS
// ==========================================================================

$button-border-radius: $global-radius;
$button-border-width: 1px;
$button-border-bottom-width: rem-calc(2);
$button-disabled-opacity: 0.4;
$button-font-color: $true-white !default;

//
// INDIVUDAL BUTTONS
// ==========================================================================

// PRIMARY BUTTON
$primary-button-border-color: $primary-color;
$primary-button-border-bottom-color: $primary-mute-color;
$primary-button-bg-hover: $primary-mute-color;
$primary-button-bg-active: $primary-button-bg-hover - #080808;
$primary-button-visited-color: $button-font-color;
$primary-button-border-color-hover: $primary-button-bg-hover;
$primary-button-border-color-active: $primary-button-bg-active;
$primary-button-font-color-filter-active: $primary-mute-color;
$primary-button-border-bottom-color-filter-active: $primary-color;

// SECONDARY
$secondary-button-bg-color: $true-white;
$secondary-button-border-color: $primary-color;
$secondary-button-bg-hover: $primary-pastel-color;
$secondary-button-bg-active: $secondary-button-bg-hover - #080808;
$secondary-button-border-color-hover: $primary-mute-color;
$secondary-button-border-color-active: $secondary-button-border-color-hover - #080808;
$secondary-button-font-color: $secondary-button-border-color;
$secondary-button-font-color-hover: $secondary-button-border-color-hover;

$secondary-button-bg-filter-active: $primary-button-bg-hover;
$secondary-button-font-color-filter-active: $true-white;
$secondary-button-border-color-filter-active: $secondary-button-bg-filter-active;

// TERTIARY
$tertiary-button-bg-color: $dark-grey;
$tertiary-button-border-color: $tertiary-button-bg-color;
$tertiary-button-border-bottom-color: $off-black;
$tertiary-button-bg-hover: $tertiary-button-border-bottom-color;
$tertiary-button-bg-active: $tertiary-button-bg-hover - #080808;
$tertiary-button-border-color-active: $tertiary-button-bg-active;
$tertiary-button-border-bottom-color-filter-active: $tertiary-button-bg-color;
$tertiary-button-border-color-filter-active: $off-black;
$tertiary-button-font-color-filter-active: $off-black;

// SUCCESS
$success-button-border-color: $success-color;
$success-button-border-bottom-color: $success-color - #111;
$success-button-bg-hover: $success-button-border-bottom-color;
$success-button-bg-active: $success-button-bg-hover - #080808;
$success-button-border-color-active: $success-button-bg-active;

// ALERT
$alert-button-border-color: $alert-color;
$alert-button-border-bottom-color: $alert-color - #111;
$alert-button-bg-hover: $alert-button-border-bottom-color;
$alert-button-bg-active: $alert-button-bg-hover - #080808;
$alert-button-border-color-active: $alert-button-bg-active;

// WARNING
$warning-button-border-color: $warning-color;
$warning-button-border-bottom-color: $warning-color - #111;
$warning-button-bg-hover: $warning-button-border-bottom-color;
$warning-button-bg-active: $warning-button-bg-hover - #080808;
$warning-button-border-color-active: $warning-button-bg-active;

// INFO
$info-button-border-color: $info-color;
$info-button-border-bottom-color: $info-color - #111;
$info-button-bg-hover: $info-button-border-bottom-color;
$info-button-bg-active: $info-button-bg-hover - #080808;
$info-button-border-color-active: $info-button-bg-active;

// DULL
$dull-button-bg-color: $light-grey;
$dull-button-bg-filter-active: $off-black;
$dull-button-border-color-filter-active: $tertiary-button-border-color;
$dull-button-border-bottom-color-filter-active: $dull-button-bg-filter-active;