// LABELS

$label-border-radius: $global-radius;
$label-resp-font-sizing: 0.675em;
$label-resp-padding: 0.375em 0.75em;

$label-font-color: #777877;

//
// GHOST TEXT COLORS
//
$label-info-text-color-ghost: $true-white !default;