// ==========================================================================
// THEME - loading-indicators - lv-px
// =========================================================================

//
// Here we declare any necessary theme variables for buttons in the
// lv-px theme.
//

// 
// RINGS
// 
$load-ind-ring-thickness: 0.375rem;
$load-ind-ring-buffer: 0.125rem;
$load-ind-ring-outer-color: $primary-color;
$load-ind-ring-inner-color: $success-color;

// 
// ANIMATION
// 
$load-ind-animation-duration: 1000ms;

$load-ind-ring-ghost-outer-color: $true-white;