$table-bg: transparent;
$table-even-row-bg: transparent;
$table-head-bg: transparent;

$table-row-border-bottom-color: #E0E0E0;
$table-row-border-bottom-width: 1px;
$table-row-border-bottom-style: solid;

$table-row-border-side-width: 0;

$table-border-size: false;

$table-head-font-color: #9B9B9B;
$table-head-font-weight: normal;
$table-head-font-size: 0.75rem;

$table-row-font-size: 0.875rem;
$table-head-padding: 0.75rem;
$table-row-padding: 0.75rem;

$table-row-actionable-bg-color: #F2FAFC;
$table-row-actionable-font-color: #007AA3;
$table-row-actionable-border-bottom-color: $primary-color;

// Context Table Rows
$table-row-success-bg-color: lighten($success-color, 40%);
$table-row-success-color: darken($success-color, 20%);
$table-row-warning-bg-color: lighten($warning-color, 40%);
$table-row-warning-color: darken($warning-color, 20%);
$table-row-info-bg-color: lighten($info-color, 40%);
$table-row-info-color: darken($info-color, 20%);
$table-row-alert-bg-color: lighten($alert-color, 40%);
$table-row-alert-color: darken($alert-color, 20%);

//Ghosting Tables
$table-row-border-bottom-color-ghost: rgba($true-white, 0.2);