$h1-font-size: rem-calc(32);
$h2-font-size: rem-calc(28);
$h3-font-size: rem-calc(24);
$h4-font-size: rem-calc(18);
$h5-font-size: rem-calc(16);
$h6-font-size: rem-calc(14);

$header-font-weight: bold;
$paragraph-font-size: $body-font-size;

// Ghosting Anchors
$anchor-font-color-ghost: $primary-color 				!default;
$anchor-font-color-hover-ghost: $true-white 			!default;
$anchor-visited-color-ghost: rgba($primary-color, 0.5) 	!default;
$anchor-active-color-ghost:	$true-white 				!default;	