//
// Foundation Visibility Classes
//
$include-html-visibility-classes: $include-html-classes !default;
$include-accessibility-classes: true !default;
$include-table-visibility-classes: true !default;
$include-legacy-visibility-classes: true !default;

//
// Media Class Names
//
// Visibility Breakpoints
$visibility-breakpoint-sizes:
	small,
	medium,
	large,
	xlarge,
	xxlarge;

$visibility-breakpoint-queries:
	unquote($small-up),
	unquote($medium-up),
	unquote($large-up),
	unquote($xlarge-up),
	unquote($xxlarge-up);
