// ==========================================================================
// COLORS - nm
// =========================================================================

//
// TODO scottyeck
// What are these colors? How are they named? How are they used?
//

// PRIMARIES - LITERALS
$_nm-blue:					#002B49;
$_nm-gold:					#FFB81C;

// SECONDARIES - LITERALS
$_cerulean-blue:			#00ABD3;
$_denim-blue:				#336283;
$_royal-blue:				#0068B3;
$_foam-green:				#00B6AF; // Not being used
$_kelly-green:				#16B161;
$_cinnamon-red:				#EC544A;
$_pumpkin-orange:			#FF821C;

// NEUTRALS - LITERALS
$_true-white: 				#FFFFFF;
$_off-white: 				#F1F1F1;
$_light-grey: 				#E6E6E6;
$_medium-grey: 				#CCCCCC;
$_dark-grey: 				#9C9C9C;
$_off-black: 				#444444;
$_true-black: 				#000000;

// PASTELS - LITERALS
$_nm-blue-pastel:			#D1D9DE;
$_nm-gold-pastel:			#FFFDEB;
$_cerulean-blue-pastel:		#E1F1F5;
$_denim-blue-pastel:		#E4EDF2;
$_royal-blue-pastel:		#EFF9FE;
$_kelly-green-pastel:		#E9F7F0;
$_cinnamon-red-pastel:		#FFF1F0;
$_pumpkin-orange-pastel:	#FFF4EB;
$_foam-green-pastel:		#E4F2F2;

// MUTES - LITERALS
$_nm-blue-mute:				#001529;
$_nm-gold-mute:				#996E11;
$_cerulean-blue-mute:		#127C99;
$_denim-blue-mute:			#23445B;
$_royal-blue-mute:			#00487C;
$_kelly-green-mute:			#0F7B43;
$_cinnamon-red-mute:		#A43A33;
$_pumpkin-orange-mute:		#B34D00;
$_foam-green-mute:			#007F7A; // Not being used

//
// MAPPINGS - CONTEXTUALS
// ==========================================================================

$primary-color: 			$_nm-blue;
$secondary-color: 			$_cerulean-blue;
$tertiary-color: 			$_medium-grey;
$action-color: 				$_foam-green;

$success-color: 			$_kelly-green;
$alert-color: 				$_cinnamon-red;
$info-color: 				$_royal-blue;
$warning-color: 			$_pumpkin-orange;

$primary-pastel-color: 		$_nm-blue-pastel;
$secondary-pastel-color: 	$_cerulean-blue-pastel;
$success-pastel-color: 		$_kelly-green-pastel;
$alert-pastel-color: 		$_cinnamon-red-pastel;
$info-pastel-color: 		$_royal-blue-pastel;
$warning-pastel-color: 		$_pumpkin-orange-pastel;

$primary-mute-color: 		$_nm-blue-mute;
$secondary-mute-color: 		$_cerulean-blue-mute;
$success-mute-color: 		$_kelly-green-mute;
$alert-mute-color: 			$_cinnamon-red-mute;
$info-mute-color: 			$_royal-blue-mute;
$warning-mute-color: 		$_pumpkin-orange-mute;

$true-white: 				$_true-white;
$off-white: 				$_off-white;
$light-grey: 				$_light-grey;
$medium-grey: 				$_medium-grey;
$dark-grey: 				$_dark-grey;
$off-black: 				$_off-black;
$true-black: 				$_true-black;
$ghost-text-color: 			$_true-white;

// There are literals still being used who are not assigned to contextuals.
// Taking note for future action:
// $_nm-gold - loading-indicators
// $_nm-gold-pastel - tables hover bg-color
// $_denim-blue - secondary button color. May want to use cerulean-blue instead?
// $_denim-blue-pastel - nav hover border color
// $_denim-blue-mute - buttons secondary color
