$guardian-stack: 'Guardian Sans Text', 'Helvetica Neue', Helvetica, sans-serif;
$guardian-header-stack: 'Guardian Sans Headline', 'Helvetica Neue', Helvetica, sans-serif;
$guardian-tf-stack: 'Guardian Sans Text TF', 'Helvetica Neue', Helvetica, sans-serif;

$global-radius: 0.25rem;

// Body font
$body-font-family: $guardian-stack;
$body-font-size: 0.875rem; // 14px
$body-font-color: $off-black;

$tabular-lining-font: $guardian-tf-stack;