// ==========================================================================
// THEME - BUTTONS - nm
// =========================================================================

//
// HEADERS
// ==========================================================================

	// GLOBALS
	$header-font-color: $off-black;
	$header-font-weight: $weight-light;
	$subheader-font-weight: $header-font-weight;
	$header-font-family: $guardian-header-stack;
	
	// H1
	$h1-font-size: rem-calc(28);
	$h1-line-height: rem-calc(28);
	$h1-font-size-medium-up: rem-calc(36);
	$h1-line-height-medium-up: rem-calc(36);
	$h1-font-weight: $weight-thin;

	// H2
	$h2-font-size: rem-calc(26);
	$h2-line-height: rem-calc(26);
	$h2-font-size-medium-up: rem-calc(28);
	$h2-line-height-medium-up: rem-calc(34);
	$h2-font-weight: $weight-light;

	// H3
	$h3-font-size: rem-calc(20);
	$h3-line-height: rem-calc(23);
	$h3-font-size-medium-up: rem-calc(24);
	$h3-line-height-medium-up: rem-calc(28);
	$h3-font-weight: normal;

	// H4
	$h4-font-size: rem-calc(18);
	$h4-line-height: rem-calc(22);
	$h4-font-size-medium-up: rem-calc(20);
	$h4-line-height-medium-up: rem-calc(22);
	$h4-font-weight: $weight-light;

	// H5
	$h5-font-size: rem-calc(16);
	$h5-line-height: rem-calc(22);
	$h5-font-weight: $weight-bold;
	$h5-font-family: $body-font-family;
	
	// H6
	$h6-font-size: rem-calc(14);
	$h6-line-height: rem-calc(18);
	$h6-font-weight: normal;
	$h6-text-transform: uppercase;
	$h6-font-family: $body-font-family;

//
// COPY
// ==========================================================================

	$paragraph-font-size: $body-font-size;
	$paragraph-line-height: rem-calc(18);

//
// ANCHORS
// ==========================================================================

	$anchor-font-color: $_royal-blue;
	$anchor-active-color: $_cerulean-blue-mute;
	$anchor-text-decoration: none;
	$anchor-text-decoration-hover: underline;
	$anchor-background-color-hover: $_royal-blue-pastel;

// Ghosting Anchors
	$anchor-font-color-ghost: $secondary-color !default;
	$anchor-visited-color-ghost: rgba($secondary-color, 0.5) !default;
	$anchor-active-color-ghost:	$true-white !default;	

//
// MISC
// ==========================================================================

	$code-background-color: #F1F1F1;
	$code-border-color: darken($code-background-color, 10%);