// ==========================================================================
// LV FOUNDATION - font-face
// ==========================================================================

@function get-font-source-entry($val, $type) {
	@if ($type == "eot") {
		$type: "embedded-opentype";
		$val: $val + "?#iefix";
	}

	@return 'url(#{quote($val)}) format("#{$type)}")';
}

// 
// Processes $font, a Sass-map, and passes information into a @font-face
// declaration for output.
// 
@mixin declare-font($font) {
	$name: map-get($font, 'name');
	$weight: map-get($font, 'weight');
	$style: map-get($font, 'style');
	$eot: map-get($font, 'eot');
	$woff: map-get($font, 'woff');
	$ttf: map-get($font, 'ttf');
	$svg: map-get($font, 'svg');

	@font-face {

		font-family: $name;

		@if $style { font-style: $style; }
		@if $weight { font-weight: $weight; }

		$src-list: "";
		
		@if ($eot) {
			src: url($eot);
			$src-list: $src-list + get-font-source-entry($eot, "eot");
		}
		@if ($woff) {
			$src-list: $src-list + ", " + get-font-source-entry($woff, "woff");
		}
		@if ($ttf) {
			$src-list: $src-list + ", " + get-font-source-entry($ttf, "ttf");
		}
		@if ($svg) {
			$src-list: $src-list + ", " + get-font-source-entry($svg, "svg");
		}

		$substr: ", ";
		@if (str-index($src-list, ", ") == 1) {
			$src-list: str-slice($src-list, str-length($substr) + 1);
		}

		src: unquote($src-list);
	}
}