@if ($include-lv-html-grid-classes) {

	.grid-container {
		@include grid-container;
	}

	.row {
		@include grid-row;

		&.collapse {
			@include grid-row($collapse: true);

			> %column-base {
				@include grid-column(
					$collapse: true,
					$float: false
				);
			}
		}
	}

	%column-base {
		@include grid-column($columns: $total-columns);

		& + &:last-child {
			float: $last-child-float;
		}
		& + &.end {
			float: $default-float;
		}
	}

	@media #{$small-up} {
		@include grid-html-classes(
			$size: small
		);
		@include grid-html-classes(
			$size: small,
			$column-count: $total-columns-legacy,
			$column-placeholder-name: "column-legacy"
		);
	}

	@media #{$medium-up} {
		
		@include grid-html-classes(
			$size: medium
		);
		@include grid-html-classes(
			$size: medium,
			$column-count: $total-columns-legacy,
			$column-placeholder-name: "column-legacy"
		);
	}

	@media #{$large-up} {
		@include grid-html-classes(
			$size: large
		);

		@include grid-html-classes(
			$size: large,
			$column-count: $total-columns-legacy,
			$column-placeholder-name: "column-legacy"
		);
	}

	.col {
		@extend %column-base;
		@extend %column-standard;
	}

	@if ($include-lv-html-legacy-grid-classes) {
		.column,
		.columns {
			@extend %column-base;
			@extend %column-legacy;
		}	
	}
}