//
// @variables
//
$include-lv-html-legacy-grid-classes: $include-lv-html-grid-classes !default;

$row-width: rem-calc(1000) !default;

$last-child-float: $opposite-direction !default;

$total-columns: 24 !default;
$total-columns-legacy: 12 !default;