// ==========================================================================
// LV FOUNDATION - font-face
// ==========================================================================

// 
// In the event that we're not including fonts, we set $font-list back to an
// empty list so that, if desired, we can declare icon-fonts without any
// others.
// 
@if (not $include-lv-font-face-declarations) {
	$font-list: ();
}

// 
// In the event that we're including icons, we append the appropriate configs
// to the $font-list for processing.
// 
@if ($include-lv-html-icons-classes and $icon-font-config) {
	$font-list: append($font-list, $icon-font-config);
}

// 
// If there are entries in the $font-list (which should be the case if we are
// including either fonts or icons), pass each one into the declaration mixin
// for processing and output.
// 
@if ($font-list) {
	@each $font in $font-list {
		@include declare-font($font);
	}
}