//
// @mixins
//

// For creating container, nested, and collapsed rows.
//
//
// $behavior - Any special behavior for this row? Default: false. Options: nest, collapse, nest-collapse, false.
@mixin grid-row($collapse: false) {

	@if ($collapse) {
		margin-left: 0;
		margin-right: 0;
	} @else {
		margin-left: $column-gutter * -0.5;
		margin-right: $column-gutter * -0.5;
	}

	width: auto;
	max-width: none;

	// Clearfix for all rows
	@include clearfix();
}
