// Create presentational classes for grid
//
// $size - Name of class to use, i.e. "large" will generate .large-1, .large-2, etc.
@mixin grid-html-classes(
	$size,
	$column-count: $total-columns,
	$column-placeholder-name: "column-standard") {

	%#{$column-placeholder-name} {

		@include grid-column(
			$columns: false,
			$position: true
		);

		@for $i from 0 through $column-count - 1 {

			&.#{$size}-push-#{$i} {
				@include grid-column(
					$push: $i,
					$collapse: null,
					$float: false,
					$column-count: $column-count
				);
			}
			
			&.#{$size}-pull-#{$i} {
				@include grid-column(
					$pull: $i,
					$collapse: null,
					$float: false,
					$column-count: $column-count
				);
			}
		}

		@for $i from 1 through $column-count {
			&.#{$size}-#{$i} {
				@include grid-column(
					$columns: $i,
					$collapse: null,
					$float: false,
					$column-count: $column-count
				);
			}

			&.#{$size}-offset-#{$i - 1} {
				@include grid-column(
					$offset: $i - 1, 
					$collapse: null, 
					$float: false,
					$column-count: $column-count
				);
			}
		}

		&.#{$size}-reset-order {
			float: $default-float;
			left: auto;
			margin-#{$default-float}: 0;
			margin-#{$opposite-direction}: 0;
			right: auto;
		}

		&.#{$size}-centered,
		&.#{$size}-centered {
			@include grid-column(
				$center: true, 
				$collapse: null, 
				$float: false
			);
		}

		&.#{$size}-uncentered,
		&.#{$size}-uncentered {
			float: $default-float;
			margin-#{$default-float}: 0;
			margin-#{$opposite-direction}: 0;
		}

		// Fighting [class*="column"] + [class*="column"]:last-child
		&.#{$size}-centered:last-child,
		&.#{$size}-centered:last-child{
			float: none;
		}

		// Fighting .column.<previous-size>-centered:last-child
		&.#{$size}-uncentered:last-child,
		&.#{$size}-uncentered:last-child {
			float: $default-float;
		}

		&.#{$size}-uncentered.opposite,
		&.#{$size}-uncentered.opposite {
			float: $opposite-direction;
		}
	}

	.row {

		&.#{$size}-collapse {
			margin-left: 0;
			margin-right: 0;

			> %#{$column-placeholder-name} {
				@include grid-column(
					$collapse: true,
					$float: false
				);
			}
		}

		&.#{$size}-uncollapse {
			margin-left: $column-gutter * -0.5;
			margin-right: $column-gutter * -0.5;

			> %#{$column-placeholder-name} {
				@include grid-column();
			}
		}
	}
}