

$icon-font-family-name: "icons";

$icon-font-config: (
	name: "icons",
	eot: font-path-prefix("fonts/lv/icons/lv-icons.eot?05257c012f828f00f640e0e990b37e8d"),
	woff: font-path-prefix("fonts/lv/icons/lv-icons.woff?05257c012f828f00f640e0e990b37e8d" ),
	ttf: font-path-prefix("fonts/lv/icons/lv-icons.ttf?05257c012f828f00f640e0e990b37e8d" ),
	svg: font-path-prefix("fonts/lv/icons/lv-icons.svg?05257c012f828f00f640e0e990b37e8d#icons" )
);

$icon-glyph-names: "add","alert","arrow-down","arrow-left","arrow-right","arrow-up","bill-due","book","bookmark-solid","bookmark","bullet","calendar","caret-down","caret-left","caret-right","caret-up","check","close","cloud","collapse","date","document-stack","document","download","edit","exit","expand","fail","help","info","issue-credit","lock","new-window","newspaper","notification-alt","notification","options","pdf","permissions","plus","refresh","remove","salesforce","search","settings","sort","split","star","success","suitcase","sync","template-library","unlock","upload","vertical-ellipses";
$icon-codepoints: "f101","f102","f103","f104","f105","f106","f107","f108","f109","f10a","f10b","f10c","f10d","f10e","f10f","f110","f111","f112","f113","f114","f115","f116","f117","f118","f119","f11a","f11b","f11c","f11d","f11e","f11f","f120","f121","f122","f123","f124","f125","f126","f127","f128","f129","f12a","f12b","f12c","f12d","f12e","f12f","f130","f131","f132","f133","f134","f135","f136","f137";

