// ==========================================================================
// UI-TOOLKIT - MIXIN - button-group-entry-base
// ==========================================================================

//
// This mixin separates the button-group's associated CSS properties (largely
// inherited from buttons) from their declarations.
// 

// 
// @param {Boolean}	$radius		Whether or not to use border-radius: $button-radius
// 		  {Measure}				Value of button-group border-radius
// 
// @param {String} $orientation	Indication of whether buttons should display
// 								stacked or inline. (i.e. "horizontal",
// 								"vertical")

@mixin button-group-entry-base(
	$radius: true,
	$orientation: horizontal
) {

	float: none;
	
	> button,
	.button {
		margin-bottom: 0;
	}

	@if ($orientation == horizontal) {
		float: $default-float;

		&:not(:first-child) {
			> button,
			.button {
				border-left-width: 0;
			}
		}

		&:not(:last-child) {
			> button,
			.button {
				border-right-width: 0;
			}
		}

		@if ($button-border-radius) {
			// 
			// Remove border radius from inner button wrappers so that they lay
			// flush against each other.
			// 
			> button,
			.button {
				border-radius: 0;
			}

			// 
			// Replace border-radii on first/last button children
			// 
			&:first-child {
				> button,
				.button {
					border-top-#{$default-float}-radius: $button-border-radius;
					border-bottom-#{$default-float}-radius: $button-border-radius;
				}
			}

			&:last-child {
				> button,
				.button {
					border-top-#{$opposite-direction}-radius: $button-border-radius;
					border-bottom-#{$opposite-direction}-radius: $button-border-radius;
				}	
			}
		}

		// 
		// Add extra spacing on the leading side of button wrappers so that button
		// borders are maintained but space exists between.
		// 
		&:not(:last-child) {
			border-#{$opposite-direction}: $button-group-border-width solid transparent;
		}

	} @else if ($orientation == vertical) {

		border-right: 0;
		
		// 
		// Reeconfigure borders on button wrappers
		// 
		border: 0;

		&:not(:first-child) {
			> button,
			.button {
				border-top-width: 0;
			}
		}

		&:not(:last-child) {
			> button,
			.button {
				border-bottom-width: 0;
			}
		}

		> button,
		.button {
			border-left-width: $button-border-width;
			border-right-width: $button-border-width;
		}

		// 
		// Reorient layout mechanisms to stack
		// 
		float: none;
		display: block;
		> button, .button {
			display: block;
			margin: 0;
			width: 100%;
		}

		// 
		// Reorient border-radii on first/last button children
		// 
		@if ($button-border-radius) {

			&:first-child {
				> button,
				.button {
					border-top-#{$opposite-direction}-radius: $button-border-radius;
					border-bottom-#{$default-float}-radius: 0;
				}
			}

			&:last-child {
				border-bottom: 0;

				> button,
				.button {
					border-bottom-#{$default-float}-radius: $button-border-radius;
					border-top-#{$opposite-direction}-radius: 0;
				}	
			}
		}
	} @else {
		@warn "@mixin button-group-entry-base invoked with invalid value for argument $orientation";
	}
}