// We use this to add styles for a button group container
@mixin button-group-container($styles:true, $float:false) {
	@if $styles {
		list-style: none;
		margin: 0;
		#{$default-float}: 0;
		@include clearfix();
	}
	@if $float {
		float: #{$default-float};
		margin-#{$opposite-direction}: $button-bar-margin-opposite;
		& div { overflow: hidden; }
	}
}