// ==========================================================================
// UI-TOOLKIT - MIXIN - button-group-even
// ==========================================================================

//
// This mixin separates the way in which button group children are evenly
// spaced from other layout styles.
// 

// @param {Number}	$even		The number of buttons that we wish to display
// 								evenly in the available space.
// 

@mixin button-group-even(
	$even: false
) {
	// 
	// Allows buttons to (optionally) evenly span the width of their container
	// 
	@if ($even) {
		width: percentage(100 / $even / 100);

		> button,
		.button {
			width: 100%;
		}
	}
}