// ==========================================================================
// UI-TOOLKIT - MIXIN - button-group-entry-style-variants
// ==========================================================================

//
// We use this mixin to handoff arguments to all stylistic variants of button-
// groups and their entries. This is done purely for DRY, as different
// declarations points for these variants have different needs - namely those
// pertaining to extending properties from the initial button declarations and
// to orientation.
// 

// 
// @param {Boolean}	$extend-button-props	Whether or not to set the
// 											$button-key property of the
// 											button-group-entry-style mixin.
// 
// @param {String} $orientation				Indication of whether buttons
// 											should display stacked or inline
// 											(i.e. "horizontal", "vertical")
// 											via handoff.


@mixin button-group-style-variants(
	$extend-button-props: false,
	$orientation: "horizontal" ) {

	&.secondary {
		> li {
			@include button-group-entry-style(	
				$border-color: $secondary-button-group-entry-border-color,
				$button-key: if($extend-button-props, "secondary", false),
				$orientation: $orientation
			);
		}
	}

	&.tertiary {
		> li {
			@include button-group-entry-style(	
				$border-color: $tertiary-button-group-entry-border-color,
				$button-key: if($extend-button-props, "tertiary", false),
				$orientation: $orientation
			);
		}
	}

	&.dull {
		> li {
			@include button-group-entry-style(	
				$border-color: $dull-button-group-entry-border-color,
				$button-key: if($extend-button-props, "dull", false),
				$orientation: $orientation
			);
		}
	}

	&.ghost {
		> li {
			@include button-group-entry-style(	
				$border-color: $ghost-button-group-entry-border-color,
				$button-key: if($extend-button-props, "ghost", false),
				$orientation: $orientation
			);
		}
	}

	&.success {
		> li {
			@include button-group-entry-style(	
				$border-color: $success-button-group-entry-border-color,
				$button-key: if($extend-button-props, "success", false),
				$orientation: $orientation
			);
		}
	}

	&.warning {
		> li {
			@include button-group-entry-style(	
				$border-color: $warning-button-group-entry-border-color,
				$button-key: if($extend-button-props, "warning", false),
				$orientation: $orientation
			);
		}
	}

	&.alert {
		> li {
			@include button-group-entry-style(	
				$border-color: $alert-button-group-entry-border-color,
				$button-key: if($extend-button-props, "alert", false),
				$orientation: $orientation
			);
		}
	}

	&.info {
		> li {
			@include button-group-entry-style(	
				$border-color: $info-button-group-entry-border-color,
				$button-key: if($extend-button-props, "info", false),
				$orientation: $orientation
			);
		}
	}
}