@mixin button-group-entry-style(
	$orientation: horizontal,
	$border-color: $primary-button-group-entry-border-color,
	$button-key: false
) {

	@if ($button-key == primary) {
		&.active {
			> button,
			.button {
				@extend .button.active;
			}
		}

	} @elseif ($button-key) {
		> button,
		.button {
			@extend .button.#{$button-key}
		}

		&.active {
			> button,
			.button {
				@extend .button.#{$button-key}.active;
			}
		}
	}

	@if ($orientation == horizontal) {
		&:not(:last-child) {
			border-right-color: $border-color;
		}
		
	} @else if ($orientation == vertical) {
		&:not(:last-child) {
			border-right: 0;
			border-bottom: 1px solid $border-color;
		}
	}
}