// ==========================================================================
// LV FOUNDATION - modals
// ==========================================================================

//
// Here, we define custom CSS-declaration overrides for Foundation's built-in
// modals component.
//

//
// FUNCTIONS
// ==========================================================================
// 

@function modal-close-margin-from-center($modal-width) {
	@return $modal-width * -0.5 - $modal-close-side-width - $modal-close-offset;
}

//
// CSS DECLARATIONS
// ==========================================================================

@if ($include-lv-html-modals-classes) {

	// 
	// OVERLAY
	// 
	.modal-overlay {
		background-color: $modal-overlay-bg-color;
		z-index: $z-modal-overlay;
	}
	
	// 
	// MODAL
	// 
	.modal-container {

		// 
		// We leave enough room on top of the .modal-container to account for
		// the close button and requisite spacing for rhythm.
		// 
		// Offset = Close button height + (2 * spacing units)
		// 
		$modal-container-padding-top-small: $modal-close-side-width + (2 * $modal-container-spacing-small);
		padding: $modal-container-padding-top-small $modal-container-spacing-small $modal-container-spacing-small;

		// 
		// At larger breakpoints, offset changes, though it should be kept
		// the same horizontally and vertically to preserve rhythm.
		// 
		@media #{$medium-up} {
			padding: $modal-container-spacing-medium;
		}
		@media #{$large-up} {
			padding: $modal-container-spacing-large;
		}

		overflow-x: auto;
		overflow-y: auto;
		z-index: $z-modal-container;
	}

	.modal {

		// 
		// If desired, extend properties from .card component (i.e. box-shadow,
		// border-radius, border, etc.).
		// 
		@if ($modal-extend-card) {
			@extend %card;
		}

		background-color: $modal-bg-color;

		// 
		// POSITIONING
		// 
		margin: 0 auto;
		z-index: $z-modal;
		
		// 
		// DIMENSIONS
		// 
		display: block;
		max-width: $modal-width-small;
		padding: $modal-spacing-small;
		@media #{$medium-up} {
			padding: $modal-spacing-medium;
		}
		@media #{$large-up} {
			padding: $modal-spacing-large;
		}

		// 
		// SIZING VARIANTS
		// 
		&.small { 	max-width: $modal-width-small; }
		&.medium { 	max-width: $modal-width-medium; }
		&.large { 	max-width: $modal-width-large; }
		&.full,
		&.full-no-gutter {
			max-width: $modal-width-full;
			width: $modal-width-full;
			height: $modal-height-full;
			position: fixed;
			top: 0;
			left: 0;
			// Reset borders
			border: none;
			border-radius: 0;
			box-shadow: none;
			padding: $modal-container-spacing-large;
		}
		&.full-no-gutter {
			padding: $modal-container-spacing-full;
		}

		// 
		// ACTIVE STATE
		// 
		transform: scale(0.85);
		transition: transform 0.3s ease;
	}

	// 
	// CLOSE BUTTON
	// 
	button.modal-close {

		background-color: $modal-close-bg-color;

		// 
		// Used to center 'times' character in close button
		// 
		text-align: center;

		// 
		// HOVER / ACTIVE STATES
		// 
		opacity: 0.75;
		cursor: pointer;
		&:hover { opacity: 1; }
		&:active { opacity: 0.875; }
		
		//
		// Remove conflicting default button styles
		//
		padding: 0;
		border-color: transparent;
		margin: 0;
		font-weight: normal;

		&:hover, 
		&:active, 
		&:focus { 
			background-color: $modal-close-bg-color;
			border-color: transparent;
		}

		// 
		// RESETTING BUTTON STYLES
		// 
		padding: 0;
		font-weight: inherit;
		border: 0;

		// 
		// Resets styles from icons inside buttons
		// 
		.icon:before {
			position: static;
			top: auto;
			left: auto;
			font-size: $modal-close-icon-font-size;
		}

		// 
		// DIMENSIONS
		// 
		display: inline-block;
		height: $modal-close-side-width;
		width: $modal-close-side-width;
		border-radius: 50%;

		//
		// POSITIONING
		// ==========================================================================
		
		// 
		// DEFAULT POSITIONING
		// Used with .modal and .modal.small
		// 
		position: fixed;
		top: $modal-container-spacing-small;
		right: $modal-container-spacing-small;
		z-index: $z-modal-close;
		
		// 
		// Once the window has expanded past the point of the modal's fluidity,
		// the button must be positioned with respect to the modal's center.
		// It should appear that the button has not yet moved, but rather snap
		// into place.
		// 
		@media #{$modal-small-breakpoint} {
			right: 50%;
			margin-right: $modal-width-small * -0.5;
		}

		// 
		// Here, we move the button to the right of the modal and adjust the top
		// spacing to account for the increased padding around the
		// .modal-container. This top-positioning will be inherited by all
		// responsive variants of the modal.
		// 
		@media #{$medium-up} {
			top: $modal-container-spacing-medium;
			margin-right: modal-close-margin-from-center($modal-width-small);
		}

		// 
		// Again, we adjust top-spacing to account for the increased padding
		// around the .modal-container.
		// 
		@media #{$large-up} {
			top: $modal-container-spacing-large;
		}
	}

	// 
	// RESPONSIVE CLOSE BUTTON POSITIONING
	// 
	.modal.medium,
	.modal.large {

		+ button.modal-close {

			// 
			// At both of these breakpoints, we override the positioning for
			// .modal.small above.
			// 
			@media #{$modal-small-breakpoint} {
				right: $modal-close-offset;
				margin-right: 0;
			}
		}
	}

	.modal.medium {

		+ button.modal-close {

			// 
			// Once the window has expanded pas the point of the modal's fluidity,
			// we reposition with respect to the modal's center rather than the window.
			// 
			@media #{$modal-medium-breakpoint} {
				right: 50%;
				margin-right: modal-close-margin-from-center($modal-width-medium);
			}
		}
	}

	.modal.large {

		+ button.modal-close {

			@media #{$large-up} {
				right: $modal-container-spacing-large - $modal-close-side-width - $modal-close-offset
			}

			@media #{$modal-large-breakpoint} {
				right: 50%;
				margin-right: modal-close-margin-from-center($modal-width-large);
			}
		}
	}

	.modal.full,
	.modal.full-no-gutter {

		+ button.modal-close {

			@media #{$modal-small-breakpoint} {
				top: $modal-close-offset-full;
				right: $modal-close-offset-full;
				margin-right: $modal-close-margin-full;
			}
		}
	}

	.modal-overlay,
	.modal-container {

		// 
		// POSITIONING
		// 
		position: fixed;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;

		// 
		// INACTIVE STATE
		// 
		opacity: 0;
		visibility: hidden;
		transition: visibility 0s, opacity 0.3s ease;	
	}

	// 
	// ACTIVE STATE
	// Modify page scrolling. As a result, .modal-container should be the only
	// element scrolling inside .page-container
	// 
	body.modal-active {
		overflow: hidden;
	}

	.modal-active {

		.page-container {
			overflow-y: scroll;
		}

		.modal {
			transform: scale(1);
		}

		.modal-overlay,
		.modal-container {
			opacity: 1;
			visibility: visible;
		}

	}
}