// ==========================================================================
// LV FOUNDATION - modals
// ==========================================================================

//
// Here, we define default values for used to generate CSS for LV-Foundation's
// modals component.
//

//
// THEMING DEFAULTS
// ==========================================================================

// 
// Overlay
// 
$modal-overlay-bg-color: rgba(240, 240, 240, 0.9) !default;

// 
// Close
// 
$modal-close-side-width: 3rem !default;
$modal-close-bg-color: #999 !default;
$modal-close-icon-font-size: 0.875rem !default;

// 
// Contents
// 
$modal-bg-color:	white !default;
$modal-extend-card: false !default;

// 
// Width Variants
// 
$modal-width-small: 	32rem !default;
$modal-width-medium: 	48rem !default;
$modal-width-large:		64rem !default;
$modal-width-full:		100% !default;

//
// Height Variants
//
$modal-height-full:		100% !default;

// 
// Spacing
// 
$modal-container-spacing-small:		1rem !default;
$modal-container-spacing-medium:	5rem !default;
$modal-container-spacing-large:		7rem !default;
$modal-container-spacing-full:		0 !default;

$modal-spacing-small:	1rem !default;
$modal-spacing-medium:	2rem !default;
$modal-spacing-large:	3rem !default;

$modal-close-offset:		1rem !default;
$modal-close-offset-full:	2rem !default;
$modal-close-margin-full:	0 !default;

//
// NON-THEMABLE DEFAULTS
// ==========================================================================

// 
// These values are encapsulated in variables for clarity, but are not currently
// themable.
// 

// 
// Z-INDICES
// 
$z-modal-overlay: 	100000000000;
$z-modal-container: $z-modal-overlay + 1;
$z-modal: 1;
$z-modal-close: $z-modal + 1;

//
// BREAKPOINT WIDTHS
// 
$modal-small-breakpoint-width: $modal-width-small + $modal-container-spacing-small * 2;
$modal-medium-breakpoint-width: $modal-width-medium + $modal-container-spacing-medium * 2;
$modal-large-breakpoint-width: $modal-width-large + $modal-container-spacing-large * 2;

// 
// BREAKPOINT QUERIES
// 
$modal-small-breakpoint: "#{$screen} and (min-width: #{$modal-small-breakpoint-width})";
$modal-medium-breakpoint: "#{$screen} and (min-width: #{$modal-medium-breakpoint-width})";
$modal-large-breakpoint: "#{$screen} and (min-width: #{$modal-large-breakpoint-width})";