// We use this mixin to style fieldsets
@mixin fieldset {
	border: $fieldset-border-width $fieldset-border-style $fieldset-border-color;
	margin: $fieldset-margin;
	padding: $fieldset-padding;

	// and legend styles
	legend {
		font-weight: $legend-font-weight;
		margin: 0;
		margin-#{$default-float}: rem-calc(-3);
		padding: $legend-padding;
	}
}
