@mixin form-error-message(
	$bg-color:		$input-error-message-bg-color,
	$font-color:	$input-error-message-font-color,
	$font-size:		$input-error-message-font-size,
	$font-style:	$input-error-message-font-style,
	$font-weight: 	$input-error-message-font-weight,
	$padding:		$input-error-message-padding,
	$margin-top:	$input-error-message-top,
	$spacing:		$form-spacing
	) {

	font-size: $font-size;
	font-style: $font-style;
	font-weight: $font-weight;
	
	display: block;
	margin-bottom: $spacing;
	
	margin-top: $spacing * -1 + $margin-top;
	padding: $padding;

	background: $bg-color;
	color: $font-color;
}
