// ==========================================================================
// LV FOUNDATION - Form Multi-Control Elements - Mixins
// =========================================================================

//
// Here, we define a set of mixins used to declare styles for MULTI-CONTROL
// elements that appear in forms - namely, CHECKBOXES and RADIO BUTTONS.
//

@mixin form-multi-control-base(
	$spacing: 			$form-spacing,
	$label-font-size:	$input-font-size) {

	// TODO: vendor prefixes
	appearance: none;
	-webkit-appearance: none;

	display: inline-block;
	vertical-align: middle;

	background-repeat: no-repeat;
	background-position: center center;

	margin-top: 0;
	margin-bottom: $spacing;

	border-style: solid;

	+ label {
		vertical-align: middle;
		display: inline-block;
		margin-bottom: $spacing;
		margin-#{$default-float}: $spacing * 0.5;
		margin-#{$opposite-direction}: $spacing;

		// Override label styles
		font-size: $input-font-size;
		@if ($form-label-letter-spacing) {
			letter-spacing: normal;
		}
	}
}

@mixin form-multi-control-size(
	$height: $multi-control-height,
	$width: $multi-control-width) {

	height: $height;
	width: $width;

	+ label {
		line-height: $height;
	}
}

@mixin form-multi-control-style(
	$bg-color: 			false,
	$border-color: 		false,
	$border-width: 		false,
	$border-radius: 	false,
	$bg-size: 			false,
	$bg-img-base64:		false,
	$label-font-color:	$input-font-color) {

	@if ($bg-color) 		{ background-color: $bg-color; }
	@if ($border-color) 	{ border-color: $border-color; }
	@if ($bg-size) 			{ background-size: $bg-size; }
	@if ($border-width) 	{ border-width: $border-width; }
	@if ($border-radius) 	{ border-radius: $border-radius; }

	@if ($bg-img-base64) {
		background-image: url(data:image/svg+xml;base64,#{$bg-img-base64});
	}

	+ label {
		color: $label-font-color;
	}
}