@mixin form-placeholder-style(
	$color: $input-placeholder-font-color,
	$font-style: $input-placeholder-font-style) {

	color: $color;
	@if ($font-style) {
		font-style: $font-style;
	}
}

@mixin form-placeholders() {
	&::-webkit-input-placeholder {
		@content;
	}

	&:-moz-placeholder {
		// Firefox 18-
		@content;
	}

	&::-moz-placeholder {
		// Firefox 19+
		@content;
	}

	&:-ms-input-placeholder {
		@content;
	}
}

@mixin form-element-base(
	$border-width: 		$input-border-width,
	$border-style:		$input-border-style,
	$font-family:		$input-font-family,
	$font-size:			$input-font-size,
	$spacing:			$form-spacing,
	$padding-horizontal:$form-el-horizontal-padding,
	$border-radius:		$form-input-border-radius,
	$margin-bottom: 	$form-input-bottom-margin
	) {

	$height: $font-size + $spacing * 1.5 - rem-calc(1);
	$padding-vertical: $spacing / 2;

	border-radius: $border-radius;
	border-width: $border-width;
	border-style: $border-style;

	display: block;
	height: $height;
	width: 100%;

	margin: 0 0 $spacing 0;

	@if ($margin-bottom) {
		margin-bottom: $margin-bottom;
	}

	padding: $padding-vertical $padding-horizontal;

	font-family: $input-font-family;
	font-size: $input-font-size;

	// 
	// TODO: Remove vendor prefixes
	// 
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

@mixin text-input-base(
	$box-shadow:		$input-box-shadow,
	$outline:			$input-outline
	) {

	box-shadow: $input-box-shadow;

	// 
	// TODO:
	// Is this necessary? Shouldn't it be inherited?
	// 
	@include box-sizing(border-box);

	&:focus {
		// this is to account for nm theme outline: none. Will eventually remove
		// completely when approved.
		@if ($outline) {
			outline: $outline;
		}
	}
}

@mixin text-input-styles(
	$border-color: $input-border-color-hover
	) {

	@if ($border-color) {
		border-color: $border-color;
	}
}

@mixin select-base(
	$direction: 		$text-direction,
	$handle-padding: 	$select-handle-padding,
	$font-size:			$select-font-size,
	$border-width:		$select-border-width) {
	
	background-position: if($direction == "rtl", left, right) center;
	background-repeat: no-repeat;

	// To account for just LV changes. Will remove @if's later once NM theme changes are approved.
	@if ($border-width) {
		border-width: $select-border-width;
	}
	@if ($font-size) {
		font-size: $font-size;
	}
	@if not $handle-padding {
		background-origin: content-box;
	}
}

@mixin select-styles(
	$bg-image: 		$select-handle-img-base64,
	$bg-color:		$select-bg-color,
	$border-color:	$select-border-color,
	$color:			$select-font-color) {

	background-image: url(data:image/svg+xml;base64,#{$bg-image});
	background-color: $bg-color;
	border-color: $border-color;
	@if ($select-font-color) {
		color: $color;
	}
}

@mixin form-element-styles(
	$font-color:	$input-font-color,
	$bg-color: 		$input-bg-color,
	$border-color:	$input-border-color) {

	@if ($font-color) {
		color: $font-color;
	}
	@if ($bg-color) {
		background-color: $bg-color;
	}
	@if ($border-color) {
		border-color: $border-color;
	}
}

@mixin form-element-transitions(
	$time: 				$input-transition-fade-time,
	$timing-function: 	$input-transition-fade-timing-function
	) {

	// 
	// TODO: Remove vendor prefixes
	// 
	-webkit-transition: border-color $time $timing-function, background $time $timing-function;
	-moz-transition: border-color $time $timing-function, background $time $timing-function;
	-ms-transition: border-color $time $timing-function, background $time $timing-function;
	-o-transition: border-color $time $timing-function, background $time $timing-function;
	transition: border-color $time $timing-function, background $time $timing-function;
}

@mixin text-input-radii-override($affix-type) {
	$side: "";
	
	@if ($affix-type == "prefix") {
		$side: $default-float;
	} @else if ($affix-type == "postfix") {
		$side: $opposite-direction;
	} @else {
		@error "Invalid value for arg $affix-type. Expected either \"prefix\" or \"postfix\" but received " + $type;
	}

	border-top-#{$side}-radius: 0;
	border-bottom-#{$side}-radius: 0;
}

@mixin form-element-error($selector) {
	.error #{$selector},
	#{$selector}.error {
		@content;
	}	
}