// We use this mixin to turn on/off HTML5 number spinners
@mixin html5number($browser, $on: true) {
	@if $on == false {
			@if $browser == webkit {
				-webkit-appearance: none;
				margin: 0;
			} @else if $browser == moz {
				-moz-appearance: textfield;
			}
	}
}
