@if $include-lv-html-block-grid-classes {

	[class*="block-grid-"] { @include block-grid; }

	@if $block-grid-media-queries {
		@media #{$small-up} {
			@include block-grid-html-classes($size:small, $include-spacing:false);
		}

		@media #{$medium-up} {
			@include block-grid-html-classes($size:medium, $include-spacing:false);
		}

		@media #{$large-up} {
			@include block-grid-html-classes($size:large, $include-spacing:false);
		}

		@if $include-xl-html-block-grid-classes {
			@media #{$xlarge-up} {
				@include block-grid-html-classes($size:xlarge, $include-spacing:false);
			}

			@media #{$xxlarge-up} {
				@include block-grid-html-classes($size:xxlarge, $include-spacing:false);
			}
		}
	}
}