// ==========================================================================
// UI-TOOLKIT - MIXIN - switch style
// ==========================================================================

//
// This mixin is used to add color and other fanciness to the switches.
//

// @param {Color} $paddle-bg 		Background color of switch paddle.
// @param {Color} $active-color 	Background color of switch-container when
// 									active.
// @param {Measure} $radius 		Radius to apply to switch.
// 		  {Boolean}					If false, no radius applied
// @param {Boolean} $base-style 	Whether or not to supply base styles.
@mixin switch-style(
	$paddle-bg: $switch-paddle-bg,
	$active-color: $switch-active-color,
	$radius: false,
	$base-style: true) {

	@if ($base-style) {
		label {
			color: transparent;
			background: $switch-bg;
		}

		label:after {
			background: $paddle-bg;
		}

		input:checked + label {
			background: $active-color;
		}
	}
	
	// 
	// Here, we set up the border radius for the switches.
	// 
	@if ($radius == true) {
		// TODO:
		// Why is this 2rem value hard-coded? It should be set as a default.
		label {
			border-radius: 2rem;
		}

		label:after {
			border-radius: 2rem;
		}
	} @else if ($radius) {
		label {
			border-radius: $radius;
		}

		label:after {
			border-radius: $radius;
		}
	}
}