// ==========================================================================
// UI-TOOLKIT - MIXIN - switch-base
// ==========================================================================

//
// This mixin is used to organize default, base properties that apply to the
// switch element.
// 

// @param {Time} 	$transition-speed	The speed of the switch's transition
// @param {Easing}	$transition-ease	The easing of the switch's transition

@mixin switch-base(
	$transition-speed: $switch-paddle-transition-speed,
	$transition-ease: $switch-paddle-transition-ease) {

	border: none;
	margin-bottom: $switch-bottom-margin;
	outline: 0;
	padding: 0;
	position: relative;
	// TODO:
	// Remove browser prefixing
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	// 
	// Here we set default values for the switch-container, including those
	// pertaining to style and layout.
	// 
	label {
		background: $switch-bg;
		color: transparent;
		cursor: pointer;
		display: block;
		margin-bottom: $switch-height-med / 2;
		position: relative;
		text-indent: 100%;
		// Transition for the switch label to follow paddle
		@include single-transition(left, $transition-speed, $transition-ease);
	}

	// 
	// Here, we hide the <input> (i.e. checkbox or radio) to which the state of
	// the switch will be bound.
	// 
	input {
		left: 10px;
		opacity: 0;
		padding: 0;
		position: absolute;
		top: 9px;

		& + label {
			margin-left: 0;
			margin-right: 0;
		}
	}

	// 
	// The paddle for the switch is created from an after psuedoclass
	// content element. This is sized and positioned, and reacts to
	// the state of the input.
	// 
	label:after {
		background: $switch-paddle-bg;
		content: "";
		display: block;
		position: absolute;
		// TODO:
		// Remove vendor prefixes.
		-webkit-transition: left $transition-speed $transition-ease;
		-moz-transition: left $transition-speed $transition-ease;
		-o-transition: translate3d(0, 0, 0);
		transition: left $transition-speed $transition-ease;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);

		// 
		// Here, we only render the border-property if desired, rather than
		// having an empty border declaration.
		// 
		@if ($switch-paddle-border-width and $switch-paddle-border-color) {
			border: $switch-paddle-border-width $switch-paddle-border-color solid;
		}
	}

	// 
	// We use the :checked pseudo-selector to denote an active switch.
	// 
	input:checked + label {
		background: $switch-active-color;
	}
}