// ==========================================================================
// UI-TOOLKIT - MIXIN - switch-size
// ==========================================================================

//
// This mixin is used to declare properties associated with a particular
// switch element's size. Notably, this mixin is used to render size-alernative
// versions of the switch (eg. `.switch.small`, `.switch.large`, etc.).
// 
// 
// Note that we will refer to the element within the switch-container that
// animates from the left to the right when active (and in reverse when
// inactive) as the "paddle".
// 

// @param {Number} 	$multiplier				Ratio by which various measures
// 											should be multiplied to achieve
// 											desired size.
// @param {Measure} $height					*Initial height of switch-container
// @param {Measure} $width					*Initial width of switch-container
// @param {Measure} $paddle-height			*Initial height of paddle
// @param {Measure} $paddle-width			*Initial width of paddle
// @param {Measure} $inset-horizontal		*Initial horizontal spacing between
// 											paddle and switch-container element
// @param {Measure} $border-radius			*Initial border-radius of switch-
// 											container
// @param {Measure} $paddle-border-radius	*Initial border-radius of paddle
// 
// * Denotes property that will be modified by the multiplier.

@mixin switch-size(
	$multiplier: 1,
	$height: $switch-height-med,
	$width: $switch-width-med,
	$paddle-height: $switch-paddle-height-med,
	$paddle-width: $switch-paddle-width-med,
	$inset-horizontal: $switch-paddle-inset-horizontal-med,
	$border-radius: $switch-border-radius-med,
	$paddle-border-radius: $switch-paddle-border-radius-med) {

	//
	// MEASUREMENT DETERMINATIONS
	// ==========================================================================
	
	// 
	// Use $multiplier to determine desired size
	// 
	$height: $height * $multiplier;
	$width: $width * $multiplier;
	$paddle-height: $paddle-height * $multiplier;
	$paddle-width: $paddle-width * $multiplier;
	$inset-horizontal: $inset-horizontal * $multiplier;
	$border-radius: $border-radius * $multiplier;
	$paddle-border-radius: $paddle-border-radius * $multiplier;

	// 
	// Computed based on other values above
	// 
	$inset-vertical: ($paddle-height - $height) / 2;

	//
	// DECLARATIONS
	// ==========================================================================
	
	label {
		height: $height;
		width: $width;
		border-radius: $border-radius;

		@if ($inset-horizontal < 0) {
			left: abs($inset-horizontal);
		}

		@if ($inset-vertical > 0) {
			margin-top: $inset-vertical;
		}
	}

	// 
	// The paddle is rendered below as an :after pseudo-element.
	// 
	label:after {
		height: $paddle-height;
		width: $paddle-width;
		left: $inset-horizontal;
		top: $inset-vertical * -1;
		border-radius: $paddle-border-radius;
	}

	// 
	// We use the :checked pseudo-selector to denote an active switch, moving
	// the paddle to the right.
	// 
	input:checked + label:after {
		left: $width - $inset-horizontal - $paddle-width;
	}
}