@mixin keyval-column-widths() {
	
	@for $i from 1 through $total-columns {
		&.key-columns-#{$i} .key {
			width: 100% / $total-columns * $i;
		}

		&.val-columns-#{$i} .val {
			width: 100% / $total-columns * $i;
		}
	}
}