@mixin keyval-head-styles(
	$table-bg-color: $table-bg
	) {

	border-left: $table-head-border-side-width solid;
	border-right: $table-head-border-side-width solid;
	// 
	// Overrides default table row state on hover (which typically includes
	// color changes.) Overrides are only made if the standard row hover value
	// exists and is different from the default, as that is the only case in
	// which it would need to be overridden.
	// 
	&:hover {
		@if ($table-row-hover-bg-color && ($table-row-hover-bg-color != $table-bg-color)) {
			background-color: $table-bg-color;
		}
	
		@if ($table-row-hover-border-bottom-color and ($table-row-hover-border-bottom-color != $table-row-border-bottom-color)) {
			border-bottom-color: $table-row-border-bottom-color;
		}
	}
}