@mixin table-scrollable() {
	
	display: block;
	empty-cells: show;
	
	@if ($table-scrollable-border-bottom-color and $table-scrollable-border-bottom-size) {
		border-collapse: collapse;
		border-bottom: $table-scrollable-border-bottom-style $table-scrollable-border-bottom-size $table-scrollable-border-bottom-color;
		
		tbody tr:last-child {
			border-bottom: none;
		}
	}	
	
	thead {
		position: relative;
		display: block;
		width: 100%;
	}
	
	tbody {
		display: block;
		position: relative;
		width: 100%;
		overflow-y: scroll;	
	}
	
	tr {
		width: 100%;
		display: flex;
	}
	
	td, th {
		display: block;
		flex-basis: 100%;
		flex-grow: 2;
	}
	
}
