// ==========================================================================
// UI-TOOLKIT - MIXIN - contextual table row style
// ==========================================================================

//
// This mixin is used to add contextual color to table rows.
//

// @param {Color} $bg-color 			Background color of the row.
// @param {Color} $font-color 			Font color of the row.
// @param {Color} $border-bottom-color 	Bottom border color of the row.
// @param {Selector} $child				Selector for element to put the border on
// //
@mixin table-row-contextual-styles(
		$bg-color,
		$font-color,
		$border-bottom-color,
		$child: 'td'
	) {
	
	@if ($child) {
		#{$child} {
			border-bottom-color: $border-bottom-color;
		}
	} @else {
		border-bottom-color: $border-bottom-color;
	}
	
	background-color: $bg-color;
	color: $font-color;
	
	a {
		text-decoration: $table-row-text-decoration;
		color: $font-color;
		
		&:hover {
			color: darken($font-color, 15%);
		}
	}
		
	&:hover {
		background-color: scale-color($bg-color, $lightness: 50%);
	}
}
