@mixin table-sticky() {

	.sticky-wrap {
		position: relative;
		margin-bottom: $table-margin-bottom;
		width: 100%;
		
		.sticky-thead {
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			transition: $table-sticky-thead-transition;
			background-color: $table-sticky-thead-bg-color;
			box-shadow: $table-sticky-thead-shadow;
			z-index: $table-sticky-thead-zindex;
			width: 100%;
			margin-bottom: 0;
		}
		
		.sticky-enabled {
			margin: 0;
			width: 100%;
		}
	}
	
}
