@mixin table-row-styles (
		$border-side-color: $table-row-border-side-color,
		$border-bottom-color: $table-row-border-bottom-color,
		$font-color: $table-row-font-color,
		$hover-bg-color: $table-row-hover-bg-color,
		$hover-border-color: $table-row-hover-border-bottom-color,
		$actionable-bg-color: $table-row-actionable-bg-color,
		$actionable-font-color: $table-row-actionable-font-color,
		$actionable-border-bottom-color: $table-row-actionable-border-bottom-color,
		$even-row-bg: false,
		$header-font-color: false,
		$child: 'td'
	) {

	color: $font-color;

	&.even,
	&.alt,
	&:nth-of-type(even) { 
		@if ($even-row-bg) {
			background: $even-row-bg; 
		}
	}

	&:hover {
		@if ($hover-bg-color) {
			background-color: $hover-bg-color;
		}
	}

	&.actionable {
		&:hover {
			background-color: $actionable-bg-color;
			color: $actionable-font-color;
		}
	}
	
	&.table-group-header {

		h1, h2, h3, h4, h5, h6 {
			@if ($header-font-color) {
				color: $header-font-color;
			}	
		}

		&:hover {
			background-color: transparent;
		}
	}
		
	@if ($child) {
		#{$child} {
			&:first-child {
				border-left-color: $border-side-color;
			}
			&:last-child {
				border-right-color: $border-side-color;
			}

			@if ($border-bottom-color) {
				border-bottom-color: $border-bottom-color;
			}
		}
	} @else {
		border-left-color: $border-side-color;
		border-right-color: $border-side-color;

		@if ($border-bottom-color) {
			border-bottom-color: $border-bottom-color;
		}
	}

	@if ($hover-border-color) {
		&:hover {
			@if ($child) {
				#{$child} {
					border-bottom-color: $hover-border-color;
				}
			} @else {
				border-bottom-color: $hover-border-color;
			}
		}
	}

	@if ($actionable-border-bottom-color) {
		&.actionable {
			&:hover {
				@if ($child) {
					#{$child} {
						border-bottom-color: $actionable-border-bottom-color;
					}
				} @else {
					border-bottom-color: $actionable-border-bottom-color;
				}
			}
		}
	}
	
	@if ($child) {
		&.table-group-header #{$child} {
			border-bottom-color: $table-group-header-border-bottom-color;
		}	
	} @else {
		&.table-group-header {
			border-bottom-color: $table-group-header-border-bottom-color;
		}
	}
}

@mixin table-row-base($child: 'td') {
	
	font-size: $table-row-font-size;

	&.actionable {
		&:hover {
			cursor: pointer;
		}
	}
	
	// 
	// If the element exists, then we assume that we should place borders
	// on the child element itself. Otherwise, place the borders on the wrapper
	// element.
	// 
	@if ($child) {
		#{$child} {
			@if ($table-row-border-bottom-width) {
				border-bottom: $table-row-border-bottom-width solid;
			}

			&:first-child {
				border-left: $table-row-border-side-width solid;
			}
			&:last-child {
				border-right: $table-row-border-side-width solid;
			}
		}
		
		&.table-group-header #{$child} {
			border-right: none;
			border-left: none;
		}
	} @else {
		@if ($table-row-border-bottom-width) {
			border-bottom: $table-row-border-bottom-width solid;
		}

		border-left: $table-row-border-side-width solid;
		border-right: $table-row-border-side-width solid;

		&.table-group-header {
			border-right: none;
			border-left: none;
		}
	}
}
