// ==========================================================================
// LV FOUNDATION - tables - example-mixin
// =========================================================================

//
// Here, we define the primary mixin used to declare tables
//

@mixin table-base {

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0;
	}
	
	margin-bottom: $table-margin-bottom;
	table-layout: $table-layout;
	width: 100%;
	
	@if ($table-border-size and $table-border-style) {
		border: $table-border-style $table-border-size;
	}

	@if ($table-font-family and $table-font-family != $body-font-family) {
		font-family: $table-font-family;	
	}

	border-spacing: $table-border-spacing;
}

@mixin table-styles {

	background: $table-bg;

	@if ($table-border-color) {
		border-color: $table-border-color;
	}
}