@mixin table-head-cell-base() {

	text-align: $default-float;
	white-space: $table-head-whitespace;
	font-size: $table-head-font-size;
	font-weight: $table-head-font-weight;
	padding: $table-head-padding;

}

@mixin table-head-cell-styles(
	$font-color: $table-head-font-color,
	$sorted-font-color: $table-sortable-header-sorted-color,
	$sortable-font-color: $table-sortable-head-font-color,
	$border-bottom-color: $table-row-border-bottom-color,
	$border-side-color: $table-head-border-side-color) {

	@if ($border-bottom-color) {
		border-bottom: $border-bottom-color $table-head-border-bottom-width solid;
	}
		
	@if ($border-side-color) {
		&:first-child {
			border-left: $table-head-border-side-width solid $border-side-color;
		}
		&:last-child {
			border-right: $table-head-border-side-width solid $border-side-color;
		}
	}
	
	color: $font-color;
	
	&.sortable-table-header {
		a {
			text-decoration: none;
			color: $font-color;
			
			&:hover {
				background-color: inherit;
				color: $table-sortable-header-hover-color;
			}
		}

		&.sorted {
			a {
				color: $sorted-font-color;
			}
		}
	}

}