// ==========================================================================
// LV FOUNDATION - THEMING DEFAULTS - type
// =========================================================================

//
// FOUNDATION DEFAULTS
// ==========================================================================

//
// HEADINGS
// ==========================================================================

// We use these to control header font styles
$header-font-family: 			$body-font-family 	!default;
$header-font-weight: 			$font-weight-normal !default;
$header-font-style: 			normal 				!default;
$header-font-color: 			$true-black			!default;
$header-line-height: 			1.4 				!default;
$header-top-margin: 			.2rem 				!default;
$header-bottom-margin: 			.5rem 				!default;
$header-text-rendering: 		optimizeLegibility 	!default;
$header-text-transform: 		false 				!default;
$header-font-size: 				false 				!default;
$header-font-size-medium-up:	false 				!default;
$header-line-height-medium-up:	false 				!default;

// Ghosting headers
$heading-font-color-ghost: 		$ghost-text-color	!default;

// We use these to control header font sizes
$h1-font-size: rem-calc(44) !default;
$h2-font-size: rem-calc(37) !default;
$h3-font-size: rem-calc(27) !default;
$h4-font-size: rem-calc(23) !default;
$h5-font-size: rem-calc(18) !default;
$h6-font-size: 1rem 		!default;

// We use these to control header size reduction on small screens
$h1-font-reduction: rem-calc(10) 	!default;
$h2-font-reduction: rem-calc(10) 	!default;
$h3-font-reduction: rem-calc(5) 	!default;
$h4-font-reduction: rem-calc(5) 	!default;
$h5-font-reduction: 0 				!default;
$h6-font-reduction: 0 				!default;

// Header font family
$header-font-family: 	false !default;
$h1-font-family: 		false !default;
$h2-font-family: 		false !default;
$h3-font-family: 		false !default;
$h4-font-family: 		false !default;
$h5-font-family: 		false !default;
$h6-font-family: 		false !default;

// Font weight
$h1-font-weight: false !default;
$h2-font-weight: false !default;
$h3-font-weight: false !default;
$h4-font-weight: false !default;
$h5-font-weight: false !default;
$h6-font-weight: false !default;

// Font color
$h1-font-color: false !default;
$h2-font-color: false !default;
$h3-font-color: false !default;
$h4-font-color: false !default;
$h5-font-color: false !default;
$h6-font-color: false !default;

// Font style
$h1-font-style: false !default;
$h2-font-style: false !default;
$h3-font-style: false !default;
$h4-font-style: false !default;
$h5-font-style: false !default;
$h6-font-style: false !default;

// Line height
$h1-line-height: false !default;
$h2-line-height: false !default;
$h3-line-height: false !default;
$h4-line-height: false !default;
$h5-line-height: false !default;
$h6-line-height: false !default;

// Text-transform
$h1-text-transform: false !default;
$h2-text-transform: false !default;
$h3-text-transform: false !default;
$h4-text-transform: false !default;
$h5-text-transform: false !default;
$h6-text-transform: false !default;

// Font-size medium up
$h1-font-size-medium-up: false !default;
$h2-font-size-medium-up: false !default;
$h3-font-size-medium-up: false !default;
$h4-font-size-medium-up: false !default;
$h5-font-size-medium-up: false !default;
$h6-font-size-medium-up: false !default;

// Line-height medium-up
$h1-line-height-medium-up: false !default;
$h2-line-height-medium-up: false !default;
$h3-line-height-medium-up: false !default;
$h4-line-height-medium-up: false !default;
$h5-line-height-medium-up: false !default;
$h6-line-height-medium-up: false !default;

// These control how subheaders are styled.
$subheader-line-height: 	1.4 												!default;
$subheader-font-color: 		scale-color($header-font-color, $lightness: 35%) 	!default;
$subheader-font-weight: 	$font-weight-normal 								!default;
$subheader-top-margin: 		.2rem 												!default;
$subheader-bottom-margin: 	.5rem 												!default;

// A general <small> styling
$small-font-size: 	60% 												!default;
$small-font-color: 	scale-color($header-font-color, $lightness: 35%) 	!default;

// We use these to style paragraphs
$paragraph-font-family: 		inherit 			!default;
$paragraph-font-weight: 		$font-weight-normal !default;
$paragraph-font-size: 			1rem 				!default;
$paragraph-line-height: 		1.6 				!default;
$paragraph-margin-bottom: 		rem-calc(20) 		!default;
$paragraph-aside-font-size: 	rem-calc(14) 		!default;
$paragraph-aside-line-height: 	1.35 				!default;
$paragraph-aside-font-style: 	italic 				!default;
$paragraph-text-rendering: 		optimizeLegibility 	!default;

// Ghosting paragraphs and phrases
$paragraph-font-color-ghost: 	$ghost-text-color !default;
$phrase-font-color-ghost:		$ghost-text-color !default;

// We use these to style <code> tags
$code-color:			#ff275d													!default;
$code-font-family: 		$font-family-monospace 									!default;
$code-font-weight: 		$font-weight-normal 									!default;
$code-background-color: scale-color($secondary-color, $lightness: 70%) 			!default;
$code-border-size: 		1px 													!default;
$code-border-style: 	solid 													!default;
$code-border-color: 	scale-color($code-background-color, $lightness: -10%) 	!default;
$code-border-radius: 	4px 													!default;
$code-padding: 			rem-calc(2) rem-calc(5) rem-calc(1) 					!default;
$code-white-space: 		nowrap 													!default;

// Ghosting code
$code-border-color-ghost: 		rgba($ghost-text-color, 0.6) 	!default;
$code-background-color-ghost: 	rgba($ghost-text-color, 0.1)	!default;
$code-font-color-ghost: 		$code-color 					!default;

// We use these to style anchors
$anchor-text-decoration: 		none												!default;
$anchor-text-decoration-hover: 	none 												!default;
$anchor-font-color: 			$primary-color 										!default;
$anchor-font-color-hover: 		scale-color($anchor-font-color, $lightness: -14%) 	!default;

// We use these to style the <hr> element
$hr-border-width: 	1px 			!default;
$hr-border-style: 	solid 			!default;
$hr-border-color: 	$medium-grey 	!default;
$hr-margin: 		rem-calc(20) 	!default;

// Ghosting hr
$hr-border-color-ghost: rgba($ghost-text-color, 0.6) !default;

// We use these to style lists
$list-font-family: 						$paragraph-font-family 		!default;
$list-font-size: 						$paragraph-font-size 		!default;
$list-line-height: 						$paragraph-line-height 		!default;
$list-margin-bottom: 					$paragraph-margin-bottom 	!default;
$list-style-position: 					outside 					!default;
$list-side-margin: 						1.1rem 						!default;
$list-ordered-side-margin: 				1.4rem 						!default;
$list-side-margin-no-bullet: 			0 							!default;
$list-nested-margin: 					rem-calc(20) 				!default;
$definition-list-header-weight: 		$font-weight-bold 			!default;
$definition-list-header-margin-bottom: 	.3rem 						!default;
$definition-list-margin-bottom: 		rem-calc(12) 				!default;

// Ghosting lists
$list-font-color-ghost: $ghost-text-color !default;

// We use these to style blockquotes
$blockquote-font-color: 		scale-color($header-font-color, $lightness: 35%) 	!default;
$blockquote-padding: 			rem-calc(9 20 0 19) 								!default;
$blockquote-border: 			1px solid 											!default;
$blockquote-border-color: 		$medium-grey 										!default;
$blockquote-cite-font-size: 	rem-calc(13) 										!default;
$blockquote-cite-font-color: 	scale-color($header-font-color, $lightness: 23%) 	!default;
$blockquote-cite-link-color: 	$blockquote-cite-font-color 						!default;

// Ghosting Blockquotes
$blockquote-font-color-ghost: 		$ghost-text-color 				!default;
$blockquote-cite-font-color-ghost: 	rgba($ghost-text-color, 0.6) 	!default;
$blockquote-border-color-ghost: 	rgba($ghost-text-color, 0.6)	!default;

// Abbreviation styles
$abbr-underline: 	1px dotted !default;
$abbr-border-color: $medium-grey !default;

// Ghost abbreviation styles
$abbr-acronym-font-color-ghost: $ghost-text-color !default;

// We use these to control padding and margin
$microformat-padding: 	rem-calc(10 12) 	!default;
$microformat-margin: 	rem-calc(0 0 20 0) 	!default;

// We use these to control the border styles
$microformat-border-width: 1px 				!default;
$microformat-border-style: solid 			!default;
$microformat-border-color: $medium-grey 	!default;

// Ghosting Microformats
$microformat-border-color-ghost: 	rgba($ghost-text-color, 0.6)	!default;
$microformat-font-color-ghost: 		$ghost-text-color 				!default;

// We use these to control full name font styles
$microformat-fullname-font-weight: 	$font-weight-bold 	!default;
$microformat-fullname-font-size: 	rem-calc(15) 		!default;

// We use this to control the summary font styles
$microformat-summary-font-weight: $font-weight-bold !default;

// We use this to control abbr padding
$microformat-abbr-padding: rem-calc(0 1) !default;

// We use this to control abbr font styles
$microformat-abbr-font-weight: 		$font-weight-bold 	!default;
$microformat-abbr-font-decoration: 	none 				!default;

// Controls the page margin when printing the website
$print-margin: 0.34in !default;

// Text alignment class names
$align-class-names:
	small-only,
	small,
	medium-only,
	medium,
	large-only,
	large,
	xlarge-only,
	xlarge,
	xxlarge-only,
	xxlarge;

// Text alignment breakpoints
$align-class-breakpoints:
	$small-only,
	$small-up,
	$medium-only,
	$medium-up,
	$large-only,
	$large-up,
	$xlarge-only,
	$xlarge-up,
	$xxlarge-only,
	$xxlarge-up;

// Anchor color
$anchor-background-color-hover: false 				!default;
$anchor-active-color: 			false 				!default;
$anchor-visited-color: 			$anchor-font-color 	!default;

//Anchor Ghosting
$anchor-font-color-ghost: 		$primary-color 											!default;
$anchor-font-color-hover-ghost: scale-color($anchor-font-color-ghost, $lightness: 35%) 	!default;
$anchor-visited-color-ghost: 	rgba($primary-color, 0.5) 								!default;
$anchor-active-color-ghost:		$ghost-text-color										!default;

// Paragraph line height
$paragraph-line-height: false !default;
