// ==========================================================================
// THEME - BUTTONS - nm
// =========================================================================

//
// Here we declare any necessary theme variables for buttons in the
// lv theme.
//

//
// BASE PROPS
// ==========================================================================

$button-border-radius: $global-radius;
$button-border-width: 1px;
$button-font-color: $true-white;

$button-font-color-alt: $primary-color;
$button-disabled-opacity: 0.275;
$button-letter-spacing: 0.025em;

//
// INDIVUDAL BUTTONS
// ==========================================================================


// PRIMARY BUTTON
$primary-button-bg-color: $secondary-color;
$primary-button-border-color: $secondary-color;
$primary-button-border-color-hover: $secondary-mute-color;
$primary-button-bg-hover: $secondary-mute-color;
$primary-button-bg-active: scale-color($primary-button-bg-hover, $lightness: -10%);
$primary-button-border-color-hover: $primary-button-bg-hover;
$primary-button-border-color-active: $primary-button-bg-active;
$primary-button-visited-color: $true-white;
$primary-button-border-bottom-color-filter-active: $primary-button-bg-color;

// SECONDARY BUTTON
$secondary-button-bg-color: $_denim-blue;
$secondary-button-border-color: $_denim-blue;
$secondary-button-border-color-hover: $_denim-blue-mute;
$secondary-button-bg-hover: $_denim-blue-mute;
$secondary-button-bg-active: scale-color($secondary-button-bg-hover, $lightness: -10%);
$secondary-button-border-color-hover: $secondary-button-bg-hover;
$secondary-button-border-color-active: $secondary-button-bg-active;
$secondary-button-border-bottom-color-filter-active: $secondary-button-bg-color;

// TERTIARY BUTTON
$tertiary-button-bg-color: $true-white;
$tertiary-button-border-color: $dark-grey;
$tertiary-button-font-color: $off-black;
$tertiary-button-bg-hover: $light-grey;
$tertiary-button-border-color-hover: $light-grey;
$tertiary-button-bg-active: scale-color($tertiary-button-bg-hover, $lightness: -10%);
$tertiary-button-border-color-active: $tertiary-button-bg-active;
$tertiary-button-border-color-filter-active: $off-black;
$tertiary-button-border-bottom-color-filter-active: $tertiary-button-font-color;
$tertiary-button-group-entry-border-color: $tertiary-button-border-color;

// SUCCESS
$success-button-border-color: $success-color;
$success-button-border-color-hover: $success-mute-color;
$success-button-bg-hover: $success-mute-color;
$success-button-bg-active: scale-color($success-button-bg-hover, $lightness: -10%);
$success-button-border-color-active: $success-button-bg-active;
$success-button-border-bottom-color-filter-active: $success-color;


// ALERT
$alert-button-border-color: $alert-color;
$alert-button-border-color-hover: $alert-mute-color;
$alert-button-bg-hover: $alert-mute-color;
$alert-button-bg-active: scale-color($alert-button-bg-hover, $lightness: -10%);
$alert-button-border-color-active: $alert-button-bg-active;
$alert-button-border-bottom-color-filter-active: $alert-color;

// WARNING
$warning-button-border-color: $warning-color;
$warning-button-border-color-hover: $warning-mute-color;
$warning-button-bg-hover: $warning-mute-color;
$warning-button-bg-active: scale-color($warning-button-bg-hover, $lightness: -10%);
$warning-button-border-color-active: $warning-button-bg-active;
$warning-button-border-bottom-color-filter-active: $warning-color;

// INFO
$info-button-border-color: $info-color;
$info-button-border-color-hover: $info-mute-color;
$info-button-bg-hover: $info-mute-color;
$info-button-bg-active: scale-color($info-button-bg-hover, $lightness: -10%);
$info-button-border-color-active: $info-button-bg-active;
$info-button-border-bottom-color-filter-active: $info-color;

// DULL
$dull-button-bg-color: $light-grey;
$dull-button-font-color: $body-font-color;
$dull-button-border-color: $light-grey;
$dull-button-border-color-hover: $dark-grey;
$dull-button-bg-hover: $dark-grey;
$dull-button-bg-active: scale-color($dull-button-bg-hover, $lightness: -10%);
$dull-button-border-color-active: $dull-button-bg-active;
$dull-button-bg-filter-active: $tertiary-button-font-color;
$dull-button-border-color-filter-active: $dull-button-font-color;
$dull-button-border-bottom-color-filter-active: $dull-button-font-color;