$label-border-radius: $global-radius;
$label-resp-font-sizing: 0.65em;
$label-resp-padding: 0.5em 0.75em 0.4em;
$label-resp-margin: -0.3em 0 0;

//
// GHOST BACKGROUND COLORS
//
$label-default-bg-color-ghost: $true-white !default;

//
// GHOST TEXT COLORS
//
$label-default-text-color-ghost: $off-black !default;
$label-info-text-color-ghost: $true-white !default;
$label-secondary-text-color-ghost: $true-white !default;