// ==========================================================================
// THEME - loading-indicators - nm-px
// =========================================================================

//
// Here we declare any necessary theme variables for buttons in the
// nm-px theme.
//

// 
// RINGS
// 
$load-ind-ring-thickness: 0.1875rem;
$load-ind-ring-buffer: 0.1875rem;
$load-ind-ring-outer-color: $primary-color;
$load-ind-ring-inner-color: $_nm-gold;

// 
// ANIMATION
// 
$load-ind-animation-duration: 1250ms;
$load-ind-animation-timing: cubic-bezier(.12,.33,.89,.68);

$load-ind-ring-ghost-outer-color: $true-white;