// ==========================================================================
// NM PX THEME - modals
// ==========================================================================

// 
// Here we define theme-specific overrides for property vals related to the
// modal component.
// 

$modal-bg-color: $true-white;
$modal-overlay-bg-color: rgba($true-white, 0.9);
$modal-close-bg-color: $dark-grey;
$modal-extend-card: true;