$filter-nav-entry-active-background-color: $primary-color;
$filter-nav-entry-hover-text-color: $info-color;
$filter-nav-entry-hover-background-color: $_denim-blue-pastel;

$heading-nav-entry-hover-text-color: $info-color;
$heading-nav-entry-font-weight: bold;
$heading-nav-entry-font-size: 1rem;
$heading-nav-entry-active-text-color: $primary-color;