$notification-border-radius: $global-radius;
$notification-border: false;
$notification-font-size: $paragraph-font-size;

$notification-close-color: inherit;
$notification-close-background: transparent;
$notification-close-padding: 0 0.75rem 0 0;
$notification-close-text-decoration: none;
$notification-close-text-decoration-hover: none;
$notification-close-font-size: 1.75rem;
$notification-close-line-height: 1;

$notification-success-bg-color: $success-pastel-color;
$notification-alert-bg-color: $alert-pastel-color;
$notification-warning-bg-color: $warning-pastel-color;
$notification-info-bg-color: $info-pastel-color;

$notification-success-color: $success-mute-color;
$notification-alert-color: $alert-mute-color;
$notification-warning-color: $warning-mute-color;
$notification-info-color: $info-mute-color;

$notification-banner-heading-font-weight: normal;