$switch-height-med: 1.5rem;
$switch-width-med: 3.25rem;
$switch-paddle-height-med: 2rem;
$switch-paddle-inset-horizontal-med: -0.25rem;

$switch-border-radius-med: $switch-height-med / 2;
$switch-paddle-border-radius-med: $switch-paddle-height-med / 2;

$switch-paddle-border-color: $light-grey;
$switch-paddle-border-width: 2px;