$table-font-family: $tabular-lining-font;

$table-bg: transparent;
$table-even-row-bg: transparent;
$table-head-bg: transparent;

$table-row-border-bottom-color: #E0E0E0;
$table-row-border-bottom-width: 1px;
$table-row-border-bottom-style: solid;

$table-border-size: false;

$table-head-font-color: #9B9B9B;
$table-head-font-weight: normal;
$table-head-font-size: 0.75rem;

$table-row-font-size: rem-calc(14);

$table-head-padding: 0.75rem;
$table-row-padding: 0.75rem;

$table-row-font-color: $off-black;

$table-row-actionable-font-color: $info-mute-color; 
$table-row-actionable-bg-color: $info-pastel-color;
$table-row-actionable-border-bottom-color: $info-mute-color;

$table-row-hover-bg-color: $_nm-gold-pastel;

// Sortable Table
$table-sorted-font-weight: $weight-bold;
$table-sortable-header-hover-color: $info-color;
$table-sortable-header-sorted-color: $true-black;

// Table Row Indicators
$table-row-added-font-color: $success-mute-color;
$table-row-added-background-color: $success-pastel-color;
$table-row-added-border-bottom-color: $success-color;
$table-row-added-fade-out-font-color: $true-black;
$table-row-added-fade-out-background-color: $true-white;
$table-row-added-fade-out-border-bottom-color: $table-row-border-bottom-color;
$table-row-added-transition: all 0.75s ease;
$table-row-error-background-color: $alert-pastel-color;
$table-row-error-font-color: $alert-mute-color;

//Ghosting Tables
$table-row-border-bottom-color-ghost: rgba($true-white, 0.2);