@if $include-lv-html-form-classes {

	.prefix,
	.postfix {
		@include affix-base();
	}

	label.prefix,
	label.postfix,
	span.prefix,
	span.postfix {
		@include affix-styles(
			$font-color: $affix-font-color
		);
	}

	%prefix-radii 	{ @include affix-radius-override("prefix"); }
	%postfix-radii 	{ @include affix-radius-override("postfix"); }

	.prefix 	{
		@extend %prefix-radii;
		@include affix-border-override("prefix");
	}
	.postfix 	{
		@extend %postfix-radii;
		@include affix-border-override("postfix");
	}

	select.prefix {
		@include affix-select-base(
			$font-style: $prefix-select-font-style,
			$font-size: $prefix-select-font-size
		);
	}

	select.postfix {
		@include affix-select-base(
			$font-style: $postfix-select-font-style,
			$font-size: $postfix-select-font-size,
			$border-left-width: $postfix-select-border-left-width
		);
	}

	//
	// Adjust padding, alignment and radius if pre/post element is a button
	// 
	button.prefix,
	.button.prefix,
	button.postfix,
	.button.postfix {
		@include affix-button-base();
	}
	button.prefix,
	.button.prefix {
		@extend %prefix-radii;
	}
	button.postfix,
	.button.postfix {
		@extend %postfix-radii;
	}

	.prefix.error,
	.postfix.error,
	.error .prefix,
	.error .postfix {
		@include affix-styles(
			$border-color:	$affix-error-border-color,
			$bg-color:		$affix-error-bg-color,
			$font-color:	$affix-error-font-color
		);
	}

	$ghost-affix-selectors: ("label.prefix", "label.postfix", "span.prefix", "span.postfix");

	@include ghost($ghost-affix-selectors) {
			@include affix-styles(
				$border-color: $input-affix-border-color-ghost,
				$bg-color: $input-affix-bg-color-ghost,
				$font-color: $input-affix-font-color-ghost
			)
	}
}