@if $include-lv-html-form-classes {

	// 
	// TODO
	// Is this necessary? Doesn't look like it...
	// 

	// Standard Forms
	form {
		@include form-layout;	
	}
	// Using forms within rows, we need to set some defaults
	form .row {
		@include form-row-base;
	}

	// We add basic fieldset styling
	fieldset {
		@include fieldset;
	}
}