@if $include-lv-html-form-classes {

	label {
		@include form-label-base();
		@include form-label-styles();

		&.right {
			@include form-label-align(
				$alignment: right
			);
		}

		&.inline {
			@include form-label-align(
				$alignment: inline
			);
		}

		// Styles for required inputs
		small {
			@include form-label-styles(
				$lightness: 		15%,
				$text-transform: 	$form-label-small-transform
			);
		}
	}

	@include form-element-error("label") {
		@include form-label-styles(
			$color: $form-label-error-color
		);
	}

	//
	// GHOSTING LABELS
	//
	@include ghost('label') {
		@include form-label-styles(
			$color: $form-label-font-color-ghost		
		);
	}
}