@if $include-lv-html-form-classes {
	//
	// MULTI-CONTROL ELEMENTS
	// ==========================================================================

	// 
	// Base Shared Styles
	// 
	input[type="radio"],
	input[type="checkbox"] {
		@include form-multi-control-base;
	}

	// 
	// Radio Buttons
	// 
	input[type="radio"] {

		@include form-multi-control-style(
			$border-radius: $radio-button-border-radius
		);

		@include form-multi-control-size(
			$height: 	$radio-button-height, 
			$width: 	$radio-button-width
		);
		@include form-multi-control-style(
			$bg-color: 		$radio-button-bg-color, 
			$border-color: 	$radio-button-border-color, 
			$border-width: 	$radio-button-border-width, 
			$bg-size: 		$radio-button-bg-size,
			$bg-img-base64:	$radio-button-active-bg-img-base64
		);

		&:active {
			@include form-multi-control-style(
				$bg-color: 		$radio-button-active-bg-color, 
				$border-color: 	$radio-button-active-border-color, 
				$border-width: 	$radio-button-active-border-width,
				$bg-size:		$radio-button-active-bg-size,
				$bg-img-base64:	$radio-button-active-bg-img-base64
			);
		}

		&:checked {
			@include form-multi-control-style(
				$bg-color: 		$radio-button-checked-bg-color, 
				$border-color: 	$radio-button-checked-border-color, 
				$border-width: 	$radio-button-checked-border-width,
				$bg-size:		$radio-button-checked-bg-size,
				$bg-img-base64:	$radio-button-checked-bg-img-base64
			);
		}
	}

	// 
	// Checkboxes
	// 
	input[type="checkbox"] {
		@include form-multi-control-style(
			$border-radius: $checkbox-border-radius
		);

		@include form-multi-control-size(
			$height: 	$checkbox-height, 
			$width: 	$checkbox-width
		);

		@include form-multi-control-style(
			$bg-color: 		$checkbox-bg-color, 
			$border-color: 	$checkbox-border-color, 
			$border-width: 	$checkbox-border-width, 
			$bg-size: 		$checkbox-bg-size,
			$bg-img-base64:	$checkbox-bg-img-base64
		);

		&:active {
			@include form-multi-control-style(
				$bg-color: 		$checkbox-active-bg-color, 
				$border-color: 	$checkbox-active-border-color, 
				$border-width: 	$checkbox-active-border-width,
				$bg-size:		$checkbox-active-bg-size,
				$bg-img-base64:	$checkbox-active-bg-img-base64
			);
		}

		&:checked {
			@include form-multi-control-style(
				$bg-color: 		$checkbox-checked-bg-color, 
				$bg-img-base64: $checkbox-checked-bg-img-base64, 
				$border-color: 	$checkbox-checked-border-color, 
				$border-width:	$checkbox-checked-border-width,
				$bg-size: 		$checkbox-checked-bg-size
			);
		}
	}

	//
	// SHARED GHOSTING PLACEHOLDERS
	//
	%form-multi-control-style-ghost	{
		@include form-multi-control-style(
			$bg-color: 			$checkbox-bg-color-ghost,
			$border-color: 		$checkbox-border-color-ghost,
			$label-font-color: 	$input-font-color-ghost
		);
	}

	//
	// GHOSTING RADIO
	//
	@include ghost('input[type="radio"]') {

		@extend %form-multi-control-style-ghost;

		&:active {
			@include form-multi-control-style(
				$bg-color: 			$radio-button-active-bg-color-ghost, 
				$border-color: 		$radio-button-active-border-color-ghost, 
				$bg-img-base64:		$radio-button-active-bg-img-base64-ghost,
				$label-font-color: 	$input-font-color-ghost
			);
		}

		&:checked {
			@include form-multi-control-style(
				$bg-img-base64: 	$radio-button-checked-bg-img-base64-ghost,
				$bg-color: 			$radio-button-checked-bg-color-ghost,
				$label-font-color: 	$input-font-color-ghost
			);
		}
	}

	//
	// GHOSTING CHECKBOXES
	//
	@include ghost('input[type="checkbox"]') {

		@extend %form-multi-control-style-ghost;

		&:active {
			@include form-multi-control-style(
				$bg-color: 			$checkbox-active-bg-color-ghost, 
				$border-color: 		$checkbox-active-border-color-ghost, 
				$bg-img-base64:		$checkbox-active-bg-img-base64-ghost,
				$label-font-color: 	$input-font-color-ghost
			);
		}

		&:checked {
			@include form-multi-control-style(
				$bg-img-base64: 	$checkbox-checked-bg-img-base64-ghost,
				$bg-color: 			$checkbox-checked-bg-color-ghost,
				$label-font-color: 	$input-font-color-ghost
			);
		}
	}

}