@if ($include-lv-html-form-classes) {

	input[type="submit"] {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}

	// Not allow resize out of parent
	textarea {
		max-width: 100%;

		&[rows] {
			height: auto;
		}
	}

	// Normalize file input width
	input[type="file"] {
		width: 100%;
	}
	// HTML5 Number spinners settings
	input[type=number] {
		@include html5number(moz, $input-number-spinners);
	}

	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		@include html5number(webkit, $input-number-spinners);
	}
}