@if $include-lv-html-form-classes {
	// Add height value for select elements to match text input height
	select {

		@extend %form-element;

		@include select-base();
		@include select-styles();

		&:hover {
			@include form-element-styles(
				$font-color:	$select-font-color-hover,
				$bg-color: 		$select-hover-bg-color,
				$border-color: 	$input-focus-border-color
			)
		}

		&:disabled,
		&[disabled],
		&.disabled {
			&,
			&:hover {
				@include form-element-styles(
					$bg-color: 		$select-disabled-bg,
					$font-color:	$select-disabled-color,
					$border-color: 	$select-disabled-bg
				)
				@include select-styles(
					$bg-image: 		$select-disabled-handle-img-base64
				);
			}
		}

		// 
		// TODO ???
		// 
		&[multiple] {
			height: auto;
		}
	}

	@include form-element-error("select") {
		@include form-element-styles(
			$bg-color:			$select-error-bg-color,
			$font-color:		$select-error-font-color,
			$border-color:		$select-error-border-color
		);
	}

	//
	// GHOSTING SELECTS
	//
	@include ghost("select") {
		@include form-element-styles(
			$bg-color:		$select-bg-color-ghost,
			$font-color:	$select-font-color-ghost,
			$border-color:	$select-border-color-ghost
		)
		@include select-styles(
			$bg-image: 		$select-handle-img-base64-ghost,
			$bg-color:		$select-bg-color-ghost,
			$border-color:	$select-border-color-ghost
		);

		&:hover {
			@include form-element-styles(
				$bg-color:		$select-hover-bg-color-ghost,
				$font-color:	$select-font-color-ghost,
				$border-color: 	$select-hover-border-color-ghost
			)
		}

		&:disabled,
		&[disabled],
		&.disabled {
			&,
			&:hover {
				@include form-element-styles(
					$bg-color: 		$select-disabled-bg-color-ghost,
					$font-color:	$select-disabled-color-ghost,
					$border-color: 	$select-disabled-border-color-ghost
				)
				@include select-styles(
					$bg-image: 		$select-disabled-handle-img-base64
				);
			}
		}
	}
}