@if $include-lv-html-form-classes {

	%form-element {
		@include form-element-base();
	}
	
	// We use this to get basic styling on all basic form elements
	#{text-inputs(all, "input")} {

		@extend %form-element;

		@include text-input-base();
		@include form-element-styles();
		@include form-element-transitions();

		&:hover {
			@include text-input-styles(
				$border-color: $input-border-color-hover
			);
		}

		&.with-prefix {
			@include text-input-radii-override("prefix");
		}

		&.with-postfix {
			@include text-input-radii-override("postfix");
		}

		@include form-placeholders() {
			@include form-placeholder-style();
		}

		&:focus {
			@include form-element-styles(
				$bg-color:		$input-focus-bg-color,
				$border-color: 	$input-focus-border-color
			);
		}

		&:disabled,
		&.disabled,
		&[disabled],
		&[readonly] {
			@include form-element-styles(
				$bg-color:		$input-disabled-bg,
				$font-color:	$input-disabled-color,
				$border-color: 	$input-disabled-border-color
			);
			@include form-placeholders() {
				@include form-placeholder-style(
					$color: $input-disabled-color
				);
			}
		}
	}

	//
	//	GHOSTING TEXT INPUTS
	//
	@include ghost(text-inputs(all, "input")) {

		@include form-element-styles(
			$font-color: 	$input-font-color-ghost,
			$bg-color:		$input-bg-color-ghost,
			$border-color:	$input-border-color-ghost
		);

		@include form-placeholders() {
			@include form-placeholder-style(
				$color: $input-placeholder-font-color-ghost
			);
		}

		&:focus {
			@include form-element-styles(
				$bg-color:		$input-bg-color-focus-ghost,
				$border-color: 	$input-border-color-focus-ghost,
				$font-color: 	$input-font-color-focus-ghost
			);
		}

		&.error {
			&:focus {
				@include form-element-styles(
					$bg-color:		$input-bg-color-focus-ghost,
					$border-color: 	$input-error-border-color-focus-ghost,
					$font-color: 	$input-font-color-focus-ghost
				);
			}
		}

		&:disabled,
		&.disabled,
		&[disabled],
		&[readonly] {
			@include form-element-styles(
				$bg-color:		$input-disabled-bg-ghost,
				$font-color:	$input-disabled-color-ghost,
				$border-color: 	$input-disabled-border-color-ghost
			);
			@include form-placeholders() {
				@include form-placeholder-style(
					$color: $input-disabled-color-ghost
				);
			}
		}
	}	

	// 
	// ERROR STATES
	// 
	%text-input-error {
		@include form-element-styles(
			$border-color: 	$input-error-border-color,
			$bg-color:		$input-error-bg-color,
			$font-color: 	$input-error-font-color
		);
	}

	#{text-inputs(all, "input")} {
		&.error {
			@extend %text-input-error !optional;
		}
	}

	// Error Handling
	.error {
		#{text-inputs(all, "input")} {
			@extend %text-input-error !optional;
		}
	}
}