@if ($include-lv-html-tooltip-classes) {

	//
	// BASE STYLES
	// ==========================================================================
	
	.tooltip-target {
		@include tooltip-target-base();

		// 
		// SHOW/HIDE
		// 
		&.tooltip-show-on-hover {
			.tooltip {
				@include tooltip-hide($delay: $tooltip-show-on-hover-delay);
			}

			&:hover {
				.tooltip {
					@include tooltip-show($delay: 0);
				}
			}
		}
	}

	.tooltip {
		@include tooltip-base();
		@include tooltip-size();
		@include tooltip-side();
		@include tooltip-align();

		&:before {
			@include tooltip-caret-base();
			@include tooltip-caret-side();
			@include tooltip-caret-align();
		}

		&.tooltip-hide {
			@include tooltip-hide();
		}
	}

	.tooltip-close {
		@include tooltip-close();
	}

	//
	// STYLE VARIANTS
	// ==========================================================================
	
	// 
	// COLORS
	// 
	@each $entry in $tooltip-colors {
		$slug: map_get($entry, "slug");
		$color: map_get($entry, "color");

		.tooltip-color-#{$slug} {
			@include tooltip-color($color);
		}
	}

	// 
	// SIZING
	// 
	.tooltip-width-auto 	{ @include tooltip-size("auto"); }
	.tooltip-width-tiny		{ @include tooltip-size($tooltip-width-tiny); }
	.tooltip-width-small	{ @include tooltip-size($tooltip-width-small); }
	.tooltip-width-medium	{ @include tooltip-size($tooltip-width-medium); }
	.tooltip-width-large	{ @include tooltip-size($tooltip-width-large); }
	.tooltip-width-xlarge	{ @include tooltip-size($tooltip-width-xlarge); }


	//
	// POSITIONING VARIANTS
	// ==========================================================================
	
	// 
	// SIDE - TOP & BOTTOM
	// 
	.tooltip-top-left,
	.tooltip-top-middle,
	.tooltip-top-right {
		&:before {
			@include tooltip-caret-side("top");
		}
		@include tooltip-side("top");
	}
	.tooltip-bottom-left,
	.tooltip-bottom-middle,
	.tooltip-bottom-right {
		&:before {
			@include tooltip-caret-side("bottom");
		}
		@include tooltip-side("bottom");	
	}

	// 
	// ALIGNMENT - TOP & BOTTOM SIDES
	// 
	.tooltip-bottom-right,
	.tooltip-top-right {
		&:before {
			@include tooltip-caret-align("right");
		}
		@include tooltip-align("right");
	}
	.tooltip-bottom-left,
	.tooltip-top-left {
		&:before {
			@include tooltip-caret-align("left");
		}
		@include tooltip-align("left");
	}
	.tooltip-top-middle,
	.tooltip-bottom-middle {
		&:before {
			@include tooltip-caret-align("middle");
		}
		@include tooltip-align("middle");

		&.tooltip-width-small	{ @include tooltip-align("middle", $width: $tooltip-width-small); }
		&.tooltip-width-medium	{ @include tooltip-align("middle", $width: $tooltip-width-medium); }
		&.tooltip-width-large	{ @include tooltip-align("middle", $width: $tooltip-width-large); }
		&.tooltip-width-large	{ @include tooltip-align("middle", $width: $tooltip-width-large); }
	}

	// 
	// SIDE - LEFT & RIGHT
	// 
	.tooltip-left-top,
	.tooltip-left-bottom {
		&:before {
			@include tooltip-caret-side("left");
		}
		@include tooltip-side("left");
	}
	.tooltip-right-top,
	.tooltip-right-bottom {
		&:before {
			@include tooltip-caret-side("right");
		}
		@include tooltip-side("right");	
	}

	// 
	// ALIGNMENT - LEFT & RIGHT SIDES
	// 
	.tooltip-left-top,
	.tooltip-right-top {
		&:before {
			@include tooltip-caret-align("top")
		}
		@include tooltip-align("top");
	}
	.tooltip-left-bottom,
	.tooltip-right-bottom {
		&:before {
			@include tooltip-caret-align("bottom")
		}
		@include tooltip-align("bottom");
	}
}