// 
// Tooltip
// 
$tooltip-width: 10rem !default;
$tooltip-offset: 0.75rem !default;
$tooltip-default-color: $true-white !default;
$tooltip-default-padding: $spacing-medium-val !default;
$tooltip-shadow-color: #AAA !default;
$tooltip-shadow-offset: 2px !default;
$tooltip-shadow-blur-multiplier: 6 !default;
$tooltip-show-on-hover-delay: 0.5s !default;

// 
// Caret
// 
$tooltip-caret-width: 0.75rem !default;
$tooltip-caret-height: 0.75rem !default;
$tooltip-caret-offset: $spacing-medium-val !default;

// 
// Width configurations
// 
$tooltip-width-tiny: 4rem !default;
$tooltip-width-small: 10rem !default;
$tooltip-width-medium: 15rem !default;
$tooltip-width-large: 25rem !default;
$tooltip-width-xlarge: 30rem !default;

// 
// Close button
// 
$tooltip-close-font-size: 0.5rem !default;
$tooltip-close-opacity: 0.7 !default;
$tooltip-close-opacity-hover: 0.85 !default;
$tooltip-close-opacity-click: 1 !default;

// 
// Non-themables
// 
$tooltip-colors: ((
	slug: "success",
	color: $success-color
), (
	slug: "warning",
	color: $warning-color
), (
	slug: "alert",
	color: $alert-color
), (
	slug: "info",
	color: $info-color
), (
	slug: "white",
	color: $true-white
), (
	slug: "dark",
	color: $off-black
));

$tooltip-default-align: "left";
$tooltip-default-side: "top";