// ==========================================================================
// LV FOUNDATION - Switches
// =========================================================================

//
// Here, we define custom CSS-declaration overrides for Foundation's built-in
// switch component.
//

//
// CSS DECLARATIONS
// ==========================================================================

@if $include-lv-html-form-classes {
	.switch {
		@include switch;

		// Large radio switches
		&.large {
			@include switch-size($multiplier: $switch-size-multiplier-lrg);
		}
		// // Small radio switches
		&.small {
			@include switch-size($multiplier: $switch-size-multiplier-sml);
		}
		// Tiny radio switches
		&.tiny {
			@include switch-size($multiplier: $switch-size-multiplier-tny);
		}
	}
}