// ==========================================================================
// LV FOUNDATION - Switches
// =========================================================================

//
// Here, we define custom CSS-declaration overrides for Foundation's built-in
// switch component.
//

//
// FOUNDATION DEFAULTS
// ==========================================================================

// Controlling background color for the switch container
$switch-bg: $medium-grey !default;

// We use these to control the switch heights for our default classes
$switch-height-tny: 1.5rem !default;
$switch-height-sml: 1.75rem !default;
$switch-height-med: 2rem !default;
$switch-height-lrg: 2.5rem !default;
$switch-bottom-margin: 1.5rem !default;

// We use these to style the switch-paddle
$switch-paddle-bg: 					$true-white 			!default;
$switch-paddle-transition-speed: 	.15s 					!default;
$switch-paddle-transition-ease: 	ease-out 				!default;
$switch-active-color: 				$primary-color 			!default;

//
// THEMING DEFAULTS
// ==========================================================================

$switch-border-radius-med: $global-radius !default;

$switch-paddle-border-radius-med: $global-radius !default; 
$switch-paddle-border-width: 1px !default;
$switch-paddle-border-color: false !default;

$switch-height-med: 2rem !default;
$switch-width-med: $switch-height-med * 2 !default;

$switch-paddle-height-med: $switch-height-med - 0.5rem !default;
$switch-paddle-width-med: $switch-paddle-height-med !default;

$switch-paddle-inset-horizontal-med: 0.25rem !default;

$switch-size-multiplier-lrg: 1.25 !default;
$switch-size-multiplier-sml: 0.875 !default;
$switch-size-multiplier-tny: 0.75 !default;