// ==========================================================================
// LV FOUNDATION - DEFAULTS - notification-boxes
// ==========================================================================

// 
// Below, we establish default values for theme-variables custom to 
// LV-Foundation's implementation of notification-boxes.
// 

//
// FOUNDATION PROPS
// ==========================================================================

// We use this to control notification padding.
$notification-padding-top: 					rem-calc(14) 								!default;
$notification-padding-default-float: 		$notification-padding-top 					!default;
$notification-padding-opposite-direction: 	$notification-padding-top + rem-calc(10) 	!default;
$notification-padding-bottom: 				$notification-padding-top 					!default;

// We use these to control text style.
$notification-font-weight: 		$font-weight-normal 									!default;
$notification-font-size: 		rem-calc(13) 											!default;
$notification-font-color: 		$true-white 											!default;
$notification-font-color-alt: 	scale-color($secondary-color, $lightness: -66%) 		!default;

// We use this for close hover effect.
$notification-function-factor: -14% !default;

// We use these to control border styles.
$notification-border-style: 	solid 																	!default;
$notification-border-width: 	1px 																	!default;
$notification-bottom-margin: 	rem-calc(20) 															!default;
$notification-border-color: 	scale-color($primary-color, $lightness: $notification-function-factor) 	!default;

// We use these to style the close buttons
$notification-close-color: 			$off-black		!default;
$notification-close-top: 			50% 			!default;
$notification-close-position: 		rem-calc(4) 	!default;
$notification-close-font-size: 		rem-calc(22) 	!default;
$notification-close-opacity: 		0.3 			!default;
$notification-close-opacity-hover:	0.5 			!default;
$notification-close-padding: 		0 6px 4px 		!default;
$notification-close-background: 	inherit 		!default;

// We use this to control border radius
$notification-radius: 				$global-radius 	!default;

$notification-transition-speed: 	300ms 			!default;
$notification-transition-ease: 		ease-out 		!default;

//
// BASE PROPS
// ==========================================================================

// Notification-Box
$notification-border-radius: 	false 	!default;
$notification-border: 			true 	!default;

// Close button (child-element)
$notification-close-text-decoration: 		none 	!default;
$notification-close-text-decoration-hover: 	inherit	!default;
$notification-close-line-height: 			0.9 	!default;

//
// CONTEXTUAL PROPS
// ==========================================================================

// Background colors
$notification-success-bg-color: 	$success-color		!default;
$notification-alert-bg-color: 		$alert-color		!default;
$notification-warning-bg-color: 	$warning-color		!default;
$notification-info-bg-color: 		$info-color			!default;
$notification-secondary-bg-color:	$secondary-color	!default;

// Font colors
$notification-success-color: 	false 	!default;
$notification-alert-color: 		false 	!default;
$notification-warning-color: 	false 	!default;
$notification-info-color: 		false 	!default;
$notification-secondary-color: 	false 	!default;

//
// NOTIFICATION BANNERS
// ==========================================================================

// 
// Standalone
// 
$notification-banner-standalone-max-width: 			26rem 					!default;
$notification-banner-standalone-text-align:			center 					!default;
$notification-banner-standalone-padding:			$spacing-xlarge-val 	!default;
$notification-banner-standalone-component-spacing:	$spacing-large-val		!default;

$notification-banner-standalone-icon-font-size:			4rem				!default;
$notification-banner-standalone-icon-font-size-medium:	6rem				!default;
$notification-banner-standalone-icon-line-height:		75%					!default;

$notification-banner-standalone-heading-font-weight: 	bold 				!default;

// 
// Insert
// 
$notification-banner-insert-icon-font-size:				2.5rem				!default;
$notification-banner-insert-icon-font-size-medium:		4rem				!default;
$notification-banner-insert-icon-line-height:			75%					!default;
$notification-banner-insert-padding-vert:				$spacing-xlarge-val	!default;
$notification-banner-insert-padding-horiz:				$spacing-medium-val	!default;

// 
// Icon slugs
// 
$notification-banner-icon-success:		"success" 		!default;
$notification-banner-icon-alert:		"fail" 			!default;
$notification-banner-icon-warning:		"notification" 	!default;
$notification-banner-icon-info:			"info" 			!default;

// 
// Colors
//
$notification-banner-color-success:		$success-color 	!default;
$notification-banner-color-alert:		$alert-color 	!default;
$notification-banner-color-warning:		$warning-color 	!default;
$notification-banner-color-info:		$info-color 	!default;