// ==========================================================================
// LV FOUNDATION - loading-indicators - loading-indicator-size
// ==========================================================================

//
// Here, we define example-mixin, used to delcare loading-indicators.
//

@mixin _loading-indicator-size-wrapper($multiplier) {

	$_load-ind-side: $load-ind-side * $multiplier;

	// 
	// DIMENSIONS
	// 
	height: $_load-ind-side;
	width: $_load-ind-side;
}

@mixin _loading-indicator-size-ring-outer($multiplier) {

	// 
	// DIMENSIONS
	// 
	$_load-ind-side: $load-ind-side * $multiplier;

	$_load-ind-ring-outer-height:	$_load-ind-side;
	$_load-ind-ring-outer-width:	$_load-ind-side / 2;

	height: $_load-ind-ring-outer-height;
	width: $_load-ind-ring-outer-width;

	// 
	// POSITIONING
	// 
	top: 0;
	left: 0;

	// 
	// BORDERS
	// 
	border-top-left-radius: $_load-ind-ring-outer-width;
	border-bottom-left-radius: $_load-ind-ring-outer-width;
}

@mixin _loading-indicator-size-ring-inner($multiplier) {

	// 
	// DIMENSIONS
	// 
	$_load-ind-side: $load-ind-side * $multiplier;

	$_load-ind-ring-inner-height: $_load-ind-side - (2 * ($load-ind-ring-thickness + $load-ind-ring-buffer));
	$_load-ind-ring-inner-width: ($_load-ind-side / 2) - ($load-ind-ring-thickness + $load-ind-ring-buffer);

	height: $_load-ind-ring-inner-height;
	width: $_load-ind-ring-inner-width;

	// 
	// POSITIONING
	// 
	top: $load-ind-ring-thickness + $load-ind-ring-buffer;
	left: 50%;

	// 
	// BORDERS
	// 
	border-top-right-radius: $_load-ind-ring-inner-height;
	border-bottom-right-radius: $_load-ind-ring-inner-height;
}

@mixin loading-indicator-size($multiplier: 1) {
	
	@include _loading-indicator-size-wrapper($multiplier);

	&:before {
		@include _loading-indicator-size-ring-outer($multiplier);
	}

	&:after {
		@include _loading-indicator-size-ring-inner($multiplier);
	}
}