// ==========================================================================
// LV FOUNDATION - loading-indicators - loading-indicator-base
// ==========================================================================

//
// Here, we define loading-indicator-base, used to delcare loading-indicators.
//

@mixin _loading-indicator-base-wrapper() {

	// 
	// POSITIONING
	// Used to anchor absolutely-positioned ring components
	// 
	display: inline-block;
	position: relative;
}

@mixin _loading-indicator-base-ring() {

	// 
	// POSITIONING
	// Positioned with respect to the parent wrapper component
	// 
	display: inline-block;
	position: absolute;

	// 
	// BORDERS
	// 
	border-style: solid;
	border-width: $load-ind-ring-thickness;

	// 
	// ANIMATIONS
	// 
	animation-duration: $load-ind-animation-duration;
	animation-timing-function: $load-ind-animation-timing;
	animation-iteration-count: infinite;

}

@mixin _loading-indicator-base-ring-outer() {

	// 
	// BORDERS
	// Show only round border on semi-circle
	// 
	border-right: 0;

	// 
	// ANIMATIONS
	// 
	transform-origin: right;
	animation-name: spin-fwd;
}

@mixin _loading-indicator-base-ring-inner() {

	//
	// BORDERS
	//
	border-left: 0;

	// 
	// ANIMATIONS
	// 
	transform-origin: left;
	animation-name: spin-back;
}

@mixin loading-indicator-base() {

	@include _loading-indicator-base-wrapper();

	&:before,
	&:after {
		content: ' ';
		@include _loading-indicator-base-ring();
	}

	&:before {
		@include _loading-indicator-base-ring-outer();
	}

	&:after {
		@include _loading-indicator-base-ring-inner();
	}
}