// ==========================================================================
// LV FOUNDATION - loading-indicators - loading-indicator-animations
// ==========================================================================

//
// Here, we define loading-indicator-animations, used to delcare loading-indicators.
//

@mixin loading-indicator-animations() {
	
	@keyframes spin-fwd { 
		from { 
			transform: rotate(0deg); 
		} to { 
			transform: rotate(360deg); 
		}
	}

	@keyframes spin-back { 
		from { 
			transform: rotate(0deg); 
		} to { 
			transform: rotate(-360deg); 
		}
	}
}