@mixin loading-indicator-styles(
	$outer-color: $load-ind-ring-outer-color, 
	$inner-color: $load-ind-ring-inner-color) {

	@if ($outer-color) {
		&:before {
			border-color: $outer-color;
		}
	}
	@if ($inner-color) {
		&:after {
			border-color: $inner-color;
		}
	}
}