// ==========================================================================
// LV FOUNDATION - DECLARATIONS - buttons
// ==========================================================================

// 
// Below we declare all properties referring to the `alert-box` component.
// 

@if $include-lv-html-button-classes {
	
	button, .button {

		//
		// Defaults
		// ==========================================================================
		
		@include button-base;
		@include button-size;

		@include button-style(
			$bg: $primary-button-bg-color,
			$bg-hover: $primary-button-bg-hover,
			$bg-active: $primary-button-bg-active,
			$bg-filter-active: $primary-button-bg-filter-active,
			$border-color: $primary-button-border-color,
			$border-color-hover: $primary-button-border-color-hover,
			$border-color-active: $primary-button-border-color-active,
			$border-color-filter-active: $primary-button-border-color-filter-active,
			$border-bottom-color: $primary-button-border-bottom-color,
			$border-bottom-color-hover: $primary-button-border-bottom-color-hover,
			$border-bottom-color-active: $primary-button-border-bottom-color-active,
			$border-bottom-color-filter-active: $primary-button-border-bottom-color-filter-active,
			$font-color: $primary-button-font-color,
			$font-color-hover: $primary-button-font-color-hover,
			$font-color-filter-active:  $primary-button-font-color-filter-active,
			$button-visited-color: $primary-button-visited-color
		);

		//
		// Style Variants
		// ==========================================================================
		
		&.secondary {
			@include button-style(
				$bg: $secondary-button-bg-color,
				$bg-hover: $secondary-button-bg-hover,
				$bg-active: $secondary-button-bg-active,
				$bg-filter-active: $secondary-button-bg-filter-active,
				$border-color: $secondary-button-border-color,
				$border-color-hover: $secondary-button-border-color-hover,
				$border-color-active: $secondary-button-border-color-active,
				$border-color-filter-active: $secondary-button-border-color-filter-active,
				$border-bottom-color: $secondary-button-border-bottom-color,
				$border-bottom-color-hover: $secondary-button-border-bottom-color-hover,
				$border-bottom-color-active: $secondary-button-border-bottom-color-active,
				$border-bottom-color-filter-active: $secondary-button-border-bottom-color-filter-active,
				$font-color: $secondary-button-font-color,
				$font-color-hover: $secondary-button-font-color-hover,
				$font-color-filter-active:  $secondary-button-font-color-filter-active,
				$button-visited-color: $secondary-button-visited-color
			);
		}

		&.tertiary {
			@include button-style(
				$bg: $tertiary-button-bg-color,
				$bg-hover: $tertiary-button-bg-hover,
				$bg-active: $tertiary-button-bg-active,
				$bg-filter-active: $tertiary-button-bg-filter-active,
				$border-color: $tertiary-button-border-color,
				$border-color-hover: $tertiary-button-border-color-hover,
				$border-color-active: $tertiary-button-border-color-active,
				$border-color-filter-active: $tertiary-button-border-color-filter-active,
				$border-bottom-color: $tertiary-button-border-bottom-color,
				$border-bottom-color-hover: $tertiary-button-border-bottom-color-hover,
				$border-bottom-color-active: $tertiary-button-border-bottom-color-active,
				$border-bottom-color-filter-active: $tertiary-button-border-bottom-color-filter-active,
				$font-color: $tertiary-button-font-color,
				$font-color-hover: $tertiary-button-font-color-hover,
				$font-color-filter-active:  $tertiary-button-font-color-filter-active,
				$button-visited-color: $tertiary-button-visited-color
			);
		}

		&.success {
			@include button-style(
				$bg: $success-button-bg-color,
				$bg-hover: $success-button-bg-hover,
				$bg-active: $success-button-bg-active,
				$bg-filter-active: $success-button-bg-filter-active,
				$border-color: $success-button-border-color,
				$border-color-hover: $success-button-border-color-hover,
				$border-color-active: $success-button-border-color-active,
				$border-color-filter-active: $success-button-border-color-filter-active,
				$border-bottom-color: $success-button-border-bottom-color,
				$border-bottom-color-hover: $success-button-border-bottom-color-hover,
				$border-bottom-color-active: $success-button-border-bottom-color-active,
				$border-bottom-color-filter-active: $success-button-border-bottom-color-filter-active,
				$font-color: $success-button-font-color,
				$font-color-hover: $success-button-font-color-hover,
				$font-color-filter-active:  $success-button-font-color-filter-active,
				$button-visited-color: $success-button-visited-color
			);
		}

		&.alert {
			@include button-style(
				$bg: $alert-button-bg-color,
				$bg-hover: $alert-button-bg-hover,
				$bg-active: $alert-button-bg-active,
				$bg-filter-active: $alert-button-bg-filter-active,
				$border-color: $alert-button-border-color,
				$border-color-hover: $alert-button-border-color-hover,
				$border-color-active: $alert-button-border-color-active,
				$border-color-filter-active: $alert-button-border-color-filter-active,
				$border-bottom-color: $alert-button-border-bottom-color,
				$border-bottom-color-hover: $alert-button-border-bottom-color-hover,
				$border-bottom-color-active: $alert-button-border-bottom-color-active,
				$border-bottom-color-filter-active: $alert-button-border-bottom-color-filter-active,
				$font-color: $alert-button-font-color,
				$font-color-hover: $alert-button-font-color-hover,
				$font-color-filter-active: $alert-button-font-color-filter-active,
				$button-visited-color: $alert-button-visited-color
			);
		}

		&.warning {
			@include button-style(
				$bg: $warning-button-bg-color,
				$bg-hover: $warning-button-bg-hover,
				$bg-active: $warning-button-bg-active,
				$bg-filter-active: $warning-button-bg-filter-active,
				$border-color: $warning-button-border-color,
				$border-color-hover: $warning-button-border-color-hover,
				$border-color-active: $warning-button-border-color-active,
				$border-color-filter-active: $warning-button-border-color-filter-active,
				$border-bottom-color: $warning-button-border-bottom-color,
				$border-bottom-color-hover: $warning-button-border-bottom-color-hover,
				$border-bottom-color-active: $warning-button-border-bottom-color-active,
				$border-bottom-color-filter-active: $warning-button-border-bottom-color-filter-active,
				$font-color: $warning-button-font-color,
				$font-color-hover: $warning-button-font-color-hover,
				$font-color-filter-active:  $warning-button-font-color-filter-active,
				$button-visited-color: $warning-button-visited-color
			);
		}

		&.info {
			@include button-style(
				$bg: $info-button-bg-color,
				$bg-hover: $info-button-bg-hover,
				$bg-active: $info-button-bg-active,
				$bg-filter-active: $info-button-bg-filter-active,
				$border-color: $info-button-border-color,
				$border-color-hover: $info-button-border-color-hover,
				$border-color-active: $info-button-border-color-active,
				$border-color-filter-active: $info-button-border-color-filter-active,
				$border-bottom-color: $info-button-border-bottom-color,
				$border-bottom-color-hover: $info-button-border-bottom-color-hover,
				$border-bottom-color-active: $info-button-border-bottom-color-active,
				$border-bottom-color-filter-active: $info-button-border-bottom-color-filter-active,
				$font-color: $info-button-font-color,
				$font-color-hover: $info-button-font-color-hover,
				$font-color-filter-active: $info-button-font-color-filter-active,
				$button-visited-color: $info-button-visited-color
			);
		}

		&.ghost {
			@include button-style(
				$bg: $ghost-button-bg-color,
				$bg-hover: $ghost-button-bg-hover,
				$bg-active: $ghost-button-bg-active,
				$bg-filter-active: $ghost-button-bg-filter-active,
				$border-color: $ghost-button-border-color,
				$border-color-hover: $ghost-button-border-color-hover,
				$border-color-active: $ghost-button-border-color-active,
				$border-color-filter-active: $ghost-button-border-color-filter-active,
				$border-bottom-color: $ghost-button-border-bottom-color,
				$border-bottom-color-hover: $ghost-button-border-bottom-color-hover,
				$border-bottom-color-active: $ghost-button-border-bottom-color-active,
				$border-bottom-color-filter-active: $ghost-button-border-bottom-color-filter-active,
				$font-color: $ghost-button-font-color,
				$font-color-hover: $ghost-button-font-color-hover,
				$font-color-filter-active: $ghost-button-font-color-filter-active,
				$button-visited-color: $ghost-button-visited-color
			);
		}

		&.dull {
			@include button-style(
				$bg: $dull-button-bg-color,
				$bg-hover: $dull-button-bg-hover,
				$bg-active: $dull-button-bg-active,
				$bg-filter-active: $dull-button-bg-filter-active,
				$border-color: $dull-button-border-color,
				$border-color-hover: $dull-button-border-color-hover,
				$border-color-active: $dull-button-border-color-active,
				$border-color-filter-active: $dull-button-border-color-filter-active,
				$border-bottom-color: $dull-button-border-bottom-color,
				$border-bottom-color-hover: $dull-button-border-bottom-color-hover,
				$border-bottom-color-active: $dull-button-border-bottom-color-active,
				$border-bottom-color-filter-active: $dull-button-border-bottom-color-filter-active,
				$font-color: $dull-button-font-color,
				$font-color-hover: $dull-button-font-color-hover,
				$font-color-filter-active: $dull-button-font-color-filter-active,
				$button-visited-color: $dull-button-visited-color
			);
		}
		
		//
		// Sizing
		// ==========================================================================
		
		&.large {
			@include button-size($size-multiplier: $button-size-multiplier-lrg);
		}

		&.small {
			@include button-size($size-multiplier: $button-size-multiplier-sml);
		}

		&.tiny {
			@include button-size($size-multiplier: $button-size-multiplier-tny);
		}

		&.expand {
			@include button-size(
				$full-width: true,

				// 
				// Set false so padding props are not output
				// 
				$padding-vert: false
			);
		}
		
		//
		// Alignment
		// ==========================================================================
		
		&.left-align {
			text-align: left;
			text-indent: rem-calc(12);
		}

		&.right-align {
			text-align: right;
			padding-right: rem-calc(12);
		}
	}
	
	// 
	// Firefox 2px fix - original from Foundation
	// 
	button::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}