// ==========================================================================
// UI TOOLKIT - DEFAULTS - buttons
// ==========================================================================

//
// Here we add additional defaults to the LV-custom CSS declarations pertaining
// to buttons. These defaults will work in tandem with those established by
// Founation in their _buttons.scss.
//

//
// FOUNDATON DEFAULTS
// ==========================================================================

//
// @variables
//
$include-html-button-classes: $include-html-classes !default;

// We use these to build padding for buttons.
$button-tny: rem-calc(10) !default;
$button-sml: rem-calc(14) !default;
$button-med: rem-calc(16) !default;
$button-lrg: rem-calc(18) !default;

// We use this to control the display property.
$button-display: inline-block !default;
$button-margin-bottom: rem-calc(20) !default;

// We use these to control button text styles.
$button-font-family: $body-font-family !default;
$button-font-color: $true-white !default;
$button-font-color-alt: $off-black !default;
$button-font-tny: rem-calc(11) !default;
$button-font-sml: rem-calc(13) !default;
$button-font-med: rem-calc(16) !default;
$button-font-lrg: rem-calc(20) !default;
$button-font-weight: $font-weight-normal !default;
$button-font-align: center !default;

// We use these to control various hover effects.
$button-function-factor: -20% !default;

// We use these to control button border styles.
$button-border-width: 0 !default;
$button-border-style: solid !default;
$button-bg-color: $primary-color !default;
$button-bg-hover: scale-color($button-bg-color, $lightness: $button-function-factor) !default;
$button-border-color: $button-bg-hover !default;
$secondary-button-bg-color: $secondary-color !default;
$secondary-button-bg-hover: scale-color($secondary-color, $lightness: $button-function-factor) !default;
$secondary-button-border-color: $secondary-button-bg-hover !default;
$success-button-bg-color: $success-color !default;
$success-button-bg-hover: scale-color($success-color, $lightness: $button-function-factor) !default;
$success-button-border-color: $success-button-bg-hover !default;
$alert-button-bg-color: $alert-color !default;
$alert-button-bg-hover: scale-color($alert-color, $lightness: $button-function-factor) !default;
$alert-button-border-color: $alert-button-bg-hover !default;
$warning-button-bg-color: $warning-color !default;
$warning-button-bg-hover: scale-color($warning-color, $lightness: $button-function-factor) !default;
$warning-button-border-color: $warning-button-bg-hover !default;
$info-button-bg-color: $info-color !default;
$info-button-bg-hover: scale-color($info-color, $lightness: $button-function-factor) !default;
$info-button-border-color: $info-button-bg-hover !default;

// We use this to set the default radius used throughout the core.
$button-radius: $global-radius !default;
$button-round: $global-rounded !default;

// We use this to set default opacity and cursor for disabled buttons.
$button-disabled-opacity: .7 !default;
$button-disabled-cursor: $cursor-default-value !default;

//
// BASE PROPS
// ==========================================================================

$button-border-radius: false !default;
$button-text-decoration: false !default;
$button-letter-spacing: false !default;
$button-border-bottom-width: $button-border-width !default;
$button-padding: $button-med !default;
$tertiary-color: $medium-grey !default;

$button-padding-vert: $button-padding !default;
$button-padding-horiz: $button-padding-vert * 2 !default;
$button-font-size: 1rem !default;

$button-size-multiplier-lrg: 1.125 !default;
$button-size-multiplier-sml: .8125 !default;
$button-size-multiplier-tny: .6875 !default;

//
// BG COLORS
// ==========================================================================

$primary-button-bg-color: $primary-color !default;
$secondary-button-bg-color: $secondary-color !default;
$tertiary-button-bg-color: $tertiary-color !default;
$success-button-bg-color: $success-color !default;
$alert-button-bg-color: $alert-color !default;
$info-button-bg-color: $info-color !default;
$warning-button-bg-color: $warning-color !default;
$dull-button-bg-color: $light-grey !default;
$ghost-button-bg-color: transparent !default;

// BG COLORS - HOVER STATE
$primary-button-bg-hover: scale-color($primary-color, $lightness: $button-function-factor) !default;
$tertiary-button-bg-hover: scale-color($tertiary-color, $lightness: $button-function-factor) !default;
$dull-button-bg-hover: $medium-grey !default;
$ghost-button-bg-hover: rgba($true-white, 0.2) !default;

// BG COLORS - ACTIVE STATE
$primary-button-bg-active: null !default;
$secondary-button-bg-active: scale-color($secondary-color, $lightness: $button-function-factor * 2) !default;
$tertiary-button-bg-active: scale-color($tertiary-color, $lightness: $button-function-factor * 2) !default;
$success-button-bg-active: scale-color($success-color, $lightness: $button-function-factor * 2) !default;
$alert-button-bg-active: scale-color($alert-color, $lightness: $button-function-factor * 2) !default;
$info-button-bg-active: scale-color($info-color, $lightness: $button-function-factor * 2) !default;
$warning-button-bg-active: scale-color($warning-color, $lightness: $button-function-factor * 2) !default;
$dull-button-bg-active: scale-color($dull-button-bg-hover, $lightness: $button-function-factor * 2) !default;
$ghost-button-bg-active: rgba($true-white, 0.4) !default;

//
// BORDER COLORS
// ==========================================================================

$primary-button-border-color: null !default;
$secondary-button-border-color: null !default;
$tertiary-button-border-color: null !default;
$success-button-border-color: null !default;
$alert-button-border-color: null !default;
$info-button-border-color: null !default;
$warning-button-border-color: null !default;
$dull-button-border-color: null !default;
$ghost-button-border-color: $true-white !default;

// BORDER COLORS - HOVER
$primary-button-border-color-hover: null !default;
$secondary-button-border-color-hover: null !default;
$tertiary-button-border-color-hover: null !default;
$success-button-border-color-hover: null !default;
$alert-button-border-color-hover: null !default;
$info-button-border-color-hover: null !default;
$warning-button-border-color-hover: null !default;
$dull-button-border-color-hover: null !default;
$ghost-button-border-color-hover: null !default;

// BORDER COLORS - ACTIVE
$primary-button-border-color-active: null !default;
$secondary-button-border-color-active: null !default;
$tertiary-button-border-color-active: null !default;
$success-button-border-color-active: null !default;
$alert-button-border-color-active: null !default;
$info-button-border-color-active: null !default;
$warning-button-border-color-active: null !default;
$dull-button-border-color-active: null !default;
$ghost-button-border-color-active: null !default;

//
// BORDER-BOTTOM COLORS
// ==========================================================================

$primary-button-border-bottom-color: null !default;
$secondary-button-border-bottom-color: null !default;
$tertiary-button-border-bottom-color: null !default;
$success-button-border-bottom-color: null !default;
$alert-button-border-bottom-color: null !default;
$info-button-border-bottom-color: null !default;
$warning-button-border-bottom-color: null !default;
$dull-button-border-bottom-color: null !default;
$ghost-button-border-bottom-color: null !default;

// BORDER COLORS - HOVER
$primary-button-border-bottom-color-hover: null !default;
$secondary-button-border-bottom-color-hover: null !default;
$tertiary-button-border-bottom-color-hover: null !default;
$success-button-border-bottom-color-hover: null !default;
$alert-button-border-bottom-color-hover: null !default;
$info-button-border-bottom-color-hover: null !default;
$warning-button-border-bottom-color-hover: null !default;
$dull-button-border-bottom-color-hover: null !default;
$ghost-button-border-bottom-color-hover: null !default;

// BORDER COLORS - ACTIVE
$primary-button-border-bottom-color-active: null !default;
$secondary-button-border-bottom-color-active: null !default;
$tertiary-button-border-bottom-color-active: null !default;
$success-button-border-bottom-color-active: null !default;
$alert-button-border-bottom-color-active: null !default;
$info-button-border-bottom-color-active: null !default;
$warning-button-border-bottom-color-active: null !default;
$dull-button-border-bottom-color-active: null !default;
$ghost-button-border-bottom-color-active: null !default;

//
// BUTTON GROUP ENTRY BORDER COLORS
// ==========================================================================

$primary-button-group-entry-border-color: $primary-button-bg-hover !default;
$secondary-button-group-entry-border-color: $secondary-button-bg-hover !default;
$tertiary-button-group-entry-border-color: $tertiary-button-bg-hover !default;
$success-button-group-entry-border-color: $success-button-bg-hover !default;
$alert-button-group-entry-border-color: $alert-button-bg-hover !default;
$info-button-group-entry-border-color: $info-button-bg-hover !default;
$warning-button-group-entry-border-color: $warning-button-bg-hover !default;
$dull-button-group-entry-border-color: $dull-button-bg-hover !default;
$ghost-button-group-entry-border-color: $ghost-button-border-color !default;

//
// FONT COLORS
// ==========================================================================

$primary-button-font-color: $true-white !default;
$secondary-button-font-color: $true-white !default;
$tertiary-button-font-color: $true-white !default;
$success-button-font-color: $true-white !default;
$alert-button-font-color: $true-white !default;
$info-button-font-color: $true-white !default;
$warning-button-font-color: $true-white !default;
$ghost-button-font-color: $true-white !default;
$dull-button-font-color: null !default;

// FONT COLORS - HOVER
$primary-button-font-color-hover: null !default;
$secondary-button-font-color-hover: null !default;
$tertiary-button-font-color-hover: null !default;
$success-button-font-color-hover: null !default;
$alert-button-font-color-hover: null !default;
$info-button-font-color-hover: null !default;
$warning-button-font-color-hover: null !default;
$ghost-button-font-color-hover: $true-white !default;
$dull-button-font-color-hover: null !default;

// FONT COLOR - VIISITED
$primary-button-visited-color: null !default;
$secondary-button-visited-color: null !default;
$tertiary-button-visited-color: null !default;
$success-button-visited-color: null !default;
$alert-button-visited-color: null !default;
$info-button-visited-color: null !default;
$warning-button-visited-color: null !default;
$dull-button-visited-color: null !default;
$ghost-button-visited-color: null !default;

//
// FORCED ACTIVE STATE
// ==========================================================================

$primary-button-bg-filter-active: $primary-button-font-color !default;
$secondary-button-bg-filter-active: $secondary-button-font-color !default;
$tertiary-button-bg-filter-active: $tertiary-button-font-color !default;
$success-button-bg-filter-active: $success-button-font-color !default;
$alert-button-bg-filter-active: $alert-button-font-color !default;
$info-button-bg-filter-active: $info-button-font-color !default;
$warning-button-bg-filter-active: $warning-button-font-color !default;
$dull-button-bg-filter-active: $warning-button-font-color !default;
$ghost-button-bg-filter-active: $warning-button-font-color !default;

// BORDER COLORS - FORCED ACTIVE
$primary-button-border-color-filter-active: $primary-button-bg-color !default;
$secondary-button-border-color-filter-active: $secondary-button-bg-color !default;
$tertiary-button-border-color-filter-active: $tertiary-button-bg-color !default;
$success-button-border-color-filter-active: $success-button-bg-color !default;
$alert-button-border-color-filter-active: $alert-button-bg-color !default;
$info-button-border-color-filter-active: $info-button-bg-color !default;
$warning-button-border-color-filter-active: $warning-button-bg-color !default;
$dull-button-border-color-filter-active: $dull-button-bg-color !default;
$ghost-button-border-color-filter-active: $ghost-button-bg-color !default;

// BORDER COLORS - FORCED ACTIVE
$primary-button-border-bottom-color-filter-active: $primary-button-border-color-active !default;
$secondary-button-border-bottom-color-filter-active: $secondary-button-border-color-active !default;
$tertiary-button-border-bottom-color-filter-active: $tertiary-button-border-color-active !default;
$success-button-border-bottom-color-filter-active: $success-button-border-color-active !default;
$alert-button-border-bottom-color-filter-active: $alert-button-border-color-active !default;
$info-button-border-bottom-color-filter-active: $info-button-border-color-active !default;
$warning-button-border-bottom-color-filter-active: $warning-button-border-color-active !default;
$dull-button-border-bottom-color-filter-active: $dull-button-border-color-active !default;
$ghost-button-border-bottom-color-filter-active: $ghost-button-border-color-active !default;

// FONT COLOR - FORCED ACTIVE
$primary-button-font-color-filter-active: $primary-button-bg-color !default;
$secondary-button-font-color-filter-active: $secondary-button-bg-color !default;
$tertiary-button-font-color-filter-active: $tertiary-button-bg-color !default;
$success-button-font-color-filter-active: $success-button-bg-color !default;
$alert-button-font-color-filter-active: $alert-button-bg-color !default;
$info-button-font-color-filter-active: $info-button-bg-color !default;
$warning-button-font-color-filter-active: $warning-button-bg-color !default;
$dull-button-font-color-filter-active: $dull-button-bg-color !default;
$ghost-button-font-color-filter-active: $dull-button-bg-filter-active !default;
