@mixin icon-namespace-button() {

	// 
	// Inside buttons, we handle a special case were icons are to increase in
	// size while still aligning with the text. We do so by absolutely
	// positioning the `:before` content inside the `.icon` element.
	// 
	vertical-align: top;
	
	// 
	// Creates relatively-positioned wrapper for pseudo-element, with 
	// dimensions set to those of icon increased.
	// 
	position: relative;
	width: 1em;
	height: 1em;

	&:before {

		// 
		// Increase size of icon and position within wrapper.
		// 
		font-size: 1.25em;
		position: absolute;
		top: -0.125em;
		left: 0;
	}
}

@mixin icon-reset-button() {

	// 
	// Reset properties set by mixin above.
	// 
	vertical-align: auto;
	position: static;
	width: auto;
	height: auto;

	&:before {

		font-size: 100%;
		position: static;
		top: auto;
		left: auto;
	}
}