// ==========================================================================
// LV FOUNDATION - icons - icon-base-styles
// ==========================================================================

//
// Here, we define icon-base-styles, used to delcare icons.
//

@mixin icon-pseudo-styles($glyph-name: null) {

	// 
	// Sets glyph name
	// 
	@if ($glyph-name) {
		content: icon-codepoint($glyph-name);
	}

	// 
	// POSITIONING
	// 
	display: inline-block;
	vertical-align: middle;
	line-height: 1;

	// 
	// FONT PROPS
	// 
	font-weight: normal;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	text-transform: none;
	text-rendering: auto;
	font-family: $icon-font-family-name;

	// 
	// SMOOTHING
	// 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin icon-base-styles() {
	
	display: inline-block;
	cursor: inherit;

	&:before {
		@include icon-pseudo-styles();
	}
}