// ==========================================================================
// LV FOUNDATION - icons - icon-entries
// ==========================================================================

//
// Here, we define icon-entries, used to delcare icons.
//

@function format-codepoint($codepoint) {
	@return "\"\\" + $codepoint + "\"";
}

@function icon-codepoint($glyph-name) {

	// 
	// In the event that no theme has been passed, we simply return null,
	// as this mixin will have no utility in this case.
	// 
	@if (not $icon-glyph-names) {
		@return null;
	}

	@for $i from 1 through length($icon-glyph-names) {
		@if ($glyph-name == nth($icon-glyph-names, $i)) {
			@return format-codepoint(nth($icon-codepoints, $i));
		}
	}

	@error "Invalid glyph-name `" + $glyph-name + "` in theme `" + $theme-name + "`";
}

@mixin icon-codepoint-content($glyph-name) {
	&:before {
		content: icon-codepoint($glyph-name);
	}
}

@mixin _icon-entry(
	$glyph-name: false
) {

	@if (not $glyph-name) {
		@warn "Mixin _icon-entry called without proper arg `$glyph-name`";
	}

	.icon-#{$glyph-name} {
		@include icon-codepoint-content($glyph-name);
	}
}

@mixin icon-entries(
	$codepoints: false,
	$glyph-names: false
) {

	@if (length($codepoints) != length($glyph-names)) {
		@warn "Lists $codepoints and $glyph-names must have same length.";
	}
	
	@if ($codepoints and $glyph-names) {
		@for $i from 1 through length($glyph-names) {
			$glyph-name: nth($glyph-names, $i);

			@include _icon-entry(
				$glyph-name: $glyph-name
			);
		}
	}
}