@if ($include-lv-html-select-button-classes) {

	select.button {
		
		@include select-button-base();
		@include select-button-styles();
		@include select-button-size();

		&.expand {
			@include select-button-size(
				$expanded: true
			)
		}

		// CONTEXTUAL COLORS
		
		@if ($select-button-secondary-pip-img-base64) {
			&.secondary {
				@include select-button-styles(
					$pip-img-base64: $select-button-secondary-pip-img-base64
				);
			}
		}

		@if ($select-button-tertiary-pip-img-base64) {
			&.tertiary {
				@include select-button-styles(
					$pip-img-base64: $select-button-tertiary-pip-img-base64
				);
			}
		}

		@if ($select-button-success-pip-img-base64) {
			&.success {
				@include select-button-styles(
					$pip-img-base64: $select-button-success-pip-img-base64
				);
			}
		}

		@if ($select-button-warning-pip-img-base64) {
			&.warning {
				@include select-button-styles(
					$pip-img-base64: $select-button-warning-pip-img-base64
				);
			}
		}

		@if ($select-button-alert-pip-img-base64) {
			&.alert {
				@include select-button-styles(
					$pip-img-base64: $select-button-alert-pip-img-base64
				);
			}
		}

		@if ($select-button-info-pip-img-base64) {
			&.info {
				@include select-button-styles(
					$pip-img-base64: $select-button-info-pip-img-base64
				);
			}
		}


		// SIZES

		&.tiny {
			@include select-button-size(
				$size-multiplier: $button-size-multiplier-tny
			);
		}

		&.small {
			@include select-button-size(
				$size-multiplier: $button-size-multiplier-sml
			);
		}

		&.large {
			@include select-button-size(
				$size-multiplier: $button-size-multiplier-lrg
			);
		}
	}
}