// 
// Hands off to mixin argument validator for args of `triangle` mixin below.
// 
// @param $value				The value of the argument to validate
// @param $arg-name	{String}	The name of the argument to validate
// @param $type	{String}		The desired type of the argument
// 
@mixin _triangle-validate-type($val, $arg-name, $type) {
	@include validate-mixin-arg-type("triangle", $val, $arg-name, $type);
}

// 
// If "up" or "down", returns "top" or "bottom", respectively. Otherwise returns
// the argument.
// 
// Used to translate triangle directions from the user-configurable API options
// (the direction the triangle is pointing, "up" or "down") to border-side
// property values ("top" or "bottom") for use in the `triangle` mixin.
// 
// @param $direction {String}	The value of the direction to translate
// 
@function _triangle-translate-direction($direction) {
	@if ($direction == "up") {
		@return "top";
	} @elseif ($direction == "down") {
		@return "bottom";
	}
	
	@return $direction;
}

// 
// Given height, width, color, and a direction in which it should point,
// renders a triangle using pure CSS. If unset, height will default to same
// value as width.
// 
// @param $width {Number}		The desired length of the base
// @param $height {Number}		The desired length of the altitude
// @param $color {Color}		The desired color
// @param $direction {Number}	The direction in which it should point
// 
// 
@mixin triangle(
	$width: false,
	$height: false,
	$color: false,
	$direction: false
	) {

	// 
	// Ensure types are valid
	// 
	@include _triangle-validate-type($width, "width", "number");
	@include _triangle-validate-type($color, "color", "color");
	@include _triangle-validate-type($direction, "direction", "string");
	@if ($height) {
		@include _triangle-validate-type($width, "height", "number");
	}

	// 
	// Ensure direction is valid
	// 
	$valid-directions: ("up", "down", "left", "right", "top", "bottom");
	@if (not index($valid-directions, $direction)) {
		@include validate-mixin-arg-as-array-entry("$triangle", $direction, "direction", $valid-directions);
	}
	$direction: _triangle-translate-direction($direction);

	// 
	// Cuts width in half, since it will be applied to the border on each
	// side of the triangle
	// 
	$width: $width / 2;

	// 
	// Base props
	// 
	height: 0;
	width: 0;
	display: block;

	// 
	// Border properties
	// 
	@if ($direction == "top") {
		border-left: $width solid transparent;
		border-right: $width solid transparent;
		border-bottom: $height solid $color;
		border-top: 0;

	} @elseif ($direction == "bottom") {
		border-left: $width solid transparent;
		border-right: $width solid transparent;
		border-top: $height solid $color;
		border-bottom: 0;

	} @elseif ($direction == "left") {
		border-top: $width solid transparent;
		border-bottom: $width solid transparent;
		border-right: $height solid $color;
		border-left: 0;

	} @elseif ($direction == "right") {
		border-top: $width solid transparent;
		border-bottom: $width solid transparent;
		border-left: $height solid $color;		
		border-right: 0;
	}
}