@mixin deprecate-var-name(
	$deprecated-name,
	$preferred-name: false) {

	$warning-output: "UI-Toolkit: variable `$" + $deprecated-name + "` will be deprecated in a future release.";

	@if ($preferred-name) {
		$warning-output: $warning-output + " Please use `$" + $preferred-name + "` instead.";
	}

	@warn $warning-output;
}

@mixin deprecate-mixin(
	$deprecated-name,
	$preferred: false) {

	$warning-output: "UI-Toolkit: mixin `" + $deprecated-name + "` will be deprecated in a future release.";

	@if ($preferred) {
		$warning-output: $warning-output + " Please use `@include " + $preferred + "` instead.";
	}

	@warn $warning-output;	
}