$ghost-element-class:	".ghost";
$ghost-children-class:	".ghost-children";

@function ghost-selector-entry($entry) {

	@return "#{$entry}#{$ghost-element-class}, #{$ghost-children-class} #{$entry},";
}

@function ghost-selector($el) {

	$selector: "";

	@each $entry in $el {
		$selector: "#{$selector}" + ghost-selector-entry($entry);
	}

	$selector: str-slice($selector, 1, -2);
	@return $selector;
}

@mixin ghost($el) {

	@if ($include-lv-html-ghosting-classes) {

		#{ghost-selector($el)} {
			@content;
		}
	}
}

@mixin ghost-children() {

	@if ($include-lv-html-ghosting-classes) {

		#{$ghost-children-class} {
			@content;
		}
	}
}