// @mixins
//
// We use this to create the icon with three lines aka the hamburger icon, the menu-icon or the navicon
// $width - Width of hamburger icon in rem
// $left - If false, icon will be centered horizontally || explicitly set value in rem
// $top - If false, icon will be centered vertically || explicitly set value in rem
// $thickness - thickness of lines in hamburger icon, set value in px
// $gap - spacing between the lines in hamburger icon, set value in px
// $color - icon color
// $hover-color - icon color during hover
// $offcanvas - Set to true of @include in offcanvas
@mixin hamburger($width, $left, $top, $thickness, $gap, $color, $hover-color, $offcanvas) {
	span::after {
		content: "";
		display: block;
		height: 0;
		position: absolute;

		@if $offcanvas {
			@if $top {
				top: $top;
			}
			@else {
				top: 50%;
				margin-top: (-$width/2);
			}
			@if $left {
				left: $left;
			}
			@else {
				left: ($tabbar-menu-icon-width - $width)/2;
			}
		}
		@else {
			margin-top: -($width/2);
			top: 50%;
			#{$opposite-direction}: $topbar-link-padding;
		}

		box-shadow:
			0 0 0 $thickness $color,
			0 $gap + $thickness 0 $thickness $color,
			0 (2 * $gap + 2*$thickness) 0 $thickness $color;
		width: $width;
	}
	span:hover:after {
		box-shadow:
			0 0 0 $thickness $hover-color,
			0 $gap + $thickness 0 $thickness $hover-color,
			0 (2 * $gap + 2*$thickness) 0 $thickness $hover-color;
	}
}
