@mixin validate-mixin-arg-type($mixin-name, $val, $arg-name, $type) {

	@if (type-of($val) != $type) {
		@error "Mixin `$" + $mixin-name + "` expected arg `" + $arg-name + "` to be of type " + $type + " but received `" + $val + "`";
	}
}

@mixin validate-mixin-arg-as-array-entry($mixin-name, $val, $arg-name, $array) {

	@if (not index($val, $array)) {
		@error "Mixin `$" + $mixin-name + "` expected arg `" + $arg-name + "` to be entry in " + $array + " but received `" + $val + "`";
	}	
}