//
// FOUNDATION DEFAULTS
// ==========================================================================

//
// @variables
//
$include-html-form-classes: $include-html-classes 	!default;

// 
// LAYOUT
// 
$form-spacing:					rem-calc(16)		!default;
$form-el-horizontal-padding:	$form-spacing / 2	!default;

// 
// SHARED PROPS
// 
$form-input-border-radius: false !default;
$form-input-bottom-margin: false !default;

//
// LABELS
// ==========================================================================

$form-label-font-color: 			scale-color($true-black, $lightness: 30%) 	!default;
$form-label-pointer: 				pointer 								!default;
$form-label-font-size: 				rem-calc(14) 							!default;
$form-label-font-weight: 			$font-weight-normal 					!default;
$form-label-line-height: 			1.5 									!default;
$form-label-small-transform: 		capitalize 								!default;
$form-label-bottom-margin: 			0 										!default;
$form-label-error-color: 			$alert-color							!default;
$form-label-letter-spacing:			false									!default;

//
// LABELS GHOSTING
//
$form-label-font-color-ghost:	$ghost-text-color !default;

//
// TEXT-INPUTS
// ==========================================================================

// 
// BASE
// 
$input-font-family: 				inherit									!default;
$input-placeholder-font-color: 		$off-black 								!default;
$input-font-size: 					rem-calc(14) 							!default;
$input-border-style: 				solid 									!default;
$input-border-width: 				1px 									!default;
$input-border-radius: 				$global-radius 							!default;
$input-disabled-cursor: 			$cursor-default-value 					!default;
$input-box-shadow: 					inset 0 1px 2px rgba(0,0,0,0.1) 		!default;
$input-outline:						false 									!default;

// 
// PASSIVE
// 
$input-font-color: 					rgba(0,0,0,0.75) 						!default;
$input-bg-color: 					$true-white 							!default;
$input-border-color: 				scale-color($true-white, $lightness: -20%) 	!default;


//
// PASSIVE GHOST
//
$input-font-color-ghost:				$ghost-text-color !default;
$input-bg-color-ghost: 					transparent !default;
$input-border-color-ghost: 				rgba($ghost-text-color, 0.6) !default;
$input-placeholder-font-color-ghost:	rgba($ghost-text-color, 0.6) !default;

// 
// FOCUS
// 
$input-focus-bg-color: 				scale-color($true-white, $lightness: -2%) 	!default;
$input-focus-border-color: 			scale-color($true-white, $lightness: -40%) 	!default;

//
// HOVER
//
$input-border-color-hover: false !default;

//
// FOCUS GHOST
//
$input-border-color-focus-ghost: 	$ghost-text-color 	!default;
$input-font-color-focus-ghost: 		$ghost-text-color 	!default;
$input-bg-color-focus-ghost: 		transparent 		!default;

// 
// DISABLED
// 
$input-disabled-bg: 			$medium-grey 									!default;
$input-disabled-color: 			scale-color($input-bg-color, $lightness: -35%)	!default;
$input-disabled-border-color: 	$input-bg-color									!default;

//
// DIABLED GHOST
//
$input-disabled-bg-ghost:			rgba($ghost-text-color, 0.7) 	!default;
$input-disabled-color-ghost:		rgba($true-black, 0.4) 			!default;
$input-disabled-border-color-ghost:	rgba($ghost-text-color, 0.2) 	!default;

// 
// ERROR
// 
$input-error-border-color: 			false		!default;
$input-error-bg-color:				false		!default;
$input-error-font-color:			false		!default;

$input-placeholder-font-style: 			false 	!default;

$input-transition-fade-time: 			0.15s 	!default;
$input-transition-fade-timing-function: linear 	!default;

// Error Ghost
$input-error-border-color-focus-ghost:	$alert-color	!default;

// 
// We use this setting to turn on/off HTML5 number spinners (the up/down arrows)
// 
$input-number-spinners: true !default;

// 
// PREFIX / POSTFIX
// ==========================================================================

$input-affix-bg:	 			scale-color($true-white, $lightness: -5%) 	!default;
$input-affix-border-color:	 	scale-color($true-white, $lightness: -20%) 	!default;
$input-affix-border-size:	 	1px 										!default;
$input-affix-border-type:	 	solid 										!default;
$input-affix-overflow:	 		visible 									!default;
$input-affix-font-color:	 	$off-black 									!default;
$input-affix-font-color-alt:	$true-white 								!default;
$input-affix-font-style:		false 										!default;

$affix-border-radius:				$global-radius	!default;
$affix-error-border-color:			false 			!default;
$affix-error-bg-color:				false 			!default;
$affix-error-font-color:			false 			!default;
$affix-font-color: 					false 			!default;
//postfix select styling
$postfix-select-font-style:			false 			!default;
$postfix-select-font-size:			false 			!default;
$postfix-select-border-left-width:	false 			!default;
//prefix select styling
$prefix-select-font-style:			false 			!default;
$prefix-select-font-size:			false 			!default;

// 
// ERROR MESSAGES
// ==========================================================================

$input-error-message-padding:			rem-calc(6 9 9) 	!default;
$input-error-message-top:				rem-calc(-1px)		!default;
$input-error-message-font-size:			rem-calc(12) 		!default;
$input-error-message-font-weight:		$font-weight-normal	!default;
$input-error-message-font-style:		italic 				!default;
$input-error-message-font-color:		$true-white 		!default;
$input-error-message-bg-color:			$alert-color 		!default;
$input-error-message-font-color-alt:	$off-black 			!default;

//
// SELECTS
// ==========================================================================

$select-bg-color:			$off-white 										!default;
$select-hover-bg-color: 	scale-color($select-bg-color, $lightness: -3%) 	!default;
$select-error-border-color: $input-error-border-color						!default;
$select-error-bg-color:		$input-error-bg-color							!default;
$select-error-font-color: 	$input-error-font-color							!default;
$select-border-color:		scale-color($true-white, $lightness: -20%) 		!default;

$select-handle-padding: 	false !default;
$select-handle-img-base64: 	"DQo8c3ZnIHdpZHRoPSIxMnB4IiBoZWlnaHQ9IjhweCIgdmlld0JveD0iMTA1OCA2MTkgMTIgOCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4NCiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDMuNy4yICgyODI3NikgLSBodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2ggLS0+DQogICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+DQogICAgPGRlZnM+PC9kZWZzPg0KICAgIDxwb2x5bGluZSBpZD0iUGFnZS0xIiBzdHJva2U9IiM0NDQ0NDQiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGZpbGw9Im5vbmUiIHBvaW50cz0iMTA2Ny40NjYgNjIxLjQ5OTg5IDEwNjMuMjMzIDYyNS43MzI4OSAxMDU5IDYyMS40OTk4OSI+PC9wb2x5bGluZT4NCjwvc3ZnPg==" !default;

$select-disabled-bg:				$input-disabled-bg 		!default;
$select-disabled-cursor:			$input-disabled-cursor 	!default;
$select-disabled-color:				$input-disabled-color 	!default;
$select-disabled-handle-img-base64:	false 					!default;
$select-disabled-border:			$select-disabled-bg 	!default;
$select-font-color-hover:			$input-font-color 		!default;
$select-font-size:					false 					!default;
$select-border-width:				false 					!default;
$select-font-color:					false 					!default;
$select-bottom-margin:				false 					!default;

//
// GHOSTING SELECTS
//
$select-bg-color-ghost: 				rgba($ghost-text-color, 0.2)	!default;
$select-hover-bg-color-ghost: 			rgba($ghost-text-color, 0.3)	!default;
$select-font-color-ghost: 				$ghost-text-color 				!default; 
$select-border-color-ghost:				rgba($ghost-text-color, 0.6) 	!default;
$select-hover-border-color-ghost:		$ghost-text-color				!default;
$select-disabled-bg-color-ghost:		rgba($ghost-text-color, 0.7)	!default;
$select-disabled-color-ghost:			rgba($true-black, 0.4) 			!default;
$select-disabled-border-color-ghost:	rgba($ghost-text-color, 0.2) 	!default;
$select-handle-img-base64-ghost:		"DQo8c3ZnIHdpZHRoPSIxMnB4IiBoZWlnaHQ9IjhweCIgdmlld0JveD0iMTA1OCA2MTkgMTIgOCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4NCiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDMuNy4yICgyODI3NikgLSBodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2ggLS0+DQogICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+DQogICAgPGRlZnM+PC9kZWZzPg0KICAgIDxwb2x5bGluZSBpZD0iUGFnZS0xIiBzdHJva2U9IiNGRkZGRkYiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iMTA2Ny40NjYgNjIxLjQ5OTg5IDEwNjMuMjMzIDYyNS43MzI4OSAxMDU5IDYyMS40OTk4OSI+PC9wb2x5bGluZT4NCjwvc3ZnPg==" !default;

//
// MULTI-CONTROL
// ==========================================================================

$multi-control-height: 	1.25rem 				!default;
$multi-control-width: 	$multi-control-height 	!default;

$multi-control-bg-color: 		#FFFFFF 		!default;
$multi-control-border-color: 	#BBBBBB 		!default;
$multi-control-border-width: 	1px 			!default;
$multi-control-border-radius: 	$global-radius 	!default;
$multi-control-bg-size: 		60% 			!default;

$multi-control-active-bg-color: 	#F1F1F1 	!default;
$multi-control-active-border-width: 2px 		!default;
$multi-control-active-border-color: scale-color($multi-control-border-color, $lightness: 10%) !default;

$multi-control-checked-bg-color: 		$multi-control-bg-color	!default;
$multi-control-checked-border-color: 	$primary-color 			!default;
$multi-control-checked-bg-size: 		$multi-control-bg-size 	!default;

$multi-control-transition-prop: 	false 	!default;
$multi-control-transition-speed: 	false 	!default;
$multi-control-transition-easing: 	linear 	!default;

// 
// RADIO BUTTONS
// 
$radio-button-height: 	$multi-control-height 	!default;
$radio-button-width: 	$multi-control-width 	!default;

$radio-button-bg-color: 		$multi-control-bg-color			!default;
$radio-button-bg-size: 			$multi-control-bg-size			!default;
$radio-button-bg-img-base64: 	false 							!default;
$radio-button-border-color: 	$multi-control-border-color 	!default;
$radio-button-border-width: 	$multi-control-border-width 	!default;
$radio-button-border-radius: 	$multi-control-border-radius 	!default;

$radio-button-active-bg-color:		$multi-control-active-bg-color 		!default;
$radio-button-active-border-color:	$multi-control-active-border-color 	!default;
$radio-button-active-border-width:	$multi-control-active-border-width 	!default;
$radio-button-active-bg-size:		false 								!default;
$radio-button-active-bg-img-base64: false 								!default;

$radio-button-checked-border-color: 	$multi-control-checked-border-color !default;
$radio-button-checked-border-width: 	false								!default;
$radio-button-checked-bg-size: 			$multi-control-checked-bg-size 		!default;
$radio-button-checked-bg-color: 		transparent							!default;
$radio-button-checked-bg-img-base64: 	"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTNweCIgd2lkdGg9IjEzcHgiIHZlcnNpb249IjEuMSIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZpZXdCb3g9IjAgMCAxMyAxMyI+PCEtLSBHZW5lcmF0b3I6IFNrZXRjaCAzLjMuMiAoMTIwNDMpIC0gaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoIC0tPg0KIDx0aXRsZT5SZWN0YW5nbGUgMTwvdGl0bGU+DQogPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+DQogPGcgaWQ9IlBhZ2UtMSIgZmlsbC1ydWxlPSJldmVub2RkIiBza2V0Y2g6dHlwZT0iTVNQYWdlIiBmaWxsPSJub25lIj4NCiAgPHJlY3QgaWQ9IlJlY3RhbmdsZS0xIiByeD0iMiIgc2tldGNoOnR5cGU9Ik1TU2hhcGVHcm91cCIgaGVpZ2h0PSIxMyIgd2lkdGg9IjEzIiB5PSIwIiB4PSIwIiBmaWxsPSIjMDA4Q0JBIi8+DQogPC9nPg0KPC9zdmc+DQo=" !default;

$radio-button-transition-prop: 		$multi-control-transition-prop 		!default;
$radio-button-transition-speed: 	$multi-control-transition-speed 	!default;
$radio-button-transition-easing: 	$multi-control-transition-easing 	!default;

//
// GHOSTING RADIO BUTTONS
//
$radio-button-checked-bg-color-ghost:		transparent 			!default;
$radio-button-checked-bg-img-base64-ghost: 	"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTNweCIgd2lkdGg9IjEzcHgiIHZlcnNpb249IjEuMSIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZpZXdCb3g9IjAgMCAxMyAxMyI+PCEtLSBHZW5lcmF0b3I6IFNrZXRjaCAzLjMuMiAoMTIwNDMpIC0gaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoIC0tPg0KIDx0aXRsZT5SZWN0YW5nbGUgMTwvdGl0bGU+DQogPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+DQogPGcgaWQ9IlBhZ2UtMSIgZmlsbC1ydWxlPSJldmVub2RkIiBza2V0Y2g6dHlwZT0iTVNQYWdlIiBmaWxsPSIjRkZGRkZGIj4NCiAgPHJlY3QgaWQ9IlJlY3RhbmdsZS0xIiByeD0iMiIgc2tldGNoOnR5cGU9Ik1TU2hhcGVHcm91cCIgaGVpZ2h0PSIxMyIgd2lkdGg9IjEzIiB5PSIwIiB4PSIwIiBmaWxsPSIjRkZGRkZGIi8+DQogPC9nPg0KPC9zdmc+DQo=" !default; 
$radio-button-active-bg-color-ghost:		rgba($true-white, 0.3) 	!default;
$radio-button-active-border-color-ghost:	rgba($true-white, 0.8) 	!default;
$radio-button-active-bg-img-base64-ghost:	false 					!default;

// 
// CHECKBOXES
// 
$checkbox-height: 	$multi-control-height	!default;
$checkbox-width: 	$multi-control-width	!default;

$checkbox-bg-color:			$multi-control-bg-color 		!default;
$checkbox-bg-size:			$multi-control-bg-size 			!default;
$checkbox-bg-img-base64:	false							!default;
$checkbox-border-color:		$multi-control-border-color 	!default;
$checkbox-border-width:		$multi-control-border-width 	!default;
$checkbox-border-radius:	$multi-control-border-radius 	!default;

$checkbox-active-bg-color: 		$multi-control-active-bg-color 		!default;
$checkbox-active-border-color: 	$multi-control-active-border-color 	!default;
$checkbox-active-border-width: 	$multi-control-active-border-width 	!default;
$checkbox-active-bg-size: 		false 								!default;
$checkbox-active-bg-img-base64: false 								!default;

$checkbox-checked-border-color: 	$multi-control-checked-border-color !default;
$checkbox-checked-border-width: 	false 								!default;
$checkbox-checked-bg-size: 			$multi-control-checked-bg-size		!default;
$checkbox-checked-bg-color: 		$checkbox-bg-color					!default;
$checkbox-checked-bg-img-base64: 	"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iOHB4IiB3aWR0aD0iOXB4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgOSA4Ij48IS0tIEdlbmVyYXRvcjogU2tldGNoIDMuMy4yICgxMjA0MykgLSBodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2ggLS0+DQogPHRpdGxlPkNoZWNrPC90aXRsZT4NCiA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4NCiA8ZyBpZD0iUGFnZS0xIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHNrZXRjaDp0eXBlPSJNU1BhZ2UiIGZpbGw9Im5vbmUiPg0KICA8cGF0aCBpZD0iQ2hlY2siIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiIGZpbGw9IiMwMDhDQkEiIGQ9Im0zLjM1ODQgNy43MTQzbC0zLjM1ODQtMy41NzY4IDEuNjAyLTEuNzA2MiAxLjc1NjQgMS44NzEgNC4wMzk5LTQuMzAyMyAxLjYwMTcgMS43MDU5LTUuNjQxNiA2LjAwODR6Ii8+DQogPC9nPg0KPC9zdmc+DQo=" !default;

$checkbox-transition-prop:		$multi-control-transition-prop		!default;
$checkbox-transition-speed: 	$multi-control-transition-speed		!default;
$checkbox-transition-easing: 	$multi-control-transition-easing	!default;

//
// GHOSTING CHECKBOXES
//
$checkbox-bg-color-ghost:					transparent 					!default;
$checkbox-border-color-ghost:				rgba($ghost-text-color, 0.6) 	!default;
$checkbox-active-bg-img-base64-ghost:		false 							!default;
$checkbox-checked-bg-color-ghost:			transparent 		 			!default;
$checkbox-active-bg-color-ghost:			rgba($ghost-text-color, 0.3) 	!default;
$checkbox-active-border-color-ghost:		rgba($ghost-text-color, 0.8) 	!default;
$checkbox-checked-bg-img-base64-ghost:		"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iOHB4IiB3aWR0aD0iOXB4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgOSA4Ij48IS0tIEdlbmVyYXRvcjogU2tldGNoIDMuMy4yICgxMjA0MykgLSBodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2ggLS0+DQogPHRpdGxlPkNoZWNrPC90aXRsZT4NCiA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4NCiA8ZyBpZD0iUGFnZS0xIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHNrZXRjaDp0eXBlPSJNU1BhZ2UiIGZpbGw9IiNGRkZGRkYiPg0KICA8cGF0aCBpZD0iQ2hlY2siIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiIGZpbGw9IiNGRkZGRkYiIGQ9Im0zLjM1ODQgNy43MTQzbC0zLjM1ODQtMy41NzY4IDEuNjAyLTEuNzA2MiAxLjc1NjQgMS44NzEgNC4wMzk5LTQuMzAyMyAxLjYwMTcgMS43MDU5LTUuNjQxNiA2LjAwODR6Ii8+DQogPC9nPg0KPC9zdmc+DQo=" !default;

//
// GROUPINGS
// ==========================================================================

// 
// FIELDSETS
// 
$fieldset-border-style: 	solid 			!default;
$fieldset-border-width: 	1px 			!default;
$fieldset-border-color: 	$medium-grey 	!default;
$fieldset-padding: 			rem-calc(20) 	!default;
$fieldset-margin: 			rem-calc(18 0) 	!default;

// 
// LEGENDS
// 
$legend-font-weight: 	$font-weight-bold 	!default;
$legend-padding: 		rem-calc(0 3) 		!default;