@mixin abbr-acronym-base() {
	text-transform: uppercase;
	font-size: 90%;
	cursor: $cursor-help-value;
}

@mixin abbr-acronym-styles(
	$font-color: $body-font-color) {

	color: $font-color;
}

@mixin abbr-styles(
	$border-color: $abbr-border-color) {

	border-color: $border-color;
}