@mixin anchor-base() {

	line-height: inherit;
	text-decoration: $anchor-text-decoration;

	&:hover {
		@if ($anchor-text-decoration-hover != $anchor-text-decoration) {
			text-decoration: $anchor-text-decoration-hover;
		}
	}
	&:visited {
		text-decoration: $anchor-text-decoration;
	}

	img { border:none; }
}

@mixin anchor-styles(
	$font-color: $anchor-font-color,
	$font-color-hover: $anchor-font-color-hover,
	$font-color-visited: $anchor-visited-color,
	$font-color-active: $anchor-active-color) {

	color: $font-color;

	&:visited {
		color: $font-color-visited;
	}
	&:active {
		color: $font-color-active;
	}
	&:hover {
		color: $font-color-hover;
	}
}