@mixin code-base() {
	border-style: 	$code-border-style;
	border-width: 	$code-border-size;
	font-family: 	$code-font-family;
	font-weight: 	$code-font-weight;
	padding: 		$code-padding;
	white-space: 	$code-white-space;
	border-radius: 	$code-border-radius;
}

@mixin code-styles(
	$background-color: $code-background-color,
	$border-color: $code-border-color,
	$font-color: $code-color) {
	
	background-color: $background-color;
	border-color: $border-color;
	color: $font-color;
}