// ==========================================================================
// LV FOUNDATION - TYPE MIXINS - header-base
// =========================================================================

//
// This mixin establishes global header style settings that are to be overriden
// on a per-tag basis using @header-style.
//

@mixin header-spacing(
	$top-margin: 	$header-top-margin,
	$bottom-margin: $header-bottom-margin) {

	margin-bottom: $bottom-margin;
	margin-top: $top-margin;
}

@mixin header-base(
	$font-family: 			false,
	$font-style: 			false,
	$font-weight: 			false,
	$text-transform: 		false,
	$text-rendering:		false,
	$font-size: 			false,
	$line-height: 			false,
	$font-size-medium-up: 	false,
	$line-height-medium-up: false,
	$set-baseline: 			false) {

	@if ($set-baseline) {
		$font-family: 				$header-font-family;
		$font-style: 				$header-font-style;
		$font-weight: 				$header-font-weight;
		$text-transform:			$header-text-transform;
		$text-rendering:			$header-text-rendering;
		$font-size: 				$header-font-size;
		$line-height: 				$header-line-height;
		$font-size-medium-up: 		$header-font-size-medium-up;
		$line-height-medium-up: 	$header-line-height-medium-up;
	}

	@if ($set-baseline or ($font-family and $font-family != $header-font-family)) {
		font-family: $font-family;
	}
	@if ($set-baseline or ($font-style and $font-style != $header-font-style)) {
		font-style: $font-style;
	}
	@if ($set-baseline or ($font-weight and $font-weight != $header-font-weight)) {
		font-weight: $font-weight;
	}
	@if ($set-baseline or ($text-transform and $text-transform != $header-text-transform)) {
		text-transform: $text-transform;
	}
	@if ($set-baseline or ($text-rendering and $text-rendering != $header-text-rendering)) {
		text-rendering: $text-rendering;
	}
	@if ($set-baseline or ($font-size and $font-size != $header-font-size)) {
		font-size: $font-size;
	}
	@if ($set-baseline or ($line-height and $line-height != $header-line-height)) {
		line-height: $line-height;
	}

	//
	// Breakpoint medium-up changes font-size and line-height
	//
	@media #{$medium-up} {
		@if ($set-baseline or ($font-size-medium-up and $font-size-medium-up != $font-size)) {
			font-size: $font-size-medium-up;
		}
		@if ($set-baseline or ($line-height-medium-up and $line-height-medium-up != $line-height)) {
			line-height: $line-height-medium-up;
		}
	}

	@if ($set-baseline) {
		small {
			font-size: $small-font-size;
			line-height: 0;
		}
	}
}

@mixin header-styles(
	$font-color: $header-font-color,
	$font-color-small: $small-font-color) {

	color: $font-color;

	@if ($font-color and $font-color != $header-font-color) {
		color: $font-color;
	}

	small {
		color: $font-color-small;
	}
}