@mixin horizontal-rules-base() {
	border: $hr-border-style;
	border-width: $hr-border-width 0 0;
	clear: both;
	height: 0;
	margin: $hr-margin 0 ($hr-margin - rem-calc($hr-border-width));
}

@mixin horizontal-rules-styles(
	$border-color: $hr-border-color) {

	border-color: $border-color;
}