@mixin vcard-base() {

		display: inline-block;
		margin: $microformat-margin;
		border: $microformat-border-width $microformat-border-style;
		padding: $microformat-padding;

		li {
			margin: 0;
			display: block;
		}
		.fn {
			font-weight: $microformat-fullname-font-weight;
			font-size: $microformat-fullname-font-size;
		}
}

@mixin vevent-base {
		.summary { 
			font-weight: $microformat-summary-font-weight; 
		}

		abbr {
			cursor: $cursor-default-value;
			text-decoration: $microformat-abbr-font-decoration;
			font-weight: $microformat-abbr-font-weight;
			border: none;
			padding: $microformat-abbr-padding;
		}
}

@mixin vcard-styles(
	$border-color: $microformat-border-color) {

	border-color: $border-color;
}