@mixin quote-base() {
	margin: 0 0 $paragraph-margin-bottom;
	padding: $blockquote-padding;
	border-#{$default-float}: $blockquote-border;

	cite {
		display: block;
		font-size: $blockquote-cite-font-size;
		&:before {
			//
			//Adds a dash and a space for citation.
			//
			content: "\2014 \0020";
		}
	}

	& p {
		line-height: $paragraph-line-height;
	}
}

@mixin quote-styles(
	$font-color: $blockquote-font-color,
	$border-color: $blockquote-border-color,
	$cite-font-color: $blockquote-cite-font-color,
	$cite-link-color: $blockquote-cite-link-color) {

	color: $font-color;
	border-color: $border-color;
	
	cite {
		color: $cite-font-color;

		a,
		a:visited {
			color: $cite-link-color;
		}
	}

	& p {
		color: $font-color;
	}
}