@mixin subheader-base() {
	line-height: $subheader-line-height;
	font-weight: $subheader-font-weight;
	margin-top: $subheader-top-margin;
	margin-bottom: $subheader-bottom-margin;
}

@mixin subheader-styles(
	$font-color: $subheader-font-color) {
	color: $font-color;
}