// ==========================================================================
// THEME - COLORS - lv
// =========================================================================

//
// Here, we list all of the colors to be used in the lv theme.
//

//
// COLOR NAMES
// ==========================================================================

// PRIMARIES - LITERALS
$_lv-blue:					#00A9DF;

// SECONDARIES - LITERALS
$_lime-green:				#A4C740; // Not being used
$_shamrock-green:			#34BF90;
$_brick-red:				#EF5B41;
$_sunshine-yellow:			#FFD00A; // Not being used
$_fountain-blue:			#5AC4C6;
$_carrot-orange:			#F5A623;
$_electric-purple:			#BD10E0;

// NEUTRALS - LITERALS
$_true-white: 				#FFFFFF;
$_off-white: 				#F1F1F1;
$_light-grey: 				#E6E6E6;
$_medium-grey: 				#CCCCCC;
$_dark-grey: 				#9C9C9C;
$_off-black: 				#444444;
$_true-black: 				#000000;

// MUTES - LITERALS
$_lv-blue-mute:				#007AA3;
$_cerulean-blue-mute:		#127C99;
$_shamrock-green-mute:		#299772;
$_brick-red-mute:			#E93414;
$_fountain-blue-mute:		#3DAEB0;
$_carrot-orange-mute:		#DB8C0A;


// PASTELS - LITERALS
$_lv-blue-pastel:			#F2FAFD;
$_cerulean-blue-pastel:		#E1F1F5;
$_shamrock-green-pastel:	#EFFAF6;
$_brick-red-pastel:			#FFF9F8;
$_fountain-blue-pastel:		#F0F9F9;
$_carrot-orange-pastel:		#FFF8EE;

//
// MAPPINGS - CONTEXTUALS
// ==========================================================================

$primary-color: 			$_lv-blue;
$secondary-color: 			$_off-white;
$tertiary-color: 			$_medium-grey;
$action-color: 				$_electric-purple;

$success-color: 			$_shamrock-green;
$alert-color: 				$_brick-red;
$info-color: 				$_fountain-blue;
$warning-color: 			$_carrot-orange;

$primary-pastel-color: 		$_lv-blue-pastel;
$secondary-pastel-color: 	#FFFFFF;
$success-pastel-color: 		$_shamrock-green-pastel;
$alert-pastel-color: 		$_brick-red-pastel;
$info-pastel-color: 		$_fountain-blue-pastel;
$warning-pastel-color: 		$_carrot-orange-pastel;

$primary-mute-color: 		$_lv-blue-mute;
$secondary-mute-color: 		#D8D8D8;
$success-mute-color: 		$_shamrock-green-mute;
$alert-mute-color: 			$_brick-red-mute;
$info-mute-color: 			$_fountain-blue-mute;
$warning-mute-color: 		$_carrot-orange-mute;

// NEUTRALS - CONTEXTUALS
$true-white: 				$_true-white;
$off-white: 				$_off-white;
$light-grey: 				$_light-grey;
$medium-grey: 				$_medium-grey;
$dark-grey: 				$_dark-grey;
$off-black: 				$_off-black;
$true-black: 				$_true-black;
$ghost-text-color: 			$_true-white;