// ==========================================================================
// THEME - GLOBALS - lv
// =========================================================================

//
// Here, we list all of the global theme variables to be used in the
// lv theme.
//

// Global vars go here.

$global-radius: 0.25rem;
$body-font-family: Arial, Helvetica, sans-serif;
$body-font-size: rem-calc(14);