// We use this mixin to give us form styles for rows inside of forms
@mixin form-row-base {

	.row {

		margin: 0 ((-$form-spacing) / 2);

		.column,
		.columns {
			padding: 0 ($form-spacing / 2);
		}

		// Use this to collapse the margins of a form row
		&.collapse {

			margin: 0;

			.column,
			.columns {
				padding: 0;
			}
		}
	}

	// 
	// TODO
	// We should be able to eliminate this.
	// 
	input.column,
	input.columns,
	textarea.column,
	textarea.columns {
		padding-#{$default-float}: ($form-spacing / 2);
	}
}
