// We use this mixin to create postfix/prefix form Labels
@mixin affix-base(
	$border-style:	$input-affix-border-type,
	$border-width:	$input-affix-border-size,
	$overflow:		$input-affix-overflow,
	$font-size:		$form-label-font-size,
	$spacing:		$form-spacing,
	$border-radius:	$affix-border-radius
	) {

	$height: ($input-font-size + ($spacing * 1.5) - rem-calc(1));

	display: block;

	border-style: $border-style;
	border-width: $border-width;
	border-radius: $border-radius;

	font-size: $font-size;
	line-height: $height;
	text-align: center;

	height: $height;
	width: 100%;
	overflow: $overflow;
	padding-bottom: 0;
	padding-top: 0;
	position: relative;

	//
	// TODO: wut.
	// 
	z-index: 2;
}