@mixin affix-button-base(
	$font-size:		$button-font-size,
	$border-width:	$button-border-width) {

	@if ($font-size) {
		font-size: $font-size;
	}

	@if ($border-width) {
		border-width: $border-width;
	}
}