@mixin affix-styles(
	$border-color: 	$input-affix-border-color,
	$bg-color:		$input-affix-bg,
	$font-style:	$input-affix-font-style,
	$font-color:	false) {

	@if ($bg-color) {
		font-style: $input-affix-font-style;
	}
	@if ($bg-color) {
		$bg-lightness: lightness($bg-color);
		background: $bg-color;

		@if (not $font-color) {
			// 
			// Control the font color based on background brightness
			// 
			// TODO: why the special yellow check? why not pink?
			// 
			@if ($bg-lightness > 70% or $bg-color == yellow) {
				color: $input-affix-font-color;
			}
			@else {
				color: $input-affix-font-color-alt;
			}
		}
	}

	@if ($font-color) {
		color: $font-color;
	}

	@if ($border-color) {
		border-color: $border-color;
	}
}

@mixin affix-border-override($type) {
	$side: "";
	
	@if ($type == "prefix") {
		$side: $opposite-direction;
	} @else if ($type == "postfix") {
		$side: $default-float;
	} @else {
		@error "Invalid value for arg $type. Expected either \"prefix\" or \"postfix\" but received " + $type;
	}

	border-#{$side}: none;
}

@mixin affix-select-base(
	$font-size:	false,
	$font-style: false,
	$border-left-width: false) {

	@if ($font-size) {
		font-size: $font-size;
	}
	@if ($font-style) {
		font-style: $font-style;
	}
	@if ($border-left-width) {
		border-left-width: $border-left-width;
	}
}

@mixin affix-radius-override($type) {

	$side: "";
	
	@if ($type == "prefix") {
		$side: $opposite-direction;
	} @else if ($type == "postfix") {
		$side: $default-float;
	} @else {
		@error "Invalid value for arg $type. Expected either \"prefix\" or \"postfix\" but received " + $type;
	}

	border-top-#{$side}-radius: 0;
	border-bottom-#{$side}-radius: 0;
}