@mixin select-button-base(
	$pip-side: $select-button-pip-side,
	$pip-offset: $select-button-pip-offset) {

	width: auto;
	height: auto;

	// Setting Pip
	background-origin: content-box;
	background-position: $pip-side ($pip-offset * -1) center;	
}