// ==========================================================================
// LV FOUNDATION - tabs
// =========================================================================

//
// Here, we define custom CSS-declaration overrides for Foundation's built-in
// tabs component.
//

//
// CSS DECLARATIONS
// ==========================================================================

@if $include-lv-html-tabs-classes {

	$render-full-border: $tabs-navigation-full-border-color and $tabs-navigation-full-border-width;

	.tabs {
		@include clearfix;
		margin-bottom: 0;
		margin-left: 0;

		@if $render-full-border {
			border-bottom: $tabs-navigation-full-border-width solid $tabs-navigation-full-border-color;
		}

		.tab-title {
			float: $default-float;
			list-style: none;
			margin-bottom: 0;
			position: relative;

			@if $tabs-navigation-margin != 0 {
				margin-#{$opposite-direction}: $tabs-navigation-margin;
				&:last-child {
					margin-#{$opposite-direction}: 0;
				}
			}

			> a, > button {

				@include reset-button;
				border-radius: 0;
				display: block;
				line-height: 100%;
				
				background-color: $tabs-navigation-bg-color;
				color: $tabs-navigation-font-color;
				font-family: $tabs-navigation-font-family;
				font-size: $tabs-navigation-font-size;
				text-decoration: $tabs-navigation-text-decoration;

				@include tab-padding(
					$padding-Y: $tabs-navigation-padding-Y,
					$padding-X: $tabs-navigation-padding-X,
					$border-width: $tabs-navigation-border-width,
					$border-position: $tabs-navigation-border-position
				);

				@if $tabs-navigation-border-color and $tabs-navigation-border-width {
					@include tab-border(
						$width: $tabs-navigation-border-width,
						$color: $tabs-navigation-border-color,
						$position: $tabs-navigation-border-position
					);
				}

				&:hover {
					background-color: $tabs-navigation-hover-bg-color;

					@if $tabs-navigation-hover-text-decoration {
						text-decoration: $tabs-navigation-hover-text-decoration;
					}
					
					@if $tabs-navigation-hover-font-color {
						color: $tabs-navigation-hover-font-color;
					}

					@if $tabs-navigation-hover-border-color {
						border-color: $tabs-navigation-hover-border-color;
					}
				}
			}

			&.active a, &.active button {
				background-color: $tabs-navigation-active-bg-color;
				color: $tabs-navigation-active-font-color;

				@if $tabs-navigation-active-text-decoration {
					text-decoration: $tabs-navigation-active-text-decoration;
				}

				@if $tabs-navigation-active-border-color {
					border-color: $tabs-navigation-active-border-color;
				}
			}
		}

		&.vertical {
			float: none;
			margin: 0;
			margin-bottom: $tabs-vertical-navigation-margin-bottom;
			display: block;
			width: 100%;

			// If full-border set, unset it
			@if $render-full-border {
				border-bottom: 0;
			}

			.tab-title {
				margin-#{$opposite-direction}: 0;
				position: inherit;
				float: none;
				display: block;
				top: auto;

				@if $tabs-navigation-vertical-margin > 0 {
					margin-bottom: $tabs-navigation-vertical-margin;
				}

				// If vertical border position is specified and it is different than that which exists
				// already for horizontal borders, then we need to redeclare vertical borders
				$declare-vertical-borders: false;
				@if $tabs-navigation-vertical-border-position and
					$tabs-navigation-vertical-border-position != $tabs-navigation-border-position {
						$declare-vertical-borders: true;
					}

				@if $declare-vertical-borders {
					> a, > button {

						@include tab-padding(
							$padding-Y: $tabs-navigation-vertical-padding-Y,
							$padding-X: $tabs-navigation-vertical-padding-X,
							$border-width: $tabs-navigation-vertical-border-width,
							$border-position: $tabs-navigation-vertical-border-position
						);

						// Unset horizontal borders
						border-#{$tabs-navigation-border-position}: none;

						// Declare vertical borders
						@if $tabs-navigation-vertical-border-color and $tabs-navigation-vertical-border-width {
							@include tab-border(
								$width: $tabs-navigation-vertical-border-width,
								$color: $tabs-navigation-vertical-border-color,
								$position: $tabs-navigation-vertical-border-position
							);
						}

						&:hover {
							@if $tabs-navigation-vertical-hover-border-color {
								border-color: $tabs-navigation-vertical-hover-border-color;
							}
						}
					}

					&.active > a, &.active > button {
						@if $tabs-navigation-vertical-active-border-color {
							border-color: $tabs-navigation-vertical-active-border-color;
						}
					}
				}
			}
		}
	}

	@include ghost('.tabs') {

		.tab-title {
			> a, 
			> button {
				background-color: $tabs-navigation-bg-color-ghost;
				color: $tabs-navigation-text-color-ghost;
				opacity: 0.7;

				&:hover {
					background-color: $tabs-navigation-bg-color-ghost;
					color: $tabs-navigation-text-color-ghost;
					opacity: 0.9;
				}
			}

			&.active > a, 
			&.active > button {
				background-color: $tabs-navigation-bg-color-ghost;
				color: $tabs-navigation-text-color-ghost;
				border-color: $tabs-navigation-border-color-ghost;
				opacity: 1.0;
			}
			&.vertical {
				&.active > a, 
				&.active > button {
					border-color: $tabs-navigation-border-color-ghost;
				}
			}
		}
		border-color: $tabs-navigation-border-bottom-color-ghost;
	}
}