// ==========================================================================
// LV FOUNDATION - tabs
// =========================================================================

//
// Here, we define custom CSS-declaration overrides for Foundation's built-in
// tabs.
//

//
// FOUNDATION DEFAULTS
// ==========================================================================

$tabs-navigation-padding:			rem-calc(16) 											!default;
$tabs-navigation-bg-color:			transparent												!default;
$tabs-navigation-active-bg-color:	transparent 											!default;
$tabs-navigation-hover-bg-color:	scale-color($tabs-navigation-bg-color, $lightness: -6%) !default;
$tabs-navigation-font-color:		$dark-grey												!default;
$tabs-navigation-active-font-color: $true-black					 							!default;
$tabs-navigation-font-size: 		rem-calc(14) 											!default;
$tabs-navigation-font-family: 		$body-font-family 										!default;

$tabs-content-margin-bottom: rem-calc(24) !default;
$tabs-content-padding: ($column-gutter/2) !default;

$tabs-vertical-navigation-margin-bottom: 1.25rem !default;

//
// GHOSTING DEFAULTS
// ==========================================================================

$tabs-navigation-bg-color-ghost:			transparent 					!default;
$tabs-navigation-text-color-ghost:			$ghost-text-color 				!default;
$tabs-navigation-border-color-ghost:		$true-white 					!default;
$tabs-navigation-border-bottom-color-ghost: rgba($ghost-text-color, 0.3) 	!default;

//
// THEMING DEFAULTS
// ==========================================================================

$tabs-navigation-border-position:	bottom		!default;
$tabs-navigation-border-color:		transparent	!default;
$tabs-navigation-border-width:		rem-calc(4)	!default;
$tabs-navigation-text-decoration:	none	 	!default;

$tabs-navigation-full-border-color: $light-grey	!default;
$tabs-navigation-full-border-width: false		!default;

$tabs-navigation-vertical-border-position: 	left								!default;
$tabs-navigation-vertical-border-color: 	$tabs-navigation-border-color		!default;
$tabs-navigation-vertical-border-width: 	$tabs-navigation-border-width		!default;


$tabs-navigation-hover-border-color: 	false			!default;
$tabs-navigation-active-border-color: 	$primary-color 	!default;

$tabs-navigation-vertical-hover-border-color: 	$tabs-navigation-hover-border-color 	!default;
$tabs-navigation-vertical-active-border-color: 	$tabs-navigation-active-border-color 	!default;

$tabs-navigation-hover-font-color: $info-color !default;

$tabs-navigation-margin: 				1rem							!default;
$tabs-navigation-vertical-margin: 		0 								!default;
$tabs-navigation-padding-Y: 			0.875rem				 		!default;
$tabs-navigation-padding-X: 			0.625rem					 	!default;
$tabs-navigation-vertical-padding-Y:	$tabs-navigation-padding-X 		!default;
$tabs-navigation-vertical-padding-X:	$tabs-navigation-padding-Y 		!default;

$tabs-navigation-hover-text-decoration: 	none 									!default;
$tabs-navigation-active-text-decoration: 	$tabs-navigation-hover-text-decoration 	!default;