// ==========================================================================
// LV-FOUNDATION - MIXINS - notification-base
// ==========================================================================

// 
// We use this mixin to supply base properties to an notification component.
// 

@mixin notification-box-base {

	// BORDERS
	@if ($notification-border) {
		border-style: $notification-border-style;
		border-width: $notification-border-width;
	}
	@if ($notification-border-radius) {
		border-radius: $notification-border-radius;
	}

	// FONT
	font-size: $notification-font-size;
	font-weight: $notification-font-weight;

	// SIZING
	padding: $notification-padding-top $notification-padding-opposite-direction $notification-padding-bottom $notification-padding-default-float;
	display: block;

	// POSITIONING
	position: relative;
	margin-bottom: $notification-bottom-margin;

	@include single-transition(opacity, $notification-transition-speed, $notification-transition-ease);
}

@mixin alert-box-base($args...) {
	@include deprecate-mixin("alert-box-base", $preferred: "notification-box-base");
	@include notification-box-base($args...);
}

@mixin alert-base($args...) {
	@include deprecate-mixin("alert-base", $preferred: "notification-box-base");
	@include notification-box-base($args...);
}