@mixin notification-heading-selector() {
	> h1,
	> h2,
	> h3,
	> h4,
	> h5,
	> h6 {
		@content;
	}
}

@mixin notification-banner-base() {
	@extend %card;
	@include reset-child-margins();
}

@mixin notification-banner-standalone-base(
	$padding:		$notification-banner-standalone-padding,
	$text-align:	$notification-banner-standalone-text-align) {

	text-align: $text-align;
	padding: $padding;
}

@mixin notification-banner-standalone-component-spacing(
	$max-width:		$notification-banner-standalone-max-width,
	$margin-bottom: $notification-banner-standalone-component-spacing) {

	margin-bottom: $margin-bottom;	
	margin-left: auto;
	margin-right: auto;
	max-width: $max-width;
}

@mixin notification-banner-standalone-heading-base(
	$font-weight:	$notification-banner-standalone-heading-font-weight,
	$reset-margin:	true) {

	font-weight: $font-weight;
	@if ($reset-margin) {
		margin-top: 0;
	}
}

@mixin notification-banner-standalone-icon-base(
	$font-size:		$notification-banner-standalone-icon-font-size,
	$font-size-med:	$notification-banner-standalone-icon-font-size-medium,
	$line-height:	$notification-banner-standalone-icon-line-height) {

	font-size: $font-size;
	line-height: $line-height;

	@media #{$medium-up} {
		font-size: $font-size-med;
	}
}

@mixin notification-banner-insert-base(
	$padding-horiz:			$notification-banner-insert-padding-horiz,
	$padding-vert:			$notification-banner-insert-padding-vert) {

	position: relative;
	padding: $padding-vert $padding-horiz;
}

@mixin notification-banner-insert-icon-base(
	$line-height:	$notification-banner-insert-icon-line-height,
	$padding-horiz: $notification-banner-insert-padding-horiz) {

	text-align: center;
	position: absolute;
	line-height: $line-height;
	left: $padding-horiz;
}

@mixin notification-banner-insert-size(
	$icon-font-size: 	$notification-banner-insert-icon-font-size,
	$padding-horiz:		$notification-banner-insert-padding-horiz) {

	padding-left: $padding-horiz * 2 + $icon-font-size;

	> .icon {
		font-size: $icon-font-size;
	}
}

@mixin notification-banner-heading-styles(
	$color: false) {

	@if ($color) {
		color: $color;
	}
}

@mixin notification-banner-icon-styles(
	$color:			false,
	$glyph-name:	false) {
	
	@if ($color) {
		color: $color;
	}
	@include icon-codepoint-content($glyph-name);
}

@mixin alert-heading-selector($args...) {
	@include deprecate-mixin("alert-heading-selector", $preferred: "notification-heading-selector");
	@include notification-heading-selector($args...);
}

@mixin alert-banner-base($args...) {
	@include deprecate-mixin("alert-heading-selector", $preferred: "notification-banner-base");
	@include notification-banner-base($args...);
}

@mixin alert-banner-standalone-base($args...) {
	@include deprecate-mixin("alert-banner-standalone-base", $preferred: "notification-banner-standalone-base");
	@include notification-banner-standalone-base($args...);
}

@mixin alert-banner-standalone-component-spacing($args...) {
	@include deprecate-mixin("alert-banner-standalone-component-spacing", $preferred: "notification-banner-standalone-component-spacing");
	@include notification-banner-standalone-component-spacing($args...);
}

@mixin alert-banner-standalone-heading-base($args...) {
	@include deprecate-mixin("alert-banner-standalone-heading-base", $preferred: "notification-banner-standalone-heading-base");
	@include notification-banner-standalone-heading-base($args...);
}

@mixin alert-banner-standalone-icon-base($args...) {
	@include deprecate-mixin("alert-banner-standalone-icon-base", $preferred: "notification-banner-standalone-icon-base");
	@include notification-banner-standalone-icon-base($args...);
}

@mixin alert-banner-insert-base($args...) {
	@include deprecate-mixin("alert-banner-insert-base", $preferred: "notification-banner-insert-base");
	@include notification-banner-insert-base($args...);
}

@mixin alert-banner-insert-icon-base($args...) {
	@include deprecate-mixin("alert-banner-insert-icon-base", $preferred: "notification-banner-insert-icon-base");
	@include notification-banner-insert-icon-base($args...);
}

@mixin alert-banner-insert-size($args...) {
	@include deprecate-mixin("alert-banner-insert-size", $preferred: "notification-banner-insert-size");
	@include notification-banner-insert-size($args...);
}

@mixin alert-banner-heading-styles($args...) {
	@include deprecate-mixin("alert-banner-heading-styles", $preferred: "notification-banner-heading-styles");
	@include notification-banner-heading-styles($args...);
}

@mixin alert-banner-icon-styles($args...) {
	@include deprecate-mixin("alert-banner-icon-styles", $preferred: "notification-banner-icon-styles");
	@include notification-banner-icon-styles($args...);
}