// ==========================================================================
// LV-FOUNDATION - MIXINS - notification-style
// ==========================================================================

// 
// We use this mixin to add notification styles.
// 

// @param {Color} $bg			The background-color for the notification
// 
// @param {Color} $font-color	The font-color used in the notification.
// 		  {Booelan}				If false, indicates that no font-color should
// 		  							be set
// 									
// @param {Color} $border-color	The border-color used on the notification
// 		  {Booelan}				If false, an indication that no border-color
// 		  						should be set.

@mixin notification-box-style(
	$bg:			$primary-color,
	$font-color:	false,
	$border-color: 	false
) {
	
	// BACKGROUND COLOR
	background-color: $bg;

	// BORDER-COLOR
	@if ($notification-border) {
		@if ($border-color) {
			border-color: $border-color;
		} @else {
			border-color: scale-color($bg, $lightness: $notification-function-factor);
		}
	}

	// FONT-COLOR
	// If not explicitly provided, font-color will be determined based on the
	// lightness of the background-color
	@if ($font-color) {
		color: $font-color;
	} @else if (lightness($bg) > 70%) {
		color: $notification-font-color-alt;
	} @else {
		color: $notification-font-color;
	}
}

@mixin notification-style(
	$bg: 			$primary-color,
	$font-color: 	false,
	$border-color: 	false) {

	@include notification-box-style(
		$bg: 			$bg,
		$font-color: 	$font-color,
		$border-color: 	$border-color
	);
}

@mixin alert-box-style($args...) {
	@include deprecate-mixin("alert-box-style", $preferred: "notification-box-style");
	@include notification-box-style($args...);
}

@mixin alert-style($args...) {
	@include deprecate-mixin("alert-style", $preferred: "notification-style");
	@include notification-style($args...);
}