// ==========================================================================
// LV-FOUNDATION - MIXINS - notification-close
// ==========================================================================

// 
// We use this mixin to supply styles to the close button.
// 

@mixin notification-close {
	
	// POSITIONING
	// Sets float direction based on LTR (or RTL) configuration of theme.
	#{$opposite-direction}: $notification-close-position;
	margin-top: -($notification-close-font-size / 2);
	position: absolute;
	top: $notification-close-top;

	// COLORS
	background: $notification-close-background;
	@if ($notification-close-color) {
		color: $notification-close-color;
	}

	// SIZING
	padding: $notification-close-padding;

	// TEXT
	font-size: $notification-close-font-size;
	line-height: $notification-close-line-height;
	text-decoration: $notification-close-text-decoration;

	// STATE
	opacity: $notification-close-opacity;
	&:hover,
	&:focus {
		opacity: $notification-close-opacity-hover;
	}
	&:hover {
		text-decoration: $notification-close-text-decoration-hover;
	}
}

@mixin alert-close($args...) {
	@include deprecate-mixin("alert-close", $preferred: "notification-close");
	@include notification-close($args...);
}