// ==========================================================================
// LV FOUNDATION - loading-indicators
// ==========================================================================

//
// Here, we define custom CSS-declaration overrides for Foundation's built-in
// loading-indicators component.
//

//
// CSS DECLARATIONS
// ==========================================================================

@if ($include-lv-html-loading-indicators-classes) {

	@include loading-indicator-animations();

	.loading-indicator {
		@include loading-indicator-base();
		@include loading-indicator-size();
		@include loading-indicator-styles();

		&.tiny {
			@include loading-indicator-size(
				$multiplier: $load-ind-tiny-multiplier
			);
		}

		&.small {
			@include loading-indicator-size(
				$multiplier: $load-ind-small-multiplier
			);
		}

		// Default - no additional properties required
		// &.medium {}

		&.large {
			@include loading-indicator-size(
				$multiplier: $load-ind-large-multiplier
			);
		}

		&.xlarge {
			@include loading-indicator-size(
				$multiplier: $load-ind-xlarge-multiplier
			);
		}
	}
		
	@include ghost('.loading-indicator') {
		@include loading-indicator-styles(
			$outer-color: $load-ind-ring-ghost-outer-color, 
			$inner-color: $load-ind-ring-ghost-inner-color
		);
	}
}