// ==========================================================================
// LV FOUNDATION - loading-indicators
// ==========================================================================

//
// Here, we define default values for used to generate CSS for LV-Foundation's
// loading-indicators component.
//

//
// THEMING DEFAULTS
// ==========================================================================

// 
// DIMENSIONS
// 
$load-ind-base-font-size: 1rem !default;
$load-ind-side: 4rem !default;

// 
// ANIMATIONS
// 
$load-ind-animation-duration: 1250ms !default;
$load-ind-animation-timing: linear !default;

// 
// RINGS
// 
$load-ind-ring-thickness: 0.25rem !default;
$load-ind-ring-buffer: 0.375rem !default;
$load-ind-ring-outer-color: #006FBF !default;
$load-ind-ring-inner-color: #2BADBF !default;

// 
// SIZE VARIANTS
// 
$load-ind-tiny-multiplier: 0.5 !default;
$load-ind-small-multiplier: 0.75 !default;
$load-ind-large-multiplier: 1.25 !default;
$load-ind-xlarge-multiplier: 1.5 !default;

//
// GHOST COLORS
//
$load-ind-ring-ghost-outer-color: false !default;
$load-ind-ring-ghost-inner-color: false !default;