// ==========================================================================
// LV FOUNDATION - DECLARATIONS - notification-boxes
// ==========================================================================

// 
// Below we declare all properties referring to the `notification-box` component.
// 

@if $include-lv-html-notification-classes {

	.notification-box {

		// Base Properties
		// ==================================================================
		
		@include notification-box;

		// 
		// Default styles use .info properties
		// 
		@include notification-box-style(
			$bg: $notification-info-bg-color,
			$font-color: $notification-info-color
		);

		// Managing state for hide/show
		&.notification-close {
			opacity: 0;
		}

		// Close-button as child element
		.close {
			@include notification-close;
		}

		// Contextual Variants
		// ==================================================================

		&.success {
			@include notification-box-style(
				$bg: $notification-success-bg-color,
				$font-color: $notification-success-color
			);
		}

		&.alert {
			@include notification-box-style(
				$bg: $notification-alert-bg-color,
				$font-color: $notification-alert-color
			);
		}

		&.warning {
			@include notification-box-style(
				$bg: $notification-warning-bg-color,
				$font-color: $notification-warning-color
			);
		}

		// 
		// Note - .info class not necessary here as this variation is offered
		// as the default.
		// 
	}

	.alert-box {
		@extend .notification-box;
	}
}