// ==========================================================================
// LV FOUNDATION - DECLARATIONS - notification-boxes
// ==========================================================================

// 
// Below we declare all properties referring to the `notification-box` component.
// 

@if $include-lv-html-notification-classes {

	.notification-banner {

		@include notification-banner-base();

		&.standalone {

			@include notification-banner-standalone-base();

			%notification-banner-standalone-spacing {
				@include notification-banner-standalone-component-spacing();
			}

			> .icon {
				@include notification-banner-standalone-icon-base();
				@extend %notification-banner-standalone-spacing;
			}

			> p {
				@extend %notification-banner-standalone-spacing;
			}

			@include notification-heading-selector() {
				@include notification-banner-standalone-heading-base();
				@extend %notification-banner-standalone-spacing;
			}
		}

		&.insert {

			@include notification-banner-insert-base();	
			@include notification-banner-insert-size();

			@media #{$medium-up} {
				@include notification-banner-insert-size(
					$icon-font-size: $notification-banner-insert-icon-font-size-medium
				);
			}

			> .icon {
				@include notification-banner-insert-icon-base();
			}
		}

		&.success {
			@include notification-heading-selector() {
				@include notification-banner-heading-styles(
					$color: $notification-banner-color-success
				);
			}

			> .icon {
				@include notification-banner-icon-styles(
					$color: 		$notification-banner-color-success,
					$glyph-name: 	$notification-banner-icon-success
				);
			}
		}

		&.alert {
			@include notification-heading-selector() {
				@include notification-banner-heading-styles(
					$color: $notification-banner-color-alert
				);
			}

			> .icon {
				@include notification-banner-icon-styles(
					$color: 		$notification-banner-color-alert,
					$glyph-name: 	$notification-banner-icon-alert
				);
			}
		}

		&.warning {
			@include notification-heading-selector() {
				@include notification-banner-heading-styles(
					$color: $notification-banner-color-warning
				);
			}

			> .icon {
				@include notification-banner-icon-styles(
					$color: 		$notification-banner-color-warning,
					$glyph-name: 	$notification-banner-icon-warning
				);
			}
		}

		&.info {
			@include notification-heading-selector() {
				@include notification-banner-heading-styles(
					$color: $notification-banner-color-info
				);
			}

			> .icon {
				@include notification-banner-icon-styles(
					$color: 		$notification-banner-color-info,
					$glyph-name: 	$notification-banner-icon-info
				);
			}
		}
	}

	.alert-banner {
		@extend .notification-banner;
	}
}