//
// CONSTANTS
// ==========================================================================

$SQRT2: 1.41421356237;

//
// FOUNDATION GLOBALS
// ==========================================================================

$namespace: false !default;

// Since the typical default browser font-size is 16px, that makes the calculation for grid size.
// If you want your base font-size to be different and not have it affect the grid breakpoints,
// set $rem-base to $base-font-size and make sure $base-font-size is a px value.
$base-font-size: 100% !default;

// $base-line-height is 24px while $base-font-size is 16px

$base-line-height: 1.5 !default;

//
// COLORS
// ==========================================================================

// CONTEXTUALS - We use these as default colors throughout
$primary-color: 			#008CBA !default;	// bondi-blue
$secondary-color: 			#E7E7E7 !default; 	// white-lilac
$alert-color: 				#F04124 !default;	// cinnabar
$success-color: 			#43AC6A !default;	// sea-green
$warning-color: 			#F08A24 !default; 	// carrot
$info-color: 				#A0D3E8 !default;	// cornflower

// NEUTRALS - CONTEXTUALS
$true-white: 				#FFFFFF !default;
$off-white: 				#F1F1F1 !default;
$light-grey: 				#E6E6E6 !default;
$medium-grey: 				#CCCCCC !default;
$dark-grey: 				#9C9C9C !default;
$off-black: 				#444444 !default;
$true-black: 				#000000 !default;

$ghost-text-color: 			#FFFFFF !default;

// PASTELS - CONTEXTUALS
$primary-pastel-color: 		lighten($primary-color, 10%) 	!default;
$secondary-pastel-color: 	lighten($secondary-color, 10%) 	!default;
$success-pastel-color: 		lighten($success-color, 10%) 	!default;
$alert-pastel-color: 		lighten($alert-color, 10%) 		!default;
$info-pastel-color: 		lighten($info-color, 10%) 		!default;
$warning-pastel-color: 		lighten($warning-color, 10%) 	!default;

// MUTES - CONTEXTUALS
$primary-mute-color: 		darken($primary-color, 10%) 	!default;
$secondary-mute-color: 		darken($secondary-color, 10%) 	!default;
$success-mute-color: 		darken($success-color, 10%) 	!default;
$alert-mute-color: 			darken($alert-color, 10%) 		!default;
$info-mute-color: 			darken($info-color, 10%) 		!default;
$warning-mute-color: 		darken($warning-color, 10%) 	!default;

// We use these to define default font stacks
$font-family-sans-serif: 	"Helvetica Neue", Helvetica, Roboto, Arial, sans-serif 	!default;
$font-family-serif: 		Georgia, Cambria, "Times New Roman", Times, serif 		!default;
$font-family-monospace: 	Consolas, "Liberation Mono", Courier, monospace 		!default;

// We use these to define default font weights
$font-weight-normal: 		normal 	!default;
$font-weight-bold: 			bold 	!default;

// We use these to control various global styles
$body-bg: 			#FFF 					!default;
$body-font-color: 	#222 					!default;
$body-font-family: 	$font-family-sans-serif !default;
$body-font-weight: 	$font-weight-normal 	!default;
$body-font-style: 	normal 					!default;

// We use this to control font-smoothing
$font-smoothing: antialiased !default;

// We use these to control text direction settings
$text-direction: 		ltr 	!default;
$default-float: 		left 	!default;
$opposite-direction: 	right 	!default;
@if $text-direction == ltr {
	$default-float: left;
	$opposite-direction: right;
} @else {
	$default-float: right;
	$opposite-direction: left;
}

// We use these tomake sure border radius matches unless we want it different.
$global-radius: 	3px 	!default;
$global-rounded: 	1000px 	!default;

// We use these to control inset shadow shiny edges and depressions.
$shiny-edge-size: 			0 1px 0 		!default;
$shiny-edge-color: 			rgba(#FFF, .5) 	!default;
$shiny-edge-active-color: 	rgba(#000, .2) 	!default;

$column-gutter: 			rem-calc(30) !default;

// Media Query Ranges
$small-breakpoint:			em-calc(640)	!default;
$medium-breakpoint: 		em-calc(1024) 	!default;
$large-breakpoint:			em-calc(1440) 	!default;
$xlarge-breakpoint: 		em-calc(1920) 	!default;

$small-range:	 	(0, $small-breakpoint) 									!default;
$medium-range:		($small-breakpoint	+ em-calc(1), $medium-breakpoint) 	!default;
$large-range:	 	($medium-breakpoint + em-calc(1), $large-breakpoint)	!default;
$xlarge-range:		($large-breakpoint	+ em-calc(1), $xlarge-breakpoint) 	!default;
$xxlarge-range: 	($xlarge-breakpoint + em-calc(1), em-calc(99999999)) 	!default;

$screen: "only screen" !default;

$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait: "#{$screen} and (orientation: portrait)" !default;

$small-up: $screen !default;
$small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})" !default;

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})" !default;
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})" !default;

$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})" !default;
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})" !default;

$xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})" !default;
$xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})" !default;

$xxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})" !default;
$xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})" !default;

$retina: (
	"#{$screen} and (-webkit-min-device-pixel-ratio: 2)",
	"#{$screen} and (min--moz-device-pixel-ratio: 2)",
	"#{$screen} and (-o-min-device-pixel-ratio: 2/1)",
	"#{$screen} and (min-device-pixel-ratio: 2)",
	"#{$screen} and (min-resolution: 192dpi)",
	"#{$screen} and (min-resolution: 2dppx)"
);

// Legacy
$small: 	$small-up;
$medium: 	$medium-up;
$large: 	$large-up;


//We use this as cursors values for enabling the option of having custom cursors in the whole site's stylesheet
$cursor-auto-value: 		auto 		!default;
$cursor-crosshair-value: 	crosshair 	!default;
$cursor-default-value: 		default 	!default;
$cursor-disabled-value: 	not-allowed !default;
$cursor-pointer-value: 		pointer 	!default;
$cursor-help-value: 		help 		!default;
$cursor-text-value: 		text 		!default;