// ==========================================================================
// LV FOUNDATION - icons
// ==========================================================================

//
// Here, we define custom CSS-declaration overrides for Foundation's built-in
// icons component.
//

//
// CSS DECLARATIONS
// ==========================================================================

@if ($include-lv-html-icons-classes) {
	// CSS goes here.

	.icon {
		@include icon-base-styles();
	}

	button,
	.button {
		.icon {
			@include icon-namespace-button();	
		}
	}

	.reset-button {
		.icon {
			@include icon-reset-button();	
		}
	}

	@include icon-entries(
		$codepoints: $icon-codepoints,
		$glyph-names: $icon-glyph-names
	);
}