// ==========================================================================
// LV FOUNDATION - icons
// ==========================================================================

//
// Here, we define default values for used to generate CSS for LV-Foundation's
// icons component.
//

//
// THEMING DEFAULTS
// ==========================================================================

$icon-font-family-name: false !default;

$icon-glyph-names: false !default;
$icon-codepoints: false !default;

$icon-font-config: false !default;

$icon-ghost-color: $true-white !default;