$theme-name: "default" !default;

$include-html-classes: false !default;

//
// CUSTOM HIGH-LEVEL DEFAULTS
//
// Setting defaults to be referenced later at the component-level.
//
$include-lv-html-classes: 			$include-html-classes !default;
$include-lv-font-face-declarations: $include-html-classes !default;

// 
// FOUNDATION HIGH-LEVEL DEFAULTS
// 
$include-print-styles: 				false !default;
$include-js-meta-styles: 			false !default;

//
// OVERRIDE EXCLUSIONS
//
// Including CSS declarations for cwqustom LV-specific overrides of foundation
// components.
$include-lv-html-top-level-classes:		$include-lv-html-classes !default;
$include-lv-html-notification-classes:	$include-lv-html-classes !default;
$include-lv-html-button-classes:		$include-lv-html-classes !default;
$include-lv-html-grid-classes:			$include-lv-html-classes !default;
$include-lv-html-block-grid-classes:	$include-lv-html-classes !default;
$include-lv-html-form-classes:			$include-lv-html-classes !default;
$include-lv-html-label-classes:			$include-lv-html-classes !default;
$include-lv-html-tabs-classes:			$include-lv-html-classes !default;
$include-lv-html-tables-classes:		$include-lv-html-classes !default;
$include-lv-html-type-classes:			$include-lv-html-classes !default;
$include-lv-html-visibility-classes:	$include-lv-html-classes !default;

//
// CUSTOM INCLUSIONS
//
// Including CSS declarations for LV-proprietary components that do NOT ship
// with Foundation.
//
$include-lv-html-select-button-classes:			$include-lv-html-classes !default;
$include-lv-html-keyval-charts-classes:			$include-lv-html-classes !default;
$include-lv-html-utility-classes:				$include-lv-html-classes !default;
$include-lv-html-card-classes: 					$include-lv-html-classes !default;
$include-lv-html-tooltip-classes: 				$include-lv-html-classes !default;
$include-lv-html-modals-classes:				$include-lv-html-classes !default;
$include-lv-html-icons-classes:					$include-lv-html-classes !default;
$include-lv-html-loading-indicators-classes:	$include-lv-html-classes !default;
$include-lv-html-navigation-classes:			$include-lv-html-classes !default;

//
// SUB-COMPONENT INCLUSIONS
//
// Including CSS declarations for LV-proprietary sub-components that do NOT ship
// with Foundation, but that are directly associated with another component who
// that may or may not ship with Foundation.
//
// By default, these inclusion settings will be set to the value of their parent
// component's inclusion setting.
//
$include-lv-html-multi-control-classes: $include-lv-html-form-classes !default;

// 
// DEPRECATED SETTING MAPPINGS
//
$include-html-block-grid-classes:				false !default;
$include-html-visibility-classes:				false !default;
$include-html-grid-classes:						false !default;
$include-lv-html-alert-classes:					false !default;

@import "./global/mixins/deprecation";

@if ($include-html-grid-classes) {
	@include deprecate-var-name("include-html-grid-classes", "include-lv-html-grid-classes");
	$include-lv-html-grid-classes:	true;
}
@if ($include-html-block-grid-classes) {
	@include deprecate-var-name("include-html-block-grid-classes", "include-lv-html-block-grid-classes");
	$include-lv-html-block-grid-classes: true;
}
@if ($include-html-visibility-classes) {
	@include deprecate-var-name("include-html-visibility-classes", "include-lv-html-visibility-classes");
	$include-lv-html-visibility-classes: true;
}

@if ($include-lv-html-alert-classes) {
	@include deprecate-var-name("include-lv-html-alert-classes", "include-lv-html-notification-classes");
	$include-lv-html-notification-classes: true;
}

//
// FEATURE TOGGLES
//
$include-lv-html-ghosting-classes:	true;
