// ==========================================================================
// LV FOUNDATION - navigation - filter-nav-entry-vertical
// ==========================================================================

//
// Here, we define filter-nav-entry-vertical, used to delcare navigation.
//

@mixin filter-nav-entry-vertical(
	$margin: $filter-nav-entry-margin-vertical
) {
	float: none;
	margin: $margin;
	width: 100%;
	&:last-child {
		margin-bottom: 0;
	}
}
