// ==========================================================================
// LV FOUNDATION - navigation - filter-nav-entry-styles
// ==========================================================================

//
// Here, we define filter-nav-entry-styles, used to delcare navigation.
//

@mixin filter-nav-entry-styles(
	$background-color: $filter-nav-entry-background-color,
	$background-color-hover: $filter-nav-entry-hover-background-color,
	$background-color-click: $filter-nav-entry-click-background-color,
	$background-color-active: $filter-nav-entry-active-background-color,

	$text-color: $filter-nav-entry-text-color,
	$text-color-hover: $filter-nav-entry-hover-text-color,
	$text-color-click: $filter-nav-entry-click-text-color,
	$text-color-active: $filter-nav-entry-active-text-color,
	$text-decoration: $filter-nav-entry-text-decoration,

	$opacity-hover: null,
	$opacity-active: null
) {

	a, 
	button {

		@if ($background-color) {
			background-color: $background-color;
		}

		@if ($text-color) {
			color: $text-color;
		}

		&:active {

			color: $text-color-click;
			background-color: $background-color-click;

			@if ($opacity-hover) {
				opacity: $opacity-active;
			}
		}

		&:hover {

			color: $text-color-hover;
			background-color: $background-color-hover;

			@if ($text-decoration) {
				text-decoration: $text-decoration;
			}
			@if ($opacity-hover) {
				opacity: $opacity-hover;
			}
		}
	}

	&.active {

		a,
		button {

			color: $text-color-active;
			background-color: $background-color-active;

			@if ($opacity-hover) {
				opacity: $opacity-active;
			}
		}
	}

	button {

		&:focus {
			color: $text-color-active;
			background-color: $background-color-active;
		}
	}
}