// ==========================================================================
// LV FOUNDATION - navigation - filter-nav-entry-base
// ==========================================================================

//
// Here, we define filter-nav-entry-base, used to delcare navigation.
//

@mixin filter-nav-entry-base(
	$font-size: $filter-nav-entry-font-size,
	$margin: $filter-nav-entry-margin-horizontal,
	$border-radius: $filter-nav-entry-border-radius,
	$padding-vert: $filter-nav-entry-padding-vert,
	$padding-horiz: $filter-nav-entry-padding-horiz
) {
	cursor: pointer;
	display: inline-block;
	float: left;
	margin-right: $margin;
	font-size: $font-size;
	border-radius: $border-radius;
	overflow: hidden;

	button {
		@include reset-button;
	}

	button,
	a {
		font-size: $font-size;
		display: block;
		padding: $padding-vert $padding-horiz;
		width: 100%;
	}

	button {
		line-height: inherit;
		text-align: left;
	}
}