// ==========================================================================
// LV FOUNDATION - navigation - heading-nav-entry-base
// ==========================================================================

//
// Here, we define heading-nav-entry-base, used to delcare navigation.
//

@mixin heading-nav-entry-base(
	$margin: $heading-nav-entry-margin,
	$font-size: $heading-nav-entry-font-size,
	$line-height: $heading-nav-entry-line-height,
	$font-weight: $heading-nav-entry-font-weight,
	$text-decoration: $heading-nav-entry-text-decoration,
	$background-color: $heading-nav-entry-background-color
) {

	display: inline-block;
	margin-right: $margin;
	font-weight: $font-weight;
	font-size: $font-size;
	line-height: $line-height;

	a, button {
		text-decoration: $text-decoration;
		font-size: inherit;

		&:visited {
			text-decoration: $text-decoration;
			background-color: $background-color;
		}
	}
	button {
		@include reset-button();
	}

	&:hover,
	&:active,
	&.active {
		a, button {
			font-size: inherit;
			text-decoration: $text-decoration;
			background-color: $background-color;
		}
	}
}