// ==========================================================================
// LV FOUNDATION - navigation - heading-nav-entry-styles
// ==========================================================================

//
// Here, we define heading-nav-entry-styles, used to delcare navigation.
//

@mixin heading-nav-entry-styles(
	$text-color: $heading-nav-entry-text-color,
	$text-color-active: $heading-nav-entry-active-text-color,
	$text-color-click: $heading-nav-entry-click-text-color,
	$text-color-hover: $heading-nav-entry-hover-text-color,
	
	$text-opacity-hover: null,
	$text-opacity-active: null,
	$text-opacity: null,
	$text-opacity-click: null
) {

	a, 
	button {

		color: $text-color;
		
		@if ($text-opacity) {
			opacity: $text-opacity;
		}

		&:active {
			color: $text-color-click;

			@if ($text-opacity-click) {
				opacity: $text-opacity-click;
			}
		}
		
		&:hover {
			color: $text-color-hover;

			@if ($text-opacity-hover) {
				opacity: $text-opacity-hover;
			}
		}
	}

	&.active {

		a,
		button {
			color: $text-color-active;

			@if ($text-opacity-active) {
				opacity: $text-opacity-active;
			}	
		}
	}

	button {

		&:focus {
			color: $text-color-active;
		}
	}
}