// ==========================================================================
// LV FOUNDATION - labels
// =========================================================================

//
// Here, we define custom CSS-declaration overrides for Foundation's built-in
// labels component.
//

//
// CSS DECLARATIONS
// ==========================================================================

@if $include-lv-html-label-classes {
	
	.label {
		@include label-base;
		@include label-size($responsive: true);
		@include label-style;

		&.large {
			@include label-size(
				$text-size: $label-lrg-font-sizing,
				$margin: false
			);
		}

		&.medium {
			@include label-size(
				$text-size: $label-med-font-sizing,
				$margin: false
			);
		}

		&.small {
			@include label-size(
				$text-size: $label-sml-font-sizing,
				$margin: false
			);
		}

		&.tiny {
			@include label-size(
				$text-size: $label-tny-font-sizing,
				$margin: false
			);
		}

		&.secondary	{ @include label-style($secondary-color); }
		&.tertiary	{ @include label-style($tertiary-color); }

		&.alert     { @include label-style($alert-color); }
		&.warning   { @include label-style($warning-color); }
		&.success   { @include label-style($success-color); }
		&.info      { @include label-style($info-color); }
	}

	@include ghost('.label') {
		@include label-style (
			$bg: $label-default-bg-color-ghost, 
			$text-color: $label-default-text-color-ghost,
			$auto-text-color: false
		);
		&.secondary	{ 
			@include label-style(
				$label-secondary-bg-color-ghost, 
				$text-color: $label-secondary-text-color-ghost,
				$auto-text-color: false
			); 
		}
		&.tertiary	{ 
			@include label-style(
				$bg: $label-tertiary-bg-color-ghost, 
				$text-color: $label-tertiary-text-color-ghost,
				$auto-text-color: false
			); 
		}
		&.alert     { 
			@include label-style(
				$bg: $label-alert-bg-color-ghost, 
				$text-color: $label-alert-text-color-ghost,
				$auto-text-color: false
			); 
		}
		&.warning   { 
			@include label-style(
				$bg: $label-warning-bg-color-ghost, 
				$text-color: $label-warning-text-color-ghost,
				$auto-text-color: false
			); 
		}
		&.success   { 
			@include label-style(
				$bg: $label-success-bg-color-ghost, 
				$text-color: $label-success-text-color-ghost,
				$auto-text-color: false
			); 
		}
		&.info      { 
			@include label-style(
				$bg: $label-info-bg-color-ghost, 
				$text-color: $label-info-text-color-ghost,
				$auto-text-color: false
			); 
		}
	}
}