// ==========================================================================
// LV FOUNDATION - labels
// =========================================================================

//
// Here, we define custom CSS-declaration overrides for Foundation's built-in
// labels.
//

//
// FOUNDATION DEFAULTS
// ==========================================================================

// We use these to style the labels
$label-padding: rem-calc(4 8 4) !default;
$label-radius: $global-radius !default;

// We use these to style the label text
$label-font-sizing: rem-calc(11) !default;
$label-font-weight: $font-weight-normal !default;
$label-font-color: $off-black !default;
$label-font-color-alt: $true-white !default;
$label-font-family: $body-font-family !default;

//
// THEMING DEFAULTS
// ==========================================================================

$label-border-radius: 0 !default;
$label-resp-font-sizing: 0.75em !default;
$label-resp-padding: 0.25em 0.375em !default;
$label-resp-margin: false !default;

$label-tny-font-sizing: 0.75rem !default;
$label-sml-font-sizing: 1rem !default;
$label-med-font-sizing: 1.5rem !default;
$label-lrg-font-sizing: 2rem !default;

//
// GHOSTING COLORS
// ==========================================================================

//
// GHOST BACKGROUND COLORS
//
$label-default-bg-color-ghost: $primary-color !default;
$label-secondary-bg-color-ghost: $secondary-color !default;
$label-tertiary-bg-color-ghost: $tertiary-color !default;
$label-alert-bg-color-ghost: $alert-color !default;
$label-warning-bg-color-ghost: $warning-color !default;
$label-success-bg-color-ghost: $success-color !default;
$label-info-bg-color-ghost: $info-color !default;

//
// GHOST TEXT COLORS
//
$label-default-text-color-ghost: $true-white !default;
$label-secondary-text-color-ghost: $off-black !default;
$label-tertiary-text-color-ghost: $true-black !default;
$label-alert-text-color-ghost: $true-white !default;
$label-warning-text-color-ghost: $true-white !default;
$label-success-text-color-ghost: $true-white !default;
$label-info-text-color-ghost: $off-black !default;