// ==========================================================================
// LV FOUNDATION - DECLARATIONS - button-groups
// ==========================================================================

// 
// Below we declare all properties referring to the `alert-box` component.
// 

@if $include-lv-html-button-classes {
	.button-group {
		@include button-group-container;

		// 
		// TODO
		// Bake this into button-group-container mixin
		margin-bottom: $button-margin-bottom;

		@for $i from 2 through 8 {
			&.even-#{$i} li {
				@include button-group-even($even: $i);
			}
		}

		> li {
			@include button-group-entry-base;
			@include button-group-entry-style(
				$button-key: "primary"
			);
		}

		@include button-group-style-variants(
			$extend-button-props: true
		);

		//
		// VERTICAL
		// ==========================================================================
		
		&.stack {
			> li {
				@include button-group-entry-base($orientation: vertical);
				@include button-group-entry-style($orientation: vertical);
			}

			@include button-group-style-variants(
				$orientation: "vertical"
			);
		}

		&.stack-for-small {

			@media #{$small-only} {

				> li {
					@include button-group-entry-base($orientation: vertical);
					@include button-group-entry-style($orientation: vertical);
				}

				@include button-group-style-variants(
					$orientation: "vertical"
				);
			}
		}

		&.tiny {
			> li {
				@include button-group-entry-size("tiny");
			}
		}

		&.small {
			> li {
				@include button-group-entry-size("small");
			}
		}

		&.large {
			> li {
				@include button-group-entry-size("large");
			}
		}
	}
}