// ==========================================================================
// LV FOUNDATION - navigation
// ==========================================================================

//
// Here, we define custom CSS-declaration overrides for LV-Foundation's built-in
// navigation component.
//

//
// CSS DECLARATIONS
// ==========================================================================

@if ($include-lv-html-navigation-classes) {

	%navigation-reset-list {
		@include navigation-reset-list;
	}

	.filter-nav {
		@extend %navigation-reset-list;
		@include clearfix;
	}

	.filter-nav-entry {
		@include filter-nav-entry-base();
		@include filter-nav-entry-styles();
	}

	.filter-nav.vertical {
		.filter-nav-entry {
			@include filter-nav-entry-vertical();
		}
	}

	@include ghost('.filter-nav') {

		.filter-nav-entry {

			@include filter-nav-entry-styles(
				$background-color: $filter-nav-entry-ghost-background-color,
				$background-color-hover: $filter-nav-entry-ghost-hover-background-color,
				$background-color-click: $filter-nav-entry-ghost-click-background-color,
				$background-color-active: $filter-nav-entry-ghost-active-background-color,

				$text-color: $filter-nav-entry-ghost-text-color,
				$text-color-hover: $filter-nav-entry-ghost-hover-text-color,
				$text-color-click: $filter-nav-entry-ghost-click-text-color,
				$text-color-active: $filter-nav-entry-ghost-active-text-color,
				$text-decoration: $filter-nav-entry-ghost-text-decoration,

				$opacity-hover: $filter-nav-entry-opacity-hover,
				$opacity-active: $filter-nav-entry-opacity-active
			)
		}
	}

	.heading-nav {
		@extend %navigation-reset-list;
	}

	.heading-nav-entry {	
		@include heading-nav-entry-base();
		@include heading-nav-entry-styles();
	}

	@include ghost('.heading-nav') {

		.heading-nav-entry {
			@include heading-nav-entry-styles(
				$text-color: $heading-nav-entry-ghost-text-color,
				$text-color-active: $heading-nav-entry-ghost-text-color,
				$text-color-click: $heading-nav-entry-ghost-text-color,
				$text-color-hover: $heading-nav-entry-ghost-text-color,

				$text-opacity-hover: $heading-nav-entry-hover-text-opacity,
				$text-opacity-active: $heading-nav-entry-active-text-opacity,
				$text-opacity: $heading-nav-entry-text-opacity,
				$text-opacity-click: $heading-nav-entry-click-text-opacity
			)
		}
	}
}