// ==========================================================================
// LV FOUNDATION - navigation
// ==========================================================================

//
// Here, we define default values for used to generate CSS for LV-Foundation's
// navigation component.
//

//
// THEMING DEFAULTS
// ==========================================================================

// 
// FILTER NAV
// 

$filter-nav-entry-font-size:				rem-calc(14)	!default;
$filter-nav-entry-text-decoration:			none 			!default;
$filter-nav-entry-background-color:			transparent 	!default;
$filter-nav-entry-text-color:				$dark-grey 		!default;

$filter-nav-entry-hover-text-color:			$primary-color !default;
$filter-nav-entry-hover-background-color:	lighten($primary-color, 75%) !default;

$filter-nav-entry-click-text-color:			darken($filter-nav-entry-hover-text-color, 10%) !default;
$filter-nav-entry-click-background-color:	darken($filter-nav-entry-hover-background-color, 2.5%) !default;

$filter-nav-entry-active-text-color:		$true-white 		!default;
$filter-nav-entry-active-background-color:	$primary-mute-color !default;

$filter-nav-entry-padding-vert:			0.75rem			!default;
$filter-nav-entry-padding-horiz:		1rem 			!default;
$filter-nav-entry-margin-horizontal:	0.25rem 		!default;
$filter-nav-entry-margin-vertical:		0 				!default;
$filter-nav-entry-border-radius: 		$global-radius	!default;

//
//FILTER NAV GHOSTING
//

$filter-nav-entry-ghost-background-color: 			transparent !default;
$filter-nav-entry-ghost-hover-background-color: 	$true-white !default;
$filter-nav-entry-ghost-click-background-color: 	$true-white !default;
$filter-nav-entry-ghost-active-background-color: 	$true-white !default;

$filter-nav-entry-ghost-text-color: 		$medium-grey	 !default;
$filter-nav-entry-ghost-hover-text-color: 	$primary-color	 !default;
$filter-nav-entry-ghost-click-text-color: 	$true-white		 !default;
$filter-nav-entry-ghost-active-text-color: 	$primary-color	 !default;
$filter-nav-entry-ghost-text-decoration: 	none		 	!default;

$filter-nav-entry-opacity-hover: 	0.7 !default;
$filter-nav-entry-opacity-active: 	1.0 !default;

// 
// HEADING-NAV
// 

$heading-nav-entry-text-color:			$dark-grey 					!default;
$heading-nav-entry-hover-text-color: 	$primary-color 				!default;
$heading-nav-entry-click-text-color: 	darken($primary-color, 5%) 	!default;
$heading-nav-entry-active-text-color: 	$off-black 					!default;

$heading-nav-entry-margin:		 		1rem 			!default;
$heading-nav-entry-font-size:			rem-calc(24) 	!default;
$heading-nav-entry-line-height:			rem-calc(24) 	!default;
$heading-nav-entry-font-weight:			normal 			!default;
$heading-nav-entry-text-decoration:		none 			!default;
$heading-nav-entry-background-color: 	transparent 	!default;

//
//HEADING NAV GHOSTING
//

$heading-nav-entry-ghost-text-color:		$true-white	!default; 
$heading-nav-entry-active-text-opacity:		1.0			!default;
$heading-nav-entry-text-opacity:			0.7			!default;
$heading-nav-entry-hover-text-opacity:		0.9			!default;
$heading-nav-entry-click-text-opacity:		0.8			!default;