@mixin reset-button() {
	margin-top: 0;
	margin-bottom: 0;
	background-color: transparent;
	border: 0;
	padding:0;

	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	cursor: pointer;
	letter-spacing: normal;

	&:hover,
	&:active,
	&:focus {
		color: inherit;
		background-color: transparent;
	}
}